<div class="dashboard__content bgc-f7">
    <div class="row pb40 d-block d-lg-none">
        <!-- Menu responsive -->
        <app-menu-responsive></app-menu-responsive>
        <!-- End Menu responsive -->
    </div>

    <p-toast></p-toast>

    <!-- Liste des responsables d'agences immobilières - Vue Administrateur -->
    <div *ngIf="user.role.code == 'ROLE_ADMINISTRATEUR'">
        <div class="row align-items-center pb40">
            <div class="col-xxl-3">
                <div class="dashboard_title_area">
                    <h4>Liste des responsables</h4>
                </div>
            </div>
            <div class="col-xxl-9">
                <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
                    <div class="item1 mb15-sm">
                        <div class="search_area">
                            <input type="text" [(ngModel)]="recherche" class="form-control bdrs12" placeholder="Faire une recherche">
                            <label><span class="flaticon-search"></span></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
            <div class="col-xl-12">
                <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
                    <div class="packages_table table-responsive">
                        <table class="table-style3 table at-savesearch">
                            <thead class="t-head">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prénom(s)</th>
                                    <th scope="col">Etat</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="t-body">
                                <tr *ngFor="let responsable of responsablesAgenceImmobiliere.content | genericFilter: recherche;  let i = index">
                                    <td class="vam">{{ (numeroDeLaPage * elementsParPage) + i + 1 }}</td>
                                    <td class="vam">{{ responsable.nom }}</td>
                                    <td class="vam">{{ responsable.prenom }} <i *ngIf="responsable.estCertifie" class="fa-sharp fa-solid fa-badge-check fa-lg" style="color: #0f77e6;"></i></td>
                                    <td class="vam">
                                        <p-tag *ngIf="responsable.etatCompte == true" severity="success" value="Activé"></p-tag>
                                        <p-tag *ngIf="responsable.etatCompte == false" severity="danger" value="Désactivé"></p-tag>
                                    </td>
                                    <td class="vam">
                                        <div class="d-flex">
                                            <button pButton type="button" (click)="voirPageDetail(responsable.id)" icon="pi pi-eye" pTooltip="Détails" tooltipPosition="right" class="p-button-text p-button-info">
                      </button>

                                            <button pButton type="button" *ngIf="responsable.etatCompte == true" (click)="desactiverCompte(responsable.id)" icon="pi pi-lock" pTooltip="Désactiver ce compte" tooltipPosition="top" class="p-button-text p-button-danger">
                      </button>

                                            <button pButton type="button" *ngIf="responsable.etatCompte == false" (click)="activerCompte(responsable.id)" icon="pi pi-lock-open" pTooltip="Activer ce compte" tooltipPosition="left" class="p-button-text p-button-success">
                      </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="responsablesAgenceImmobiliere.totalElements !== 0" class="mbp_pagination text-center mt30">
                        <p-paginator (onPageChange)="pagination($event)" [rows]="responsablesAgenceImmobiliere.size" [totalRecords]="responsablesAgenceImmobiliere.totalElements" [rowsPerPageOptions]="[5, 10, 15]" [showPageLinks]="true" [showFirstLastIcon]="true" [showCurrentPageReport]="true"
                            currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} responsables d'agence immobilière">
                        </p-paginator>
                    </div>
                    <div *ngIf="responsablesAgenceImmobiliere.totalElements == 0" class="mbp_pagination text-center mt30">
                        <p class="mt10 pagination_page_count text-center">Aucun compte responsable d'agence immobilière crée pour le moment</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Liste des responsables d'agences immobilières - Vue Administrateur -->


    <!-- Liste des responsables d'agences immobilières - Vue Responsable -->
    <div *ngIf="user.role.code == 'ROLE_RESPONSABLE'">
        <div class="row align-items-center pb40">
            <div class="col-xxl-3">
                <div class="dashboard_title_area">
                    <h4>Liste des responsables</h4>
                </div>
            </div>
            <div class="col-xxl-9">
                <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
                    <div class="item1 mb15-sm">
                        <div class="search_area">
                            <input type="text" [(ngModel)]="recherche" class="form-control bdrs12" placeholder="Faire une recherche">
                            <label><span class="flaticon-search"></span></label>
                        </div>
                    </div>
                    &nbsp;
                    <a type="button" (click)="voirPageAjout()" class="ud-btn btn-thm">Ajouter un co - responsable</a>
                </div>
            </div>
        </div>
        <div class="row">
            <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
            <div class="col-xl-12">
                <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
                    <div class="col-xl-4" *ngIf="agencesImmobilieres.length > 1">
                        <p-dropdown class="select" emptyMessage="Aucun résultat trouvé" [options]="agencesImmobilieres" placeholder="Filtrer par agence" formControlName="agenceImmobiliere" [(ngModel)]="agenceSelectionnee" [showClear]="true" (onChange)="filtrerResponsableParAgence($event)"
                            optionLabel="nomAgence">
                            <ng-template let-agenceImmobiliere pTemplate="item">
                                {{ agenceImmobiliere.codeAgence }}/ {{ agenceImmobiliere.nomAgence }}
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <br>
                    <div class="packages_table table-responsive">
                        <table class="table-style3 table at-savesearch">
                            <thead class="t-head">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col" *ngIf="agencesImmobilieres.length > 1">Agence immobilère</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prénom(s)</th>
                                    <th scope="col">Etat</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="t-body">
                                <tr *ngFor="let affectationResponsableAgence of affectationsResponsableAgences.content | genericFilter: recherche;  let i = index">
                                    <td class="vam">{{ (numeroDeLaPage * elementsParPage) + i + 1 }}</td>
                                    <th scope="row" *ngIf="agencesImmobilieres.length > 1">
                                        <div class="listing-style1 dashboard-style d-xxl-flex align-items-center mb-0">
                                            <div class="list-thumb">
                                                <img *ngIf="affectationResponsableAgence.agenceImmobiliere.logoAgence == ''" class="w-100" src="assets/images/team/logo_par_defaut.jpg" alt="">

                                                <img *ngIf="affectationResponsableAgence.agenceImmobiliere.logoAgence !== ''" class="w-100" src="{{this.APIEndpoint+'api/logo/agence-immobiliere/'+ affectationResponsableAgence.agenceImmobiliere.id}}" alt="">
                                            </div>
                                            <div class="list-content flex-shrink-1">
                                                <h6 class="list-title"><a href="{{this.APIEndpoint+'api/logo/agence-immobiliere/'+ affectationResponsableAgence.agenceImmobiliere.id}}">{{ affectationResponsableAgence.agenceImmobiliere.adresse }}</a></h6>
                                                <p class="list-text">{{ affectationResponsableAgence.agenceImmobiliere.nomAgence }} <i *ngIf="affectationResponsableAgence.agenceImmobiliere && affectationResponsableAgence.agenceImmobiliere.estCertifie == true" class="fa-sharp fa-solid fa-badge-check fa-lg"
                                                        style="color: #0f77e6;"></i></p>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="vam">{{ affectationResponsableAgence.responsableAgenceImmobiliere.nom }}</td>
                                    <td class="vam">{{ affectationResponsableAgence.responsableAgenceImmobiliere.prenom }} <i *ngIf="affectationResponsableAgence.responsableAgenceImmobiliere.estCertifie" class="fa-sharp fa-solid fa-badge-check fa-lg" style="color: #0f77e6;"></i></td>
                                    <td class="vam">
                                        <p-tag *ngIf="affectationResponsableAgence.actif == true" severity="success" value="Activé"></p-tag>
                                        <p-tag *ngIf="affectationResponsableAgence.actif == false" severity="danger" value="Désactivé"></p-tag>
                                    </td>
                                    <td class="vam">
                                        <div class="d-flex">
                                            <button pButton type="button" (click)="voirPageDetail(affectationResponsableAgence.id)" icon="pi pi-eye" pTooltip="Détails" tooltipPosition="right" class="p-button-text p-button-info">
                      </button>

                                            <button pButton type="button" *ngIf="affectationResponsableAgence.actif == true" (click)="desactiverCompteResponsableAgence(affectationResponsableAgence.id)" icon="pi pi-lock" pTooltip="Désactiver ce compte" tooltipPosition="top" class="p-button-text p-button-danger">
                      </button>

                                            <button pButton type="button" *ngIf="affectationResponsableAgence.actif == false" (click)="activerCompteResponsableAgence(affectationResponsableAgence.id)" icon="pi pi-lock-open" pTooltip="Activer ce compte" tooltipPosition="left" class="p-button-text p-button-success">
                      </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="affectationsResponsableAgences.totalElements !== 0" class="mbp_pagination text-center mt30">
                        <p-paginator (onPageChange)="pagination($event)" [rows]="affectationsResponsableAgences.size" [totalRecords]="affectationsResponsableAgences.totalElements" [rowsPerPageOptions]="[5, 10, 15]" [showPageLinks]="true" [showFirstLastIcon]="true" [showCurrentPageReport]="true"
                            currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} responsables d'agence immobilière">
                        </p-paginator>
                    </div>
                    <div *ngIf="affectationsResponsableAgences.totalElements == 0" class="mbp_pagination text-center mt30">
                        <p class="mt10 pagination_page_count text-center">Aucun compte responsable d'agence immobilière crée pour le moment</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Liste des responsables d'agences immobilières - Vue Responsable -->
</div>
