<div class="dashboard__content bgc-f7">
  <div class="row pb40 d-block d-lg-none">
    <!-- Menu responsive -->
    <app-menu-responsive></app-menu-responsive>
    <!-- End Menu responsive -->
  </div>

  <p-toast></p-toast>

  <!-- Liste des responsables d'agences immobilières - Vue Administrateur -->
  <div *ngIf="affichage == 1 && user.role.code == 'ROLE_ADMINISTRATEUR'">
    <div class="row align-items-center pb40">
      <div class="col-xxl-3">
        <div class="dashboard_title_area">
          <h4>Liste des responsables</h4>
        </div>
      </div>
      <div class="col-xxl-9">
        <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
          <div class="item1 mb15-sm">
            <div class="search_area">
              <input type="text" [(ngModel)]="recherche" class="form-control bdrs12" placeholder="Faire une recherche">
              <label><span class="flaticon-search"></span></label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
          <div class="packages_table table-responsive">
            <table class="table-style3 table at-savesearch">
              <thead class="t-head">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Prénom(s)</th>
                  <th scope="col">Etat compte</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody class="t-body">
                <tr *ngFor="let responsable of responsablesAgenceImmobiliere.content | genericFilter: recherche;  let i = index">
                  <td class="vam">{{ (numeroDeLaPage * elementsParPage) + i + 1 }}</td>
                  <td class="vam">{{ responsable.nom }}</td>
                  <td class="vam">{{ responsable.prenom }} <i *ngIf="responsable.estCertifie" class="fa-sharp fa-solid fa-badge-check fa-lg" style="color: #0f77e6;"></i></td>
                  <td class="vam">
                    <p-tag *ngIf="responsable.etatCompte == true" severity="success" value="Activé"></p-tag>
                    <p-tag *ngIf="responsable.etatCompte == false" severity="danger" value="Désactivé"></p-tag>
                  </td>
                  <td class="vam">
                    <div class="d-flex">
                      <button pButton type="button" (click)="afficherPageDetail(responsable.id)" icon="pi pi-eye"
                        pTooltip="Détails" tooltipPosition="right" class="p-button-text p-button-info">
                      </button>

                      <button pButton type="button" *ngIf="responsable.etatCompte == true"(click)="desactiverCompte(responsable.id)" icon="pi pi-lock"
                        pTooltip="Désactiver ce compte" tooltipPosition="top"class="p-button-text p-button-danger">
                      </button>

                      <button pButton type="button" *ngIf="responsable.etatCompte == false" (click)="activerCompte(responsable.id)" icon="pi pi-lock-open"
                        pTooltip="Activer ce compte" tooltipPosition="left"class="p-button-text p-button-success">
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="responsablesAgenceImmobiliere.totalElements !== 0" class="mbp_pagination text-center mt30">
            <p-paginator
              (onPageChange)="pagination($event)" [rows]="responsablesAgenceImmobiliere.size"
              [totalRecords]="responsablesAgenceImmobiliere.totalElements" [rowsPerPageOptions]="[5, 10, 15]"
              [showPageLinks]="true" [showFirstLastIcon]="true" [showCurrentPageReport]="true"
              currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} responsables d'agence immobilière">
            </p-paginator>
          </div>
          <div *ngIf="responsablesAgenceImmobiliere.totalElements == 0" class="mbp_pagination text-center mt30">
            <p class="mt10 pagination_page_count text-center">Aucun compte responsable d'agence immobilière crée pour le moment</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Liste des responsables d'agences immobilières - Vue Administrateur -->

  <!-- Details d'un responsable d'agence immobilière - Vue Administrateur -->
  <div *ngIf="affichage == 2 && user.role.code == 'ROLE_ADMINISTRATEUR'">
    <div  class="row align-items-center pb40">
      <div class="col-xxl-3">
        <div class="dashboard_title_area">
          <h4>Détails d'un responsable</h4>
        </div>
      </div>
      <div class="col-xxl-9">
        <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
          <a class="ud-btn btn-retour" type="button" (click)="voirListe()">Retour</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">

          <div class="row">

            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Nom</p>
              <p>{{ responsableAgenceImmobiliere.nom }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Prénom(s)</p>
              <p>{{ responsableAgenceImmobiliere.prenom }} <i *ngIf="responsableAgenceImmobiliere.estCertifie" class="fa-sharp fa-solid fa-badge-check fa-lg" style="color: #0f77e6;"></i></p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Nom d'utilisateur</p>
              <p>{{ responsableAgenceImmobiliere.username }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Matricule</p>
              <p>{{ responsableAgenceImmobiliere.matricule }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Adresse e-mail</p>
              <p>{{ responsableAgenceImmobiliere.email }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Numéro de téléphone</p>
              <p>{{ responsableAgenceImmobiliere.telephone }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Profil</p>
              <p>{{ responsableAgenceImmobiliere.role.libelle }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Etat du compte</p>
              <p>
                <p-tag *ngIf="responsableAgenceImmobiliere.etatCompte == true" severity="success" value="Activé"></p-tag>
                <p-tag *ngIf="responsableAgenceImmobiliere.etatCompte == false" severity="danger" value="Désactivé"></p-tag>
              </p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Est certifié</p>
              <p>
                <p-tag *ngIf="responsableAgenceImmobiliere.estCertifie == true" severity="success" value="Oui"></p-tag>
                <p-tag *ngIf="responsableAgenceImmobiliere.estCertifie == false" severity="danger" value="Non"></p-tag>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-end">
      <a class="ud-btn btn-retour" (click)="voirListe()" type="button">Retour</a>
    </div>
  </div>
  <!-- End Details d'un responsable d'agence immobilière - Vue Administrateur -->

  <!-- Formulaire d'ajout d'un responsable d'agence -->
  <div *ngIf="visibleAddForm == 1">
    <div class="row align-items-center pb40">
      <div class="col-xxl-9">
        <div class="dashboard_title_area">
          <h4>Ajout d'un co - responsable</h4>
          <p class="text"></p>
        </div>
      </div>
      <div class="col-xxl-3">
        <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
          <a class="ud-btn btn-retour" type="button" (click)="voirListe()">Retour</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
          <form [formGroup]="affectationResponsableAgenceForm" (ngSubmit)="ajouterAffectationResponsableAgence()" class="form-style1">
            <div class="row">
              <p *ngIf="checked == 'Nouveau responsable'" class="error">Les identifiants de connexion seront envoyés à l'adresse e-mail une fois l'opération de l'enregistrement terminée.</p>
              <div class="col-md-6">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Nouveau responsable / Responsable existant</label>
                  <br>
                  <p-dropdown
                    class="select" [options]="listeDesChoix" placeholder="Faire un choix"
                    [(ngModel)]="checked" (onChange)="onChoixChange($event)"
                    [ngModelOptions]="{standalone: true}">
                  </p-dropdown>
                </div>
              </div>

              <div class="col-md-6">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Agence immobilière</label>
                  <br>
                  <p-dropdown
                    class="select" emptyFilterMessage="Aucun résultat trouvé"
                    emptyMessage="Aucun résultat trouvé"
                    [options]="agencesImmobilieres" placeholder="Choisir une agence"
                    formControlName="agenceImmobiliere" [filter]="true" filterBy="codeAgence,nomAgence"
                    filterPlaceholder="Rechercher"
                    [showClear]="true" (onChange)="agenceChoisie($event)" optionLabel="nomAgence">
                    <ng-template let-agenceImmobiliere pTemplate="item">
                      {{ agenceImmobiliere.codeAgence }}/ {{ agenceImmobiliere.nomAgence }}
                    </ng-template>
                  </p-dropdown>
                  <div class="error" [hidden]="!agenceImmobiliere?.hasError('required') || !agenceImmobiliere.touched">La selection de l'agence est obligatoire</div>
                </div>
              </div>

              <div *ngIf="checked == 'Responsable existant'" class="col-lg-6">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Matricule</label>
                  <input type="text" class="form-control" id="matricule" name="matricule" placeholder="Le matricule du co - responsable" formControlName="matricule" [(ngModel)]="responsableAgenceImmobiliere.matricule" required>
                  <div class="error" [hidden]="!matricule?.hasError('required') || !matricule.touched">La matricule du co - responsable est obligatoire</div>
                </div>
              </div>

              <div *ngIf="checked == 'Nouveau responsable'" class="col-lg-6">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Nom</label>
                  <input type="text" class="form-control" id="nom" name="nom" placeholder="Le nom du co - responsable" formControlName="nom" [(ngModel)]="responsableAgenceImmobiliere.nom" required>
                  <div class="error" [hidden]="!nom?.hasError('required') || !nom.touched">Le nom du co - responsable est obligatoire</div>
                </div>
              </div>

              <div *ngIf="checked == 'Nouveau responsable'" class="col-lg-6">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Prénoms(s)</label>
                  <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Le(s) prénom(s) du co - responsable" formControlName="prenom" [(ngModel)]="responsableAgenceImmobiliere.prenom" required>
                  <div class="error" [hidden]="!prenom?.hasError('required') || !prenom.touched">Le prénom du co-responsable est obligatoire</div>
                </div>
              </div>

              <div *ngIf="checked == 'Nouveau responsable'" class="col-lg-6">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Email</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="L'email du co - responsable" formControlName="email" [(ngModel)]="responsableAgenceImmobiliere.email" required>
                  <div class="error" [hidden]="!email?.hasError('required') || !email.touched">
                    L'e-mail du co - responsable est obligatoire
                  </div>
                  <div class="error" [hidden]="!email?.hasError('email') || !email.touched">
                    L'e-mail du co - responsable n'est pas valide.
                  </div>
                </div>
              </div>

              <div *ngIf="checked == 'Nouveau responsable'" class="col-lg-6">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Téléphone</label>
                  <input type="text" class="form-control" id="telephone" name="telephone" placeholder="Le numero de téléphone du co - responsable" formControlName="telephone" [(ngModel)]="responsableAgenceImmobiliere.telephone" required>
                  <div class="error" [hidden]="!telephone?.hasError('required') || !telephone.touched">Le numero de téléphone du co - responsable est obligatoire</div>
                </div>
              </div>

            </div>

            <div class="col-md-12">
              <div class="text-end">
                <button class="ud-btn btn-annuler" type="button" (click)="annuler()">Annuler</button>
                &nbsp;
                <button class="ud-btn btn-valider" [ngClass]="{ 'disabled-link': affectationResponsableAgenceForm.invalid }" type="submit">Ajouter</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Formulaire d'ajout d'un responsable d'agence -->

  <!-- Liste des responsables d'agences immobilières - Vue Responsable -->
  <div *ngIf="affichage == 1 && user.role.code == 'ROLE_RESPONSABLE'">
    <div class="row align-items-center pb40">
      <div class="col-xxl-3">
        <div class="dashboard_title_area">
          <h4>Liste des responsables</h4>
        </div>
      </div>
      <div class="col-xxl-9">
        <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
          <div class="item1 mb15-sm">
            <div class="search_area">
              <input type="text" [(ngModel)]="recherche" class="form-control bdrs12" placeholder="Faire une recherche">
              <label><span class="flaticon-search"></span></label>
            </div>
          </div>
          &nbsp;
          <a type="button" *ngIf="visibleAddForm == 0" (click)="afficherFormulaireAjouter()" class="ud-btn btn-thm">Ajouter un co - responsable</a>
        </div>
      </div>
    </div>
    <div class="row">
      <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
          <div class="col-xl-4" *ngIf="agencesImmobilieres.length > 1">
            <p-dropdown
              class="select"
              emptyMessage="Aucun résultat trouvé"
              [options]="agencesImmobilieres" placeholder="Filtrer par agence"
              formControlName="agenceImmobiliere"
              [(ngModel)]="agenceSelectionnee"
              [showClear]="true" (onChange)="filtrerParAgence($event)" optionLabel="nomAgence">
              <ng-template let-agenceImmobiliere pTemplate="item">
                {{ agenceImmobiliere.codeAgence }}/ {{ agenceImmobiliere.nomAgence }}
              </ng-template>
            </p-dropdown>
          </div>
          <br>
          <div class="packages_table table-responsive">
            <table class="table-style3 table at-savesearch">
              <thead class="t-head">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col" *ngIf="agencesImmobilieres.length > 1">Agence immobilère</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Prénom(s)</th>
                  <th scope="col">Etat compte</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody class="t-body">
                <tr *ngFor="let affectationResponsableAgence of affectationsResponsableAgences.content | genericFilter: recherche;  let i = index">
                  <td class="vam">{{ (numeroDeLaPage * elementsParPage) + i + 1 }}</td>
                  <th scope="row" *ngIf="agencesImmobilieres.length > 1">
                    <div class="listing-style1 dashboard-style d-xxl-flex align-items-center mb-0">
                      <div class="list-thumb">
                        <img *ngIf="affectationResponsableAgence.agenceImmobiliere.logoAgence == ''" class="w-100"
                        src="assets/images/team/logo_par_defaut.jpg" alt="">

                        <img *ngIf="affectationResponsableAgence.agenceImmobiliere.logoAgence !== ''" class="w-100"
                        src="{{this.APIEndpoint+'api/logo/agence-immobiliere/'+ affectationResponsableAgence.agenceImmobiliere.id}}" alt="">
                      </div>
                      <div class="list-content flex-shrink-1">
                        <h6 class="list-title"><a href="{{this.APIEndpoint+'api/logo/agence-immobiliere/'+ affectationResponsableAgence.agenceImmobiliere.id}}">{{ affectationResponsableAgence.agenceImmobiliere.adresse }}</a></h6>
                        <p class="list-text">{{ affectationResponsableAgence.agenceImmobiliere.nomAgence }} <i *ngIf="affectationResponsableAgence.agenceImmobiliere && affectationResponsableAgence.agenceImmobiliere.estCertifie == true" class="fa-sharp fa-solid fa-badge-check fa-lg" style="color: #0f77e6;"></i></p>
                      </div>
                    </div>
                  </th>
                  <td class="vam">{{ affectationResponsableAgence.responsableAgenceImmobiliere.nom }}</td>
                  <td class="vam">{{ affectationResponsableAgence.responsableAgenceImmobiliere.prenom }} <i *ngIf="affectationResponsableAgence.responsableAgenceImmobiliere.estCertifie" class="fa-sharp fa-solid fa-badge-check fa-lg" style="color: #0f77e6;"></i></td>
                  <td class="vam">
                    <p-tag *ngIf="affectationResponsableAgence.actif == true" severity="success" value="Activé"></p-tag>
                    <p-tag *ngIf="affectationResponsableAgence.actif == false" severity="danger" value="Désactivé"></p-tag>
                  </td>
                  <td class="vam">
                    <div class="d-flex">
                      <button pButton type="button" (click)="afficherPageDetail(affectationResponsableAgence.id)" icon="pi pi-eye"
                        pTooltip="Détails" tooltipPosition="right" class="p-button-text p-button-info">
                      </button>

                      <button pButton type="button" *ngIf="affectationResponsableAgence.actif == true"(click)="desactiverCompteResponsableAgence(affectationResponsableAgence.id)" icon="pi pi-lock"
                        pTooltip="Désactiver ce compte" tooltipPosition="top"class="p-button-text p-button-danger">
                      </button>

                      <button pButton type="button" *ngIf="affectationResponsableAgence.actif == false" (click)="activerCompteResponsableAgence(affectationResponsableAgence.id)" icon="pi pi-lock-open"
                        pTooltip="Activer ce compte" tooltipPosition="left"class="p-button-text p-button-success">
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="affectationsResponsableAgences.totalElements !== 0" class="mbp_pagination text-center mt30">
            <p-paginator
              (onPageChange)="pagination($event)" [rows]="affectationsResponsableAgences.size"
              [totalRecords]="affectationsResponsableAgences.totalElements" [rowsPerPageOptions]="[5, 10, 15]"
              [showPageLinks]="true" [showFirstLastIcon]="true" [showCurrentPageReport]="true"
              currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} responsables d'agence immobilière">
            </p-paginator>
          </div>
          <div *ngIf="affectationsResponsableAgences.totalElements == 0" class="mbp_pagination text-center mt30">
            <p class="mt10 pagination_page_count text-center">Aucun compte responsable d'agence immobilière crée pour le moment</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Liste des responsables d'agences immobilières - Vue Responsable -->

  <!-- Details d'un responsable d'agence immobilière - Vue Responsable -->
  <div *ngIf="affichage == 2 && user.role.code == 'ROLE_RESPONSABLE'">
    <div  class="row align-items-center pb40">
      <div class="col-xxl-8">
        <div class="dashboard_title_area">
          <h4>Détails d'un responsable</h4>
          <p class="text"></p>
        </div>
      </div>
      <div class="col-xxl-4">
        <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
          <a class="ud-btn btn-retour" type="button" (click)="voirListe()">Retour</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">
          <div class="row">

            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Code agence</p>
              <p>{{ affectationResponsableAgence.agenceImmobiliere.codeAgence }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Nom</p>
              <p>{{ affectationResponsableAgence.agenceImmobiliere.nomAgence }} <i *ngIf="affectationResponsableAgence.agenceImmobiliere && affectationResponsableAgence.agenceImmobiliere.estCertifie == true" class="fa-sharp fa-solid fa-badge-check fa-lg" style="color: #0f77e6;"></i></p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Adresse</p>
              <p>{{ affectationResponsableAgence.agenceImmobiliere.adresse }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Adresse e-mail</p>
              <p>{{ affectationResponsableAgence.agenceImmobiliere.adresseEmail }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Responsable</p>
              <p>{{ affectationResponsableAgence.responsableAgenceImmobiliere.nom }} {{ affectationResponsableAgence.responsableAgenceImmobiliere.prenom }} <i *ngIf="affectationResponsableAgence.responsableAgenceImmobiliere && affectationResponsableAgence.responsableAgenceImmobiliere.estCertifie" class="fa-sharp fa-solid fa-badge-check fa-lg" style="color: #0f77e6;"></i></p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Matricule du responsable</p>
              <p>{{ affectationResponsableAgence.responsableAgenceImmobiliere.matricule }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Adresse e-mail du responsable</p>
              <p>{{ affectationResponsableAgence.responsableAgenceImmobiliere.email }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Numéro de téléphone</p>
              <p>{{ affectationResponsableAgence.agenceImmobiliere.telephone }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Etat du compte</p>
              <p>
                <p-tag *ngIf="affectationResponsableAgence.actif == true" severity="success" value="Activé"></p-tag>
                <p-tag *ngIf="affectationResponsableAgence.actif == false" severity="danger" value="Désactivé"></p-tag>
              </p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Est certifiée</p>
              <p>
                <p-tag *ngIf="affectationResponsableAgence.agenceImmobiliere.estCertifie == true" severity="success" value="Oui"></p-tag>
                <p-tag *ngIf="affectationResponsableAgence.agenceImmobiliere.estCertifie == false" severity="danger" value="Non"></p-tag>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="text-end">
      <a class="ud-btn btn-retour" (click)="voirListe()" type="button">Retour</a>
    </div>
  </div>
  <!-- End Details d'un responsable d'agence - Vue Responsable -->

</div>
