.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form):not(.select) {
    border-left: 5px solid #a94442;
}

.error {
  color: #a94442;
  font-family: 'Inter var', sans-serif;
}

.img {
  margin-top: -1%;
}

.heading {
  margin-top: 0%;
}

.disabled-link {
  pointer-events: none; /* Désactive les événements de pointage, rendant le lien non cliquable */
  opacity: 0.5; /* Réduit l'opacité pour montrer qu'il est désactivé */
  cursor: not-allowed; /* Affiche un curseur "non autorisé" */
}

.large-select {
  height: 55px; /* Remplacez par la largeur que vous souhaitez */
}

.mb5 {
  margin-bottom: 1%;
  margin-top: -3%;
}

.puce-visible {
  list-style-type: disc;
}

:host ::ng-deep .select .p-dropdown {
  width: 100%;
  height: 55px;
  border-radius: 8px;
}

:host ::ng-deep .select .p-dropdown-item {
  margin-left: -20px;
}

.icon-voir-mot-passe {
  left: 95%;
  margin-top: -34px;
  position: absolute;
  z-index: 100;
  cursor: pointer;
}

.hide {
  display: none;
}

:host ::ng-deep .p-steps-title {
  font-family: 'DM Sans', sans-serif;
}

.ud-btn i {
  margin-left: 10px;
  font-size: 16px;
  transform: rotate(0deg);
}
