<div *ngIf="!cacherFormulaire" class="body_content">
  <!-- Our Compare Area -->
  <section class="our-compare pt60 pb60">
    <a routerLink="/" class="logo"><img src="assets/images/icon/property.jpg" alt="" class="login-bg-icon wow fadeInLeft" data-wow-delay="300ms"></a>
    <div class="container">
      <div class="row wow fadeInRight" data-wow-delay="300ms">
        <div class="col-lg-6">

          <div class="log-reg-form signup-modal form-style1 bgc-white p50 p30-sm default-box-shadow2 bdrs12">

            <div class="text-center mb40">
              <a routerLink="/" class="logo"><img class="mb25 img" src="assets/images/ahoe-min.png" width="145" height="38"  alt=""></a>
              <h3 class="heading">Trouver votre compte !</h3>
              <p class="text">Veuillez entrer l'adresse e-mail pour rechercher votre compte.</p>
            </div>

            <div class="alert alert-danger" *ngIf="emailNonTrouve">{{ message }}</div>

            <div class="alert alert-success text-center" *ngIf="loading" style="margin-top: -4%;">
              {{ messageLoading }}
            </div>

            <form *ngIf="!loading" [formGroup]="rechercheCompteForm" (ngSubmit)="rechercherEmail()">
              <div class="mb15">
                <label class="form-label fw600 dark-color">Email</label>
                <input type="email" class="form-control" placeholder="Entrer votre adresse e-mail" id="email" name="email" formControlName="email" required>
                <div class="text-danger" *ngIf="email?.hasError('required') && email.touched">
                  L'adresse e-mail est obligatoire
                </div>
                <div class="text-danger" *ngIf="email?.hasError('email') && email.touched">
                  L'adresse e-mail n'est pas valide.
                </div>
              </div>
              <div class="d-grid mb20">
                <button class="ud-btn btn-thm" [ngClass]="{ 'disabled-link': !rechercheCompteForm.valid }">Rechercher</button>
              </div>
              <p class="dark-color mb0 mt10 text-center">Nouveau sur la plateforme ? <a class="dark-color fw600" href="/inscription">Créer un compte.</a></p>
            </form>

          </div>

        </div>
      </div>
    </div>
  </section>
</div>

<div *ngIf="cacherFormulaire" class="body_content">
  <!-- Our Compare Area -->
  <section class="our-compare pt60 pb60">
    <a routerLink="/" class="logo"><img src="assets/images/icon/property.jpg" alt="" class="login-bg-icon wow fadeInLeft" data-wow-delay="300ms"></a>
    <div class="container">
      <div class="row wow fadeInRight" data-wow-delay="300ms">
        <div class="col-lg-6" style="margin-top: 10%;">
          <div class="text-center mb40">
            <a routerLink="/" class="logo"><img class="mb25 img" src="assets/images/ahoe-min.png" width="145" height="38" alt=""></a>
            <h3 class="heading">Compte trouvé !</h3>
            <p class="text">Un e-mail de réinitialisation vous a été envoyé.</p>
            <p class="text">Veuillez vérifier votre boîte de réception.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

