<div class="dashboard__content property-page bgc-f7">
    <div class="row pb40 d-block d-lg-none">
        <!-- Menu responsive -->
        <app-menu-responsive></app-menu-responsive>
        <!-- End Menu responsive -->
    </div>

    <p-toast></p-toast>
    <p-confirmDialog [style]="{ width: '50vw' }" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>

    <!-- Liste des publications -->
    <div>
        <div class="row align-items-center pb40">
            <div class="col-xxl-3">
                <div class="dashboard_title_area">
                    <h4>Liste des publications</h4>
                </div>
            </div>
            <div class="col-xxl-9">
                <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
                    <div class="item1 mb15-sm">
                        <div class="search_area">
                            <input type="text" [(ngModel)]="recherche" class="form-control bdrs12" placeholder="Faire une recherche" />
                            <label><span class="flaticon-search"></span></label>
                        </div>
                    </div>
                    &nbsp;
                    <!--
                    <a type="button" (click)="voirFormulaireAjouter()" class="ud-btn btn-thm">Ajouter une publication</a> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
                    <div class="packages_table table-responsive">
                        <table class="table-style3 table at-savesearch">
                            <thead class="t-head">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Code du bien</th>
                                    <th scope="col">Type de bien</th>
                                    <!-- <th scope="col">Type de transaction</th> -->
                                    <!-- <th scope="col">Date</th> -->
                                    <th scope="col">Etat</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="t-body">
                                <tr *ngFor="
                    let publication of publications.content
                      | genericFilter : recherche;
                    let i = index
                  ">
                                    <td class="vam">
                                        {{ numeroDeLaPage * elementsParPage + i + 1 }}
                                    </td>
                                    <th scope="row">
                                        <p-image class="w-100" src="{{(this.APIEndpoint+'api/premiere-image/bien-immobilier/'+publication.bienImmobilier.id)}}" alt="" width="100" imageClass="image" loading="lazy">
                                        </p-image>
                                    </th>
                                    <td class="vam">{{ publication.bienImmobilier.codeBien }}</td>
                                    <td class="vam">
                                        {{ publication.bienImmobilier.typeDeBien.designation }} -
                                        <span *ngIf="publication.bienImmobilier.estDelegue == true">Délégué</span>
                                        <span *ngIf="publication.bienImmobilier.estDelegue == false">Non Délégué</span>
                                    </td>
                                    <!-- <td class="vam">{{ publication.typeDeTransaction }}</td> -->
                                    <!-- <td class="vam">{{ publication.datePublication | date: 'dd-MM-yyyy' }}</td> -->
                                    <td class="vam">
                                        <p-tag *ngIf="publication.etat == true" severity="success" value="Activé"></p-tag>
                                        <p-tag *ngIf="publication.etat == false" severity="danger" value="Désactivé"></p-tag>
                                    </td>
                                    <td class="vam">
                                        <div class="d-flex">
                                            <button pButton type="button" icon="pi pi-eye" (click)="
                          voirPageDetail(
                            publication.id,
                            publication.bienImmobilier.id
                          )
                        " pTooltip="Détails" tooltipPosition="top" class="p-button-text p-button-info"></button>

                                            <!--
                                            <button *ngIf="
                          afficherBoutonSiBienDelegue(
                            publication.bienImmobilier.estDelegue
                          )
                        " pButton type="button" icon="pi pi-pencil pi-lg" (click)="voirFormulaireModifier(publication.id)" pTooltip="Modifier" tooltipPosition="top" class="p-button-text p-button-warning"></button>

                                            <button *ngIf="
                          publication.etat == true &&
                          afficherBoutonSiBienDelegue(
                            publication.bienImmobilier.estDelegue
                          )
                        " pButton type="button" icon="pi pi-lock pi-lg" (click)="desactiverPublication(publication.id)" pTooltip="Désactiver cette publication" tooltipPosition="right" class="p-button-text p-button-danger"></button>

                                            <button *ngIf="
                          publication.etat == false &&
                          afficherBoutonSiBienDelegue(
                            publication.bienImmobilier.estDelegue
                          )
                        " pButton type="button" icon="pi pi-lock-open" (click)="activerPublication(publication.id)" pTooltip="Activer cette publication" tooltipPosition="right" class="p-button-text p-button-success"></button>
                        -->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="publications.totalElements !== 0" class="mbp_pagination text-center mt30">
                        <p-paginator (onPageChange)="pagination($event)" [rows]="publications.size" [totalRecords]="publications.totalElements" [rowsPerPageOptions]="[5, 10, 15]" [showCurrentPageReport]="true" [showPageLinks]="true" [showFirstLastIcon]="true" currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} publications">
                        </p-paginator>
                    </div>
                    <div *ngIf="publications.totalElements == 0" class="mbp_pagination text-center mt30">
                        <p class="mt10 pagination_page_count text-center">
                            Aucune publication enregistrée pour le moment
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Liste des publications -->
</div>
