<!-- Start Menu Tableau de bord -->
<div>
    <p class="fz15 fw400 ff-heading" style="margin-top: -8%;">TABLEAU DE BORD</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/gerant/dashboard']" routerLinkActive="-is-active">
        <i class="flaticon-home mr15"></i>Tableau de bord
    </a>
</div>
<!-- Start Menu Tableau de bord -->
<!-- Start Menu Gestion des biens immobiliers -->
<div>
    <p class="fz15 fw400 ff-heading mt30">BIENS IMMOBILIERS</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/gerant/delegations-gestions']" [ngClass]="{'-is-active': isActive(
      ['/gerant/delegations-gestions',
      '/gerant/biens-delegues/contrats',
      '/gerant/biens-delegues/contrat-location',
      '/gerant/biens-delegues/contrat-vente',
      '/gerant/biens-delegues/contrats/planifications-paiements',
      '/gerant/biens-delegues/contrats/planification-paiement',
      '/gerant/biens-delegues/contrats/paiements',
      '/gerant/biens-delegues/contrats/paiement',
      '/gerant/delegation-gestion/add',
      '/gerant/bien-delegue/update'
      ])}">
        <i class="fa-light fa-handshake mr15"></i>Biens délégués
    </a>
</div>
<!-- End Menu Gestion des biens immobiliers -->

<!-- Start Menu Gestion de la publication des biens -->
<div>
    <p class="fz15 fw400 ff-heading mt30">PUBLICATION DES BIENS</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/gerant/publications']" [ngClass]="{'-is-active': isActive(['/gerant/publications'])}">
        <i class="fa-light fa-share-all mr15"></i>Publication des biens
    </a>
</div>
<!-- End Menu Gestion de la publication des biens -->

<!-- Start Menu Gestion des locations et ventes -->
<div>
    <p class="fz15 fw400 ff-heading mt30">LOCATIONS ET VENTES</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/gerant/demandes-visites']" [ngClass]="{'-is-active': isActive(['/gerant/demandes-visites'])}">
        <i class="fa-light fa-calendars mr15"></i>&nbsp;Demandes de visites
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/gerant/demandes-locations']" [ngClass]="{'-is-active': isActive(['/gerant/demandes-locations'])}">
        <i class="fa-light fa-suitcase mr15"></i>&nbsp;Demandes de locations
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/gerant/demandes-achats']" [ngClass]="{'-is-active': isActive(['/gerant/demandes-achats'])}">
        <i class="fa-light fa-sack-dollar mr15"></i>&nbsp;Demandes d'achats
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/gerant/contrats']" [ngClass]="{'-is-active': isActive(['/gerant/contrats'])}">
        <i class="fa-light fa-folders mr15"></i>Contrats
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/gerant/suivis-entretiens']" [ngClass]="{'-is-active': isActive(['/gerant/suivis-entretiens'])}">
        <i class="fa-light fa-wrench mr15"></i>&nbsp;Suivi des entretiens
    </a>
</div>
<!-- End Menu Gestion des locations et ventes -->

<!-- Start Menu Gestion des paiements -->
<div>
    <p class="fz15 fw400 ff-heading mt30">GESTION DES PAIEMENTS</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/gerant/planifications-paiements']" [ngClass]="{'-is-active': isActive(['/gerant/planifications-paiements'])}">
        <i class="fa-light fa-money-check-dollar-pen mr15"></i>Suivi des paiements
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/gerant/paiements']" [ngClass]="{'-is-active': isActive(['/gerant/paiements'])}">
        <i class="fa-light fa-credit-card-front mr15"></i>&nbsp;Paiements
    </a>
</div>
<!-- End Menu Gestion des paiements -->