<!-- Start Menu Tableau de bord -->
<div>
    <p class="fz15 fw400 ff-heading" style="margin-top: -8%;">TABLEAU DE BORD</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/gerant/dashboard']" routerLinkActive="-is-active">
        <i class="flaticon-home mr15"></i>Tableau de bord
    </a>
</div>
<!-- Start Menu Tableau de bord -->
<!-- Start Menu Gestion des biens immobiliers -->
<div>
    <p class="fz15 fw400 ff-heading mt30">BIENS IMMOBILIERS</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/gerant/delegations-gestions']" [ngClass]="{'-is-active': isActive(
      ['/gerant/delegations-gestions',
      '/gerant/delegation-gestion/:id',
      '/gerant/add/delegation-gestion',
      '/gerant/bien-delegue/update',
      '/gerant/bien-delegue/contrats/:codeBien',
      '/gerant/bien-delegue/contrat-location/:id',
      '/gerant/bien-delegue/contrat-vente/:id',
      '/gerant/bien-delegue/contrats/planifications-paiements/:codeContrat',
      '/gerant/bien-delegue/contrats/planification-paiement/:id',
      '/gerant/bien-delegue/contrats/paiements/:codeContrat',
      '/gerant/bien-delegue/contrats/paiement/:id',
      ])}">
        <i class="fa-light fa-handshake mr15"></i>Biens délégués
    </a>
</div>
<!-- End Menu Gestion des biens immobiliers -->

<!-- Start Menu Gestion de la publication des biens -->
<div>
    <p class="fz15 fw400 ff-heading mt30">PUBLICATION DES BIENS</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/gerant/publications']" [ngClass]="{'-is-active': isActive(
    ['/gerant/publications',
    '/gerant/update/publication/:id',
    '/gerant/publication/:id'
  ])}">
        <i class="fa-light fa-share-all mr15"></i>Publication des biens
    </a>
</div>
<!-- End Menu Gestion de la publication des biens -->

<!-- Start Menu Gestion des locations et ventes -->
<div>
    <p class="fz15 fw400 ff-heading mt30">LOCATIONS ET VENTES</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/gerant/demandes-visites']" [ngClass]="{'-is-active': isActive(
    ['/gerant/demandes-visites',
    '/gerant/demande-visite/:id',
  ])}">
        <i class="fa-light fa-calendars mr15"></i>&nbsp;Demandes de visites
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/gerant/demandes-locations']" [ngClass]="{'-is-active': isActive(
    ['/gerant/demandes-locations',
    '/gerant/demande-location/:id'
  ])}">
        <i class="fa-light fa-suitcase mr15"></i>&nbsp;Demandes de locations
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/gerant/demandes-achats']" [ngClass]="{'-is-active': isActive(
    ['/gerant/demandes-achats',
    '/gerant/demande-achat/:id'
  ])}">
        <i class="fa-light fa-sack-dollar mr15"></i>&nbsp;Demandes d'achats
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/gerant/contrats']" [ngClass]="{'-is-active': isActive(
    ['/gerant/contrats',
    '/gerant/contrat-location/:id',
    '/gerant/contrat-vente/:id'
  ])}">
        <i class="fa-light fa-folders mr15"></i>Contrats
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/gerant/suivis-entretiens']" [ngClass]="{'-is-active': isActive(
    ['/gerant/suivis-entretiens',
    '/gerant/suivi-entretien/:id'
  ])}">
        <i class="fa-light fa-wrench mr15"></i>&nbsp;Suivi des entretiens
    </a>
</div>
<!-- End Menu Gestion des locations et ventes -->

<!-- Start Menu Gestion des paiements -->
<div>
    <p class="fz15 fw400 ff-heading mt30">GESTION DES PAIEMENTS</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/gerant/planifications-paiements']" [ngClass]="{'-is-active': isActive(
    ['/gerant/planifications-paiements',
    '/gerant/planification-paiement/:id'
  ])}">
        <i class="fa-light fa-money-check-dollar-pen mr15"></i>Suivi des paiements
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/gerant/paiements']" [ngClass]="{'-is-active': isActive(
    ['/gerant/paiements',
    '/gerant/paiement/:id'
  ])}">
        <i class="fa-light fa-credit-card-front mr15"></i>&nbsp;Paiements
    </a>
</div>
<!-- End Menu Gestion des paiements -->