<div class="dashboard__content bgc-f7">
    <div class="row pb40 d-block d-lg-none">
        <!-- Menu responsive -->
        <app-menu-responsive></app-menu-responsive>
        <!-- End Menu responsive -->
    </div>
    <p-toast></p-toast>

    <!-- Liste des biens immobiliers -->
    <div *ngIf="affichage == 1">
        <div class="row align-items-center pb40">
            <div class="col-xxl-5">
                <div class="dashboard_title_area">
                    <h4>Liste des biens supports</h4>
                </div>
            </div>
            <div class="col-xxl-7">
                <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
                    <div class="item1 mb15-sm">
                        <div class="input-group">
                            <span class="input-group-text">
                  <i class="pi pi-search" style="font-weight: bold"></i>
                </span>
                            <input type="text" pInputText [(ngModel)]="recherche" class="inputText" placeholder="Que cherchez-vous ?">
                        </div>
                    </div>
                    &nbsp;
                    <a type="button" *ngIf="(user.role.code == 'ROLE_PROPRIETAIRE' || user.role.code == 'ROLE_RESPONSABLE' || user.role.code == 'ROLE_AGENTIMMOBILIER' || user.role.code == 'ROLE_DEMARCHEUR') && user.etatCompte == true" (click)="afficherPageAjout()" class="ud-btn btn-thm">
      Ajouter un bien support
    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <p-toast></p-toast>
            <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
            <div class="col-xl-12">
                <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
                    <div class="packages_table table-responsive">
                        <table class="table-style3 table at-savesearch">
                            <thead class="t-head">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Type de bien</th>
                                    <th scope="col">Ville</th>
                                    <th scope="col">Statut</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="t-body">
                                <tr *ngFor="let bienImmobilier of biensImmobiliers.content | genericFilter: recherche;  let i = index">
                                    <td class="vam">{{ (numeroDeLaPage * elementsParPage) + i + 1 }}</td>
                                    <th scope="row">
                                        <p-image class="w-100" src="{{(this.APIEndpoint+'api/premiere-image/bien-immobilier/'+bienImmobilier.id)}}" alt="" width="100" imageClass="image" loading="lazy">
                                        </p-image>
                                    </th>
                                    <td class="vam">{{ bienImmobilier.typeDeBien.designation }} </td>
                                    <td class="vam">{{ bienImmobilier.quartier.ville.libelle }} </td>
                                    <td class="vam">
                                        <p-tag *ngIf="bienImmobilier.statutBien == 'Disponible'" severity="success" value="{{bienImmobilier.statutBien}}"></p-tag>
                                        <p-tag *ngIf="bienImmobilier.statutBien == 'Loué'" severity="info" value="{{bienImmobilier.statutBien}}"></p-tag>
                                        <p-tag *ngIf="bienImmobilier.statutBien == 'Vendu'" severity="warning" value="{{bienImmobilier.statutBien}}"></p-tag>
                                    </td>
                                    <td class="vam">
                                        <div class="d-flex">
                                            <!-- <button pButton type="button" icon="pi pi-list"
                  *ngIf="bienImmobilier.typeDeBien.designation !== 'Terrain'"
                  (click)="afficherListeBiensAssocies(bienImmobilier.id)"
                  pTooltip="Biens associés" tooltipPosition="top" class="p-button-text p-button-info">
                </button> -->

                                            <button pButton type="button" icon="pi pi-eye" (click)="afficherPageDetailBienSupport(bienImmobilier.id)" pTooltip="Détails" tooltipPosition="top" class="p-button-text p-button-info">
                </button>

                                            <!-- <button *ngIf="user.role.code == 'ROLE_PROPRIETAIRE' || user.role.code == 'ROLE_RESPONSABLE' || user.role.code == 'ROLE_AGENTIMMOBILIER' || user.role.code == 'ROLE_DEMARCHEUR'"
                  pButton type="button" icon="pi pi-pencil pi-lg"
                  (click)="afficherFormulaireModifierBienImmobilier(bienImmobilier.id, bienImmobilier.typeDeBien.designation)"
                  pTooltip="Modifier" tooltipPosition="top" class="p-button-text p-button-warning">
                </button> -->

                                            <button *ngIf="user.role.code == 'ROLE_PROPRIETAIRE'" pButton type="button" icon="fa-light fa-handshake fa-lg" (click)="afficherFormulaireDelegationGestionBien(bienImmobilier.id)" pTooltip="Déléguer ce bien" tooltipPosition="top" class="p-button-text p-button-info">
                </button>

                                            <!--
                <button *ngIf="afficherBoutonSiBienDelegue(bienImmobilier.estDelegue)" pButton type="button"
                  icon="pi pi-share-alt" (click)="afficherFormulairePublicationBien(bienImmobilier)"
                  pTooltip="Publier ce bien" tooltipPosition="top" class="p-button-text p-button-info">
                </button>
                -->

                                            <button *ngIf="bienImmobilier.etatBien == true && (user.role.code == 'ROLE_PROPRIETAIRE' || user.role.code == 'ROLE_RESPONSABLE' || user.role.code == 'ROLE_DEMARCHEUR')" pButton type="button" icon="pi pi-lock pi-lg" (click)="desactiverBienImmobilier(bienImmobilier.id)"
                                                pTooltip="Désactiver ce bien support" tooltipPosition="right" class="p-button-text p-button-danger">
                </button>

                                            <button *ngIf="bienImmobilier.etatBien == false && (user.role.code == 'ROLE_PROPRIETAIRE' || user.role.code == 'ROLE_RESPONSABLE' || user.role.code == 'ROLE_DEMARCHEUR')" pButton type="button" icon="pi pi-lock-open" (click)="activerBienImmobilier(bienImmobilier.id)"
                                                pTooltip="Activer ce bien support" tooltipPosition="right" class="p-button-text p-button-success">
                </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="biensImmobiliers.totalElements !== 0" class="mbp_pagination text-center mt30">
                        <p-paginator (onPageChange)="paginationListeBiens($event)" [rows]="biensImmobiliers.size" [totalRecords]="biensImmobiliers.totalElements" [rowsPerPageOptions]="[5, 10, 15]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} biens supports"
                            [showPageLinks]="true" [showFirstLastIcon]="true">
                        </p-paginator>
                    </div>
                    <div *ngIf="biensImmobiliers.totalElements == 0" class="mbp_pagination text-center mt30">
                        <p class="mt10 pagination_page_count text-center">Aucun bien support enregistré pour le moment</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Liste des biens immobiliers -->
</div>