<div class="dashboard__content bgc-f7">
  <div class="row pb40 d-block d-lg-none">
    <!-- Menu responsive -->
    <app-menu-responsive></app-menu-responsive>
    <!-- End Menu responsive -->
  </div>

  <p-toast></p-toast>

  <!-- Liste des démarcheurs -->
  <div *ngIf="affichage == 1">
    <div class="row align-items-center pb40">
      <div class="col-xxl-3">
        <div class="dashboard_title_area">
          <h4>Liste des démarcheurs</h4>
        </div>
      </div>
      <div class="col-xxl-9">
        <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
          <div class="item1 mb15-sm">
            <div class="search_area">
              <input type="text" [(ngModel)]="recherche" class="form-control bdrs12" placeholder="Faire une recherche">
              <label><span class="flaticon-search"></span></label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
          <div class="packages_table table-responsive">
            <table class="table-style3 table at-savesearch">
              <thead class="t-head">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Prénom(s)</th>
                  <th scope="col">Etat compte</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody class="t-body">
                <tr *ngFor="let demarcheur of demarcheursParPage | genericFilter: recherche;  let i = index">
                  <td class="vam">{{ pageActuelle + i + 1 }}</td>
                  <td class="vam">{{ demarcheur.nom }}</td>
                  <td class="vam">{{ demarcheur.prenom }} <i *ngIf="demarcheur.estCertifie" class="fa-sharp fa-solid fa-badge-check fa-lg" style="color: #0f77e6;"></i></td>
                  <td class="vam">
                    <p-tag *ngIf="demarcheur.etatCompte == true" severity="success" value="Activé"></p-tag>
                    <p-tag *ngIf="demarcheur.etatCompte == false" severity="danger" value="Désactivé"></p-tag>
                  </td>
                  <td class="vam">
                    <div class="d-flex">
                      <button pButton type="button" (click)="afficherPageDetail(demarcheur.id)" icon="pi pi-eye"
                        pTooltip="Détails" tooltipPosition="right" class="p-button-text p-button-info">
                      </button>

                      <button pButton type="button" *ngIf="demarcheur.etatCompte === true" (click)="desactiverCompte(demarcheur.id)" icon="pi pi-lock"
                        pTooltip="Désactiver ce compte" tooltipPosition="top" class="p-button-text p-button-danger">
                      </button>

                      <button pButton type="button" *ngIf="demarcheur.etatCompte === false" (click)="activerCompte(demarcheur.id)" icon="pi pi-lock-open"
                        pTooltip="Activer ce compte" tooltipPosition="left" class="p-button-text p-button-success">
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="demarcheurs.length !== 0" class="mbp_pagination text-center mt30">
            <p-paginator
              (onPageChange)="pagination($event)" [first]="pageActuelle"
              [rows]="elementsParPage"  [totalRecords]="demarcheurs.length"
              [rowsPerPageOptions]="[5, 10, 15]" [showCurrentPageReport]="true"
              currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} démarcheurs"
              [showPageLinks]="true" [showFirstLastIcon]="true">
            </p-paginator>
          </div>
          <div *ngIf="demarcheurs.length == 0" class="mbp_pagination text-center mt30">
            <p class="mt10 pagination_page_count text-center">Aucun démarcheur enregistré pour le moment</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Liste des démarcheurs -->

  <!-- Details d'un démarcheur -->
  <div *ngIf="affichage == 2">
    <div  class="row align-items-center pb40">
      <div class="col-xxl-3">
        <div class="dashboard_title_area">
          <h4>Détails d'un démarcheur</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">

          <div class="row">

            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Nom & prénom(s)</p>
              <p>{{ demarcheur.nom }} {{ demarcheur.prenom }} <i *ngIf="demarcheur.estCertifie == true" class="fa-sharp fa-solid fa-badge-check fa-lg" style="color: #0f77e6;"></i></p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Nom d'utilisateur</p>
              <p>{{ demarcheur.username }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Adresse e-mail</p>
              <p>{{ demarcheur.email }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Numéro de téléphone</p>
              <p>{{ demarcheur.telephone }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Profil</p>
              <p>{{ demarcheur.role.libelle }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Etat du compte</p>
              <p>
                <p-tag *ngIf="demarcheur.etatCompte == true" severity="success" value="Activé"></p-tag>
                <p-tag *ngIf="demarcheur.etatCompte == false" severity="danger" value="Désactivé"></p-tag>
              </p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Est certifié</p>
              <p>
                <p-tag *ngIf="demarcheur.estCertifie == true" severity="success" value="Oui"></p-tag>
                <p-tag *ngIf="demarcheur.estCertifie == false" severity="danger" value="Non"></p-tag>
              </p>
            </div>
            <p-divider></p-divider>

          </div>

          <div class="text-end">
            <a class="ud-btn btn-thm" (click)="voirListe()"  type="button">Retour</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Details d'un démarcheur -->
</div>
