.disabled-link {
  pointer-events: none; /* Désactive les événements de pointage, rendant le lien non cliquable */
  opacity: 0.5; /* Réduit l'opacité pour montrer qu'il est désactivé */
  cursor: not-allowed; /* Affiche un curseur "non autorisé" */
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form):not(.select) {
    border-left: 5px solid #a94442;
}

:host ::ng-deep .select .p-dropdown {
  width: 100%; /* Utilisation d'un pourcentage pour la largeur */
  height: 55px;
  border-radius: 8px;
}

:host ::ng-deep .select .p-dropdown-item {
  margin-left: 0; /* Suppression de la marge négative */
}
