<div class="dashboard__content bgc-f7">
    <div class="row pb40 d-block d-lg-none">
        <!-- Menu responsive -->
        <app-menu-responsive></app-menu-responsive>
        <!-- End Menu responsive -->
    </div>

    <p-toast></p-toast>
    <!-- Formulaire d'ajout d'un agent immobilier -->
    <div>
        <div class="row align-items-center pb40">
            <div class="col-xxl-9">
                <div class="dashboard_title_area">
                    <h4>Ajout d'un agent immobilier</h4>
                    <p class="text"></p>
                </div>
            </div>
            <div class="col-xxl-3">
                <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
                    <a class="ud-btn btn-retour" type="button" (click)="voirListe()">Agents immobiliers</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
                    <form [formGroup]="affectationAgentAgenceForm" (ngSubmit)="ajouterAffectationAgentAgence()" class="form-style1">
                        <div class="row">
                            <p *ngIf="checked == 'Nouvel agent immobilier'" class="error">Les identifiants de connexion seront envoyés à l'adresse e-mail à l'agent immobilier une fois l'opération de l'enregistrement terminée.</p>
                            <div class="col-md-6">
                                <div class="mb20">
                                    <label class="heading-color ff-heading fw600 mb10">Nouvel agent immobilier / Agent immobilier existant</label>
                                    <br>
                                    <p-dropdown class="select" [options]="listeDesChoix" placeholder="Faire un choix" [(ngModel)]="checked" (onChange)="onChoixChange($event)" [ngModelOptions]="{standalone: true}">
                                    </p-dropdown>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb20">
                                    <label class="heading-color ff-heading fw600 mb10">Agence immobilière</label>
                                    <br>
                                    <p-dropdown class="select" emptyFilterMessage="Aucun résultat trouvé" emptyMessage="Aucun résultat trouvé" [options]="agencesImmobilieres" [(ngModel)]="agenceSelectionnee" placeholder="Choisir une agence" formControlName="agenceImmobiliere" [filter]="true"
                                        filterBy="codeAgence,nomAgence" filterPlaceholder="Rechercher" [showClear]="true" (onChange)="agenceChoisie($event)" optionLabel="nomAgence">
                                        <ng-template let-agenceImmobiliere pTemplate="item">
                                            {{ agenceImmobiliere.codeAgence }}/ {{ agenceImmobiliere.nomAgence }}
                                        </ng-template>
                                    </p-dropdown>
                                    <div class="error" [hidden]="!agenceImmobiliere?.hasError('required') || !agenceImmobiliere.touched">La selection de l'agence est obligatoire</div>
                                </div>
                            </div>

                            <div *ngIf="checked == 'Agent immobilier existant'" class="col-lg-6">
                                <div class="mb20">
                                    <label class="heading-color ff-heading fw600 mb10">Matricule</label>
                                    <!-- <p-autoComplete
                [minLength]="2" [(ngModel)]="agentImmobilier"
                emptySelectionMessage="Aucun résultat trouvé" emptyMessage="Aucun résultat trouvé"
                class="autocomplexion p-fluid" [showEmptyMessage]="true" [showClear]="true"
                placeholder="La matricule de l'agent immobilier" formControlName="matricule"
                [suggestions]="agentsImmobiliersFiltres"
                (completeMethod)="filtrerAgentImmobilier($event)" field="matricule">
                </p-autoComplete> -->
                                    <input type="text" class="form-control" id="matricule" name="matricule" placeholder="Le matricule de l'agent immobilier" formControlName="matricule" required>
                                    <div class="error" [hidden]="!matricule?.hasError('required') || !matricule.touched">La matricule de l'agent immobilier est obligatoire</div>
                                </div>
                            </div>

                            <div *ngIf="checked == 'Nouvel agent immobilier'" class="col-lg-6">
                                <div class="mb20">
                                    <label class="heading-color ff-heading fw600 mb10">Nom</label>
                                    <input type="text" class="form-control" id="nom" name="nom" placeholder="Le nom de l'agent immobilier" formControlName="nom" required>
                                    <div class="error" [hidden]="!nom?.hasError('required') || !nom.touched">Le nom de l'agent immobilier est obligatoire</div>
                                </div>
                            </div>

                            <div *ngIf="checked == 'Nouvel agent immobilier'" class="col-lg-6">
                                <div class="mb20">
                                    <label class="heading-color ff-heading fw600 mb10">Prénoms(s)</label>
                                    <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Le(s) prénom(s) de l'agent immobilier" formControlName="prenom" required>
                                    <div class="error" [hidden]="!prenom?.hasError('required') || !prenom.touched">Le(s) prénom(s) de l'agent immobilier est obligatoire</div>
                                </div>
                            </div>

                            <div *ngIf="checked == 'Nouvel agent immobilier'" class="col-lg-6">
                                <div class="mb20">
                                    <label class="heading-color ff-heading fw600 mb10">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="L'email de l'agent immobilier" formControlName="email" required>
                                    <div class="error" [hidden]="!email?.hasError('required') || !email.touched">
                                        L'e-mail de l'agent immobilier est obligatoire
                                    </div>
                                    <div class="error" [hidden]="!email?.hasError('email') || !email.touched">
                                        L'e-mail de l'agent immobilier n'est pas valide.
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="checked == 'Nouvel agent immobilier'" class="col-lg-6">
                                <div class="mb20">
                                    <label class="heading-color ff-heading fw600 mb10">Téléphone</label>
                                    <input type="text" class="form-control" id="telephone" name="telephone" placeholder="Le numero de téléphone de l'agent immobilier" formControlName="telephone" required>
                                    <div class="error" [hidden]="!telephone?.hasError('required') || !telephone.touched">Le numero de téléphone de l'agent immobilier est obligatoire</div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12">
                            <div class="text-end">
                                <button class="ud-btn btn-annuler" type="button" (click)="affectationAgentAgenceForm.reset()">Annuler</button> &nbsp;
                                <button class="ud-btn btn-valider" [ngClass]="{ 'disabled-link': affectationAgentAgenceForm.invalid }" type="submit">Ajouter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Formulaire d'ajout d'un agent immobilier -->
</div>
