<div class="dashboard__content bgc-f7">
  <div class="row pb40 d-block d-lg-none">
    <!-- Menu responsive -->
    <app-menu-responsive></app-menu-responsive>
    <!-- End Menu responsive -->
  </div>

  <!-- Liste des clients -->
  <div *ngIf="affichage == 1">
    <div class="row align-items-center pb40">
      <div class="col-xxl-3">
        <div class="dashboard_title_area">
          <h4>Liste des clients</h4>
          <p class="text"></p>
        </div>
      </div>
      <div class="col-xxl-9">
        <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
          <div class="item1 mb15-sm">
            <div class="search_area">
              <input type="text" class="form-control bdrs12" placeholder="Faire une recherche">
              <label><span class="flaticon-search"></span></label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <p-toast></p-toast>
      <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
          <div class="packages_table">
            <table class="table-style3 table at-savesearch">
              <thead class="t-head">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Prénom</th>
                  <th scope="col">Nom d'utilisateur</th>
                  <th scope="col">Email</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody class="t-body">
                <tr *ngFor="let client of clientsParPage;  let i = index">
                  <td class="vam">{{ pageActuelle + i + 1 }}</td>
                  <td class="vam">{{ client.nom }}</td>
                  <td class="vam">{{ client.prenom }}</td>
                  <td class="vam">{{ client.username }}</td>
                  <td class="vam">{{ client.email }}</td>
                  <td class="vam">
                    <div class="d-flex">
                      <a type="button" (click)="afficherPageDetail(client.id)" class="icon" pTooltip="Détails" tooltipPosition="top"><i class="pi pi-eye" style="font-size: 1rem"></i></a>
                      <a *ngIf="client.etatCompte === true" type="button" class="icon" (click)="desactiverCompte(client.id)" pTooltip="Désactiver ce compte" tooltipPosition="top"><i class="pi pi-lock" style="font-size: 1rem"></i></a>
                      <a *ngIf="client.etatCompte === false" type="button" class="icon" (click)="activerCompte(client.id)" pTooltip="Activer ce compte" tooltipPosition="top"><i class="pi pi-lock-open" style="font-size: 1rem"></i></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

            <div *ngIf="clients.length !== 0" class="mbp_pagination text-center mt30">
              <p-paginator
                (onPageChange)="pagination($event)" [first]="pageActuelle"
                [rows]="elementsParPage"  [totalRecords]="clients.length"
                [rowsPerPageOptions]="[5, 10, 15]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} clients"
                [showPageLinks]="true" [showFirstLastIcon]="true">
              </p-paginator>
            </div>
            <div *ngIf="clients.length == 0" class="mbp_pagination text-center mt30">
              <p class="mt10 pagination_page_count text-center">Aucun compte client crée pour le moment</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Liste des clients -->

  <!-- Details d'un client -->
  <div *ngIf="affichage == 2">
    <div  class="row align-items-center pb40">
      <div class="col-xxl-3">
        <div class="dashboard_title_area">
          <h4>Détails d'un client</h4>
          <p class="text"></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">
          <table class="table-style3 table at-savesearch">
            <tbody>
              <tbody class="t-body">
                <tr>
                  <td class="vam">Nom</td>
                  <td>{{ client.nom }}</td>
                </tr>
                <tr>
                  <td class="vam">Prénom</td>
                  <td>{{ client.prenom }}</td>
                </tr>
                <tr>
                  <td class="vam">Nom d'utilisateur</td>
                  <td>{{ client.username }}</td>
                </tr>
                <tr>
                  <td class="vam">Email</td>
                  <td>{{ client.email }}</td>
                </tr>
                <tr>
                  <td class="vam">Rôle</td>
                  <td>{{ client.role.libelle }}</td>
                </tr>
                <tr>
                  <td class="vam">Téléphone</td>
                  <td>{{ client.telephone }}</td>
                </tr>
                <tr>
                  <td class="vam">Etat compte</td>
                  <td>
                    <p-tag *ngIf="client.etatCompte == true" severity="success" value="Activé"></p-tag>
                    <p-tag *ngIf="client.etatCompte == false" severity="danger" value="Désactivé"></p-tag>
                  </td>
                </tr>
                <!--
                <tr>
                  <td class="vam">Est certifié</td>
                  <td>
                    <span *ngIf="client.estCertifie == true" class="pending-style style2">Oui</span>
                    <span *ngIf="client.estCertifie == false" class="pending-style style3">Non</span>
                  </td>
                </tr>
                -->
            </tbody>
          </table>
          <div class="text-end">
            <a class="ud-btn btn-thm" (click)="voirListe()"  type="button">Retour</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Details d'un client -->
</div>
