<div class="dashboard__content bgc-f7">
    <div class="row pb40 d-block d-lg-none">
        <!-- Menu responsive -->
        <app-menu-responsive></app-menu-responsive>
        <!-- End Menu responsive -->
    </div>

    <p-toast></p-toast>

    <!-- Liste des agences immobilières - Vue Responsable -->
    <div *ngIf="user.role.code == 'ROLE_RESPONSABLE'">
        <div class="row align-items-center pb40">
            <div class="col-xxl-7">
                <div class="dashboard_title_area">
                    <h4>Agences immobilières</h4>
                    <h6 *ngIf="!user.estCertifie" class="text error"><i class="pi pi-exclamation-triangle"></i> Votre agence immobilière n'est pas certifiée, veuillez demander la certification de cette dernière en cliquant sur le menu <b>certifications</b> !</h6>
                </div>
            </div>
            <div class="col-xxl-5">
                <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
                    <div class="item1 mb15-sm">
                        <div class="search_area">
                            <input type="text" [(ngModel)]="recherche" class="form-control bdrs12" placeholder="Faire une recherche">
                            <label><span class="flaticon-search"></span></label>
                        </div>
                    </div>
                    &nbsp;
                    <a type="button" (click)="voirPageAjout()" class="ud-btn btn-thm">
            Ajouter votre agence
          </a>
                </div>
            </div>
        </div>
        <div class="row">
            <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
            <div class="col-xl-12">
                <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
                    <div class="packages_table table-responsive">
                        <table class="table-style3 table at-savesearch">
                            <thead class="t-head">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Logo</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Ville</th>
                                    <th scope="col">Etat</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="t-body">
                                <tr *ngFor="let agenceImmobiliere of agencesImmobilieres.content | genericFilter: recherche;  let i = index">
                                    <td class="vam">{{ (numeroDeLaPage * elementsParPage) + i + 1 }}</td>
                                    <th scope="row">
                                        <div class="listing-style1 dashboard-style d-xxl-flex align-items-center mb-0">
                                            <div class="list-thumb">
                                                <img *ngIf="agenceImmobiliere.logoAgence == ''" class="w-100" width="100" src="assets/images/team/logo_par_defaut.jpg" alt="">

                                                <img *ngIf="agenceImmobiliere.logoAgence !== ''" class="w-100" width="100" src="{{this.APIEndpoint+'api/logo/agence-immobiliere/'+agenceImmobiliere.id}}" alt="">
                                            </div>
                                        </div>
                                    </th>
                                    <td class="vam">{{ agenceImmobiliere.nomAgence }} <i *ngIf="agenceImmobiliere.estCertifie" class="fa-sharp fa-solid fa-badge-check fa-lg" style="color: #0f77e6;"></i></td>
                                    <td class="vam">{{ agenceImmobiliere.quartier.ville.libelle }} </td>
                                    <td class="vam">
                                        <p-tag *ngIf="agenceImmobiliere.etatAgence == true" severity="success" value="Activé"></p-tag>
                                        <p-tag *ngIf="agenceImmobiliere.etatAgence == false" severity="danger" value="Désactivé"></p-tag>
                                    </td>
                                    <td class="vam">
                                        <div class="d-flex">
                                            <button pButton type="button" (click)="voirPageDetail(agenceImmobiliere.id)" icon="pi pi-eye" pTooltip="Détails" tooltipPosition="top" class="p-button-text p-button-info">
                      </button>

                                            <button pButton type="button" (click)="voirPageModifier(agenceImmobiliere.id)" icon="pi pi-pencil" pTooltip="Modifier" tooltipPosition="right" class="p-button-text p-button-warning">
                      </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="agencesImmobilieres.totalElements !== 0" class="mbp_pagination text-center mt30">
                        <p-paginator (onPageChange)="pagination($event)" [rows]="agencesImmobilieres.size" [totalRecords]="agencesImmobilieres.totalElements" [rowsPerPageOptions]="[5, 10, 15]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} agences immobilières"
                            [showPageLinks]="true" [showFirstLastIcon]="true">
                        </p-paginator>
                    </div>
                    <div *ngIf="agencesImmobilieres.totalElements == 0" class="mbp_pagination text-center mt30">
                        <p class="mt10 pagination_page_count text-center">Aucune agence immobilière enregistrée pour le moment</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Liste des agences immobilières - Vue Responsable -->

    <!-- Liste des agences immobilières - Vue Agent immobilier -->
    <div *ngIf="user.role.code == 'ROLE_AGENTIMMOBILIER'">
        <div class="row align-items-center pb40">
            <div class="col-xxl-5">
                <div class="dashboard_title_area">
                    <h4>Agences immobilières</h4>
                </div>
            </div>
            <div class="col-xxl-7">
                <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
                    <div class="item1 mb15-sm">
                        <div class="search_area">
                            <input type="text" [(ngModel)]="recherche" class="form-control bdrs12" placeholder="Faire une recherche">
                            <label><span class="flaticon-search"></span></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
            <div class="col-xl-12">
                <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
                    <div class="packages_table table-responsive">
                        <table class="table-style3 table at-savesearch">
                            <thead class="t-head">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Logo</th>
                                    <th scope="col">Nom</th>
                                    <!-- <th scope="col">Responsable</th>-->
                                    <th scope="col">Ville</th>
                                    <th scope="col">Etat</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="t-body">
                                <tr *ngFor="let affectationAgentAgence of affectationsAgentAgence.content | genericFilter: recherche;  let i = index">
                                    <td class="vam">{{ (numeroDeLaPage * elementsParPage) + i + 1 }}</td>
                                    <th scope="row">
                                        <div class="listing-style1 dashboard-style d-xxl-flex align-items-center mb-0">
                                            <div class="list-thumb">
                                                <img *ngIf="affectationAgentAgence.agenceImmobiliere.logoAgence == ''" class="w-100" width="100" src="assets/images/team/logo_par_defaut.jpg" alt="">

                                                <img *ngIf="affectationAgentAgence.agenceImmobiliere.logoAgence !== ''" class="w-100" width="100" src="{{this.APIEndpoint+'api/logo/agence-immobiliere/'+affectationAgentAgence.agenceImmobiliere.id}}" alt="">
                                            </div>
                                        </div>
                                    </th>
                                    <td class="vam">{{ affectationAgentAgence.agenceImmobiliere.nomAgence }} <i *ngIf="affectationAgentAgence.agenceImmobiliere.estCertifie" class="fa-sharp fa-solid fa-badge-check fa-lg" style="color: #0f77e6;"></i></td>
                                    <!-- <td class="vam">{{ affectationAgentAgence.responsableAgenceImmobiliere.nom }} {{ affectationAgentAgence.responsableAgenceImmobiliere.prenom }} </td>-->
                                    <td class="vam">{{ affectationAgentAgence.agenceImmobiliere.quartier.ville.libelle }} </td>
                                    <td class="vam">
                                        <p-tag *ngIf="affectationAgentAgence.actif == true" severity="success" value="Activé"></p-tag>
                                        <p-tag *ngIf="affectationAgentAgence.actif == false" severity="danger" value="Désactivé"></p-tag>
                                    </td>
                                    <td class="vam">
                                        <div class="d-flex">
                                            <button pButton type="button" (click)="voirPageDetail(affectationAgentAgence.id)" icon="pi pi-eye" pTooltip="Détails" tooltipPosition="top" class="p-button-text p-button-info">
                      </button>

                                            <button pButton type="button" (click)="voirPageServices(affectationAgentAgence.agenceImmobiliere.id)" icon="pi pi-list" pTooltip="Services" tooltipPosition="top" class="p-button-text p-button-success">
                      </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="affectationsAgentAgence.totalElements !== 0" class="mbp_pagination text-center mt30">
                        <p-paginator (onPageChange)="pagination($event)" [rows]="affectationsAgentAgence.size" [totalRecords]="affectationsAgentAgence.totalElements" [rowsPerPageOptions]="[5, 10, 15]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} agences immobilières"
                            [showPageLinks]="true" [showFirstLastIcon]="true">
                        </p-paginator>
                    </div>
                    <div *ngIf="affectationsAgentAgence.totalElements == 0" class="mbp_pagination text-center mt30">
                        <p class="mt10 pagination_page_count text-center">Aucune agence immobilière enregistrée pour le moment</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Liste des agences immobilières - Vue Agent immobilier -->

    <!-- Liste des agences immobilières - Vue Administrateur -->
    <div *ngIf="user.role.code == 'ROLE_ADMINISTRATEUR'">
        <div class="row align-items-center pb40">
            <div class="col-xxl-5">
                <div class="dashboard_title_area">
                    <h4>Liste des agences immobilières</h4>
                </div>
            </div>
            <div class="col-xxl-7">
                <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
                    <div class="item1 mb15-sm">
                        <div class="search_area">
                            <input type="text" [(ngModel)]="recherche" class="form-control bdrs12" placeholder="Faire une recherche">
                            <label><span class="flaticon-search"></span></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
            <div class="col-xl-12">
                <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
                    <div class="packages_table table-responsive">
                        <table class="table-style3 table at-savesearch">
                            <thead class="t-head">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Logo</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Ville</th>
                                    <th scope="col">Etat</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="t-body">
                                <tr *ngFor="let agenceImmobiliere of agencesImmobilieres.content | genericFilter: recherche;  let i = index">
                                    <td class="vam">{{ (numeroDeLaPage * elementsParPage) + i + 1 }}</td>
                                    <th scope="row">
                                        <div class="listing-style1 dashboard-style d-xxl-flex align-items-center mb-0">
                                            <div class="list-thumb">
                                                <img *ngIf="agenceImmobiliere.logoAgence == ''" class="w-100" width="100" src="assets/images/team/logo_par_defaut.jpg" alt="">

                                                <img *ngIf="agenceImmobiliere.logoAgence !== ''" class="w-100" width="100" src="{{this.APIEndpoint+'api/logo/agence-immobiliere/'+agenceImmobiliere.id}}" alt="">
                                            </div>
                                        </div>
                                    </th>
                                    <td class="vam">{{ agenceImmobiliere.nomAgence }} <i *ngIf="agenceImmobiliere.estCertifie" class="fa-sharp fa-solid fa-badge-check fa-lg" style="color: #0f77e6;"></i></td>
                                    <td class="vam">{{ agenceImmobiliere.quartier.ville.libelle }} </td>
                                    <td class="vam">
                                        <p-tag *ngIf="agenceImmobiliere.etatAgence == true" severity="success" value="Activé"></p-tag>
                                        <p-tag *ngIf="agenceImmobiliere.etatAgence == false" severity="danger" value="Désactivé"></p-tag>
                                    </td>
                                    <td class="vam">
                                        <div class="d-flex">
                                            <button pButton type="button" (click)="voirPageDetail(agenceImmobiliere.id)" icon="pi pi-eye" pTooltip="Détails" tooltipPosition="top" class="p-button-text p-button-info">
                    </button>

                                            <button pButton type="button" *ngIf="agenceImmobiliere.etatAgence == true && user.role.code == 'ROLE_ADMINISTRATEUR'" (click)="desactiverAgence(agenceImmobiliere.id)" icon="pi pi-lock" pTooltip="Désactiver cette agence immobilière" tooltipPosition="right"
                                                class="p-button-text p-button-danger">
</button>

                                            <button pButton type="button" *ngIf="agenceImmobiliere.etatAgence == false && user.role.code == 'ROLE_ADMINISTRATEUR'" (click)="activerAgence(agenceImmobiliere.id)" icon="pi pi-lock-open" pTooltip="Activer cette agence immobilière" tooltipPosition="right"
                                                class="p-button-text p-button-success">
</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="agencesImmobilieres.totalElements !== 0" class="mbp_pagination text-center mt30">
                        <p-paginator (onPageChange)="pagination($event)" [rows]="agencesImmobilieres.size" [totalRecords]="agencesImmobilieres.totalElements" [rowsPerPageOptions]="[5, 10, 15]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} agences immobilières"
                            [showPageLinks]="true" [showFirstLastIcon]="true">
                        </p-paginator>
                    </div>
                    <div *ngIf="agencesImmobilieres.totalElements == 0" class="mbp_pagination text-center mt30">
                        <p class="mt10 pagination_page_count text-center">Aucune agence immobilière enregistrée pour le moment</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Liste des agences immobilières - Vue Administrateur -->
</div>
