

  <div class="dashboard__content bgc-f7">
    <div class="row pb40 d-block d-lg-none">
      <!-- Menu responsive -->
      <app-menu-responsive></app-menu-responsive>
      <!-- End Menu responsive -->
    </div>

    <!-- Mes informations -->
    <div>
      <div  class="row align-items-center pb40">
        <div class="col-xxl-3">
          <div class="dashboard_title_area">
            <h4>Mon profil</h4>
            <h6 *ngIf="!personne.estCertifie && (personne.role.code === 'ROLE_AGENTIMMOBILER' || personne.role.code === 'ROLE_PROPRIETAIRE' || personne.role.code === 'ROLE_DEMARCHEUR')" class="text" style="color: rgb(202, 8, 8);">Votre compte n'est pas certifié, veuillez demander la certification de compte en cliquant sur le menu <b>certifications</b> !</h6>
          </div>
        </div>
      </div>
      <p-toast></p-toast>
      <div class="row" *ngIf="affichage == 1">
        <div class="col-xl-12">
          <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">
            <h4 class="title fz17 mb30">Mes informations</h4>
            <table class="table-style3 table at-savesearch">
              <tbody>
                <tbody class="t-body">
                  <tr>
                    <td class="vam">Nom & Prénom</td>
                    <td>{{ personne.nom }} {{ personne.prenom }} <i *ngIf="personne.estCertifie && (personne.role.code === 'ROLE_AGENTIMMOBILER' || personne.role.code === 'ROLE_PROPRIETAIRE' || personne.role.code === 'ROLE_DEMARCHEUR')" class="fa-sharp fa-solid fa-badge-check fa-lg" style="color: #0f77e6;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td class="vam">Nom d'utilisateur</td>
                    <td>{{ personne.username }}</td>
                  </tr>
                  <tr>
                    <td class="vam">Email</td>
                    <td>{{ personne.email }}</td>
                  </tr>
                  <tr>
                    <td class="vam">Rôle</td>
                    <td>{{ personne.role.libelle }}</td>
                  </tr>
                  <tr>
                    <td class="vam">Téléphone</td>
                    <td>{{ personne.telephone }}</td>
                  </tr>
                  <tr>
                    <td class="vam">Etat compte</td>
                    <td>
                      <p-tag *ngIf="personne.etatCompte == true" severity="success" value="Activé"></p-tag>
                      <p-tag *ngIf="personne.etatCompte == false" severity="danger" value="Désactivé"></p-tag>
                    </td>
                  </tr>
                  <tr *ngIf="personne.role.code == 'ROLE_AGENTIMMOBILIER' || personne.role.code == 'ROLE_DEMARCHEUR' || personne.role.code == 'ROLE_PROPRIETAIRE'">
                    <td class="vam">Est certifié</td>
                    <td>
                      <p-tag *ngIf="personne.estCertifie == true" severity="success" value="Oui"></p-tag>
                      <p-tag *ngIf="personne.estCertifie == false" severity="danger" value="Non"></p-tag>
                    </td>
                  </tr>
              </tbody>
            </table>
            <div class="text-end">
              <a class="ud-btn btn-thm" (click)="afficherFormulaireModifier()" type="button">Modifier</a>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="affichage == 2" class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">
        <h4 class="title fz17 mb30">Modification des informations</h4>
        <form class="form-style1" [formGroup]="userForm" (ngSubmit)="modifierUser()">
          <div class="row">
            <div class="col-sm-6 col-xl-4">
              <div class="mb20">
                <label class="heading-color ff-heading fw600 mb10">Nom</label>
                <input type="text" class="form-control" placeholder="Votre nom" formControlName="nom" id="nom" name="nom" [ngModel]="personne.nom" required>
                <div class="text-danger" [hidden]="nom.valid || nom.pristine && !nom.touched ">Le nom est obligatoire</div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-4">
              <div class="mb20">
                <label class="heading-color ff-heading fw600 mb10">Prénom</label>
                <input type="text" class="form-control" placeholder="Votre prenom" formControlName="prenom" id="prenom" name="prenom" [ngModel]="personne.prenom" required>
                <div class="text-danger" [hidden]="prenom.valid || prenom.pristine && !prenom.touched ">Le prénom est obligatoire</div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-4">
              <div class="mb20">
                <label class="heading-color ff-heading fw600 mb10">Nom d'utilisateur</label>
                <input type="text" class="form-control"  placeholder="Votre nom d'utilisateur" formControlName="username" id="username" name="username" [ngModel]="personne.username" required>
                <div class="text-danger" [hidden]="username.valid || username.pristine && !username.touched ">Le nom d'utilisateur est obligatoire</div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-4">
              <div class="mb20">
                <label class="heading-color ff-heading fw600 mb10">Email</label>
                <input type="email" class="form-control"  placeholder="Votre email" formControlName="email" id="email" name="email" [ngModel]="personne.email" required>
                <div class="text-danger" [hidden]="!email?.hasError('required') || !email.touched">
                  L'adresse e-mail est obligatoire
                </div>
                <div class="text-danger" [hidden]="!email?.hasError('email') || !email.touched">
                  L'adresse e-mail saisie n'est pas valide.
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-4">
              <div class="mb20">
                <label class="heading-color ff-heading fw600 mb10">Mot de passe</label>
                <input type="password" class="form-control" formControlName="motDePasse" id="motDePasse" name="motDePasse" [ngModel]="personne.motDePasse" required>
                <div class="text-danger" *ngIf="motDePasse?.hasError('required') && motDePasse.touched">Le mot de passe du notaire est obligatoire</div>
                <div class="text-danger" *ngIf="motDePasse?.errors?.['minlength'] || motDePasse.errors?.['maxlength'] && motDePasse.touched">Le mot de passe doit comporter au minimum 7 et au maximum 14 caractères.</div>
                <div class="text-danger" *ngIf="motDePasse?.hasError('pattern')">Le mot de passe doit inclure au moins une minuscule, une majuscule, un chiffre et un caractère spécial.</div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-4">
              <div class="mb20">
                <label class="heading-color ff-heading fw600 mb10">Téléphone</label>
                <input type="text" class="form-control" id="telephone" name="telephone" placeholder="Le numéro de téléphone du notaire" formControlName="telephone" [(ngModel)]="personne.telephone" required>
                <div class="text-danger" [hidden]="telephone.valid || telephone.pristine && !telephone.touched ">Le numéro de téléphone est obligatoire</div>
              </div>
            </div>
            <br>
            <div class="col-md-12">
              <div class="text-end">
                <a class="ud-btn btn-thm" [ngClass]="{ 'disabled-link': userForm.invalid }" (click)="userForm.invalid ? null : modifierUser()" type="submit">Modifier</a>
                &nbsp;
                <a class="ud-btn btn-thm4" id="retour" type="button" (click)="retour()">Annuler</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- End Mes informations -->
  </div>
