

  <div class="dashboard__content property-page bgc-f7">
    <div class="row pb40 d-block d-lg-none">
      <!-- Menu responsive -->
      <app-menu-responsive></app-menu-responsive>
      <!-- End Menu responsive -->
    </div>

    <!-- Mes informations -->
    <div>
      <div  class="row align-items-center pb40">
        <div class="col-xxl-3">
          <div class="dashboard_title_area">
            <h3>Mon profil</h3>
            <h6 *ngIf="!personne.estCertifie && (personne.role.code === 'ROLE_AGENTIMMOBILER' || personne.role.code === 'ROLE_PROPRIETAIRE' || personne.role.code === 'ROLE_DEMARCHEUR')" class="text" style="color: rgb(202, 8, 8);">Votre compte n'est pas certifié, veuillez demander la certification de compte !</h6>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="affichage == 1">
        <div class="bd-example" *ngIf="messageSuccess">
          <div class="alert alert-left alert-success alert-dismissible fade show mb-3" role="alert">
            {{ messageSuccess }}
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
        <div class="col-xl-12">
          <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">
            <h4 class="title fz17 mb30">Mes informations</h4>
            <table class="table-style3 table at-savesearch">
              <tbody>
                <tbody class="t-body">
                  <tr>
                    <td class="vam">Nom & Prénom</td>
                    <td>{{ personne.nom }} {{ personne.prenom }} <i *ngIf="personne.estCertifie && (personne.role.code === 'ROLE_AGENTIMMOBILER' || personne.role.code === 'ROLE_PROPRIETAIRE' || personne.role.code === 'ROLE_DEMARCHEUR')" class="fa-sharp fa-solid fa-badge-check fa-2xl" style="color: #0f77e6;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td class="vam">Username</td>
                    <td>{{ personne.username }}</td>
                  </tr>
                  <tr>
                    <td class="vam">Email</td>
                    <td>{{ personne.email }}</td>
                  </tr>
                  <tr>
                    <td class="vam">Rôle</td>
                    <td>{{ personne.role.libelle }}</td>
                  </tr>
                  <tr>
                    <td class="vam">Téléphone</td>
                    <td>{{ personne.telephone }}</td>
                  </tr>
                  <tr>
                    <td class="vam">Etat compte</td>
                    <td>
                      <span *ngIf="personne.etatCompte == true" class="pending-style style2">Actif</span>
                      <span *ngIf="personne.etatCompte == false" class="pending-style style3">Inactif</span>
                    </td>
                  </tr>
                  <tr *ngIf="personne.role.code == 'ROLE_AGENTIMMOBILIER' || personne.role.code == 'ROLE_DEMARCHEUR' || personne.role.code == 'ROLE_PROPRIETAIRE'">
                    <td class="vam">Est certifié</td>
                    <td>
                      <span *ngIf="personne.estCertifie == true" class="pending-style style2">Oui</span>
                      <span *ngIf="personne.estCertifie == false" class="pending-style style3">Non</span>
                    </td>
                  </tr>
              </tbody>
            </table>
            <div class="text-end">
              <a class="ud-btn btn-thm" (click)="afficherFormulaireModifier()" type="button">Modifier mes informations<i class="fal fa-arrow-right-long"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="affichage == 2" class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">
        <h4 class="title fz17 mb30">Modification des informations</h4>
        <div class="bd-example" *ngIf="erreur">
          <div class="alert alert-left alert-danger alert-dismissible fade show mb-3" role="alert">
            {{ messageErreur }}
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
        <form class="form-style1" [formGroup]="userForm" (ngSubmit)="modifierUser()">
          <div class="row">
            <div class="col-sm-6 col-xl-4">
              <div class="mb20">
                <label class="heading-color ff-heading fw600 mb10">Nom</label>
                <input type="text" class="form-control" placeholder="Votre nom" formControlName="nom" id="nom" name="nom" [ngModel]="personne.nom" required>
                <div class="alert alert-danger" [hidden]="nom.valid || nom.pristine && !nom.touched ">Le nom est obligatoire</div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-4">
              <div class="mb20">
                <label class="heading-color ff-heading fw600 mb10">Prenom</label>
                <input type="text" class="form-control" placeholder="Votre prenom" formControlName="prenom" id="prenom" name="prenom" [ngModel]="personne.prenom" required>
                <div class="alert alert-danger" [hidden]="prenom.valid || prenom.pristine && !prenom.touched ">Le prenom est obligatoire</div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-4">
              <div class="mb20">
                <label class="heading-color ff-heading fw600 mb10">Username</label>
                <input type="text" class="form-control"  placeholder="Votre nom d'utilisateur" formControlName="username" id="username" name="username" [ngModel]="personne.username" required>
                <div class="alert alert-danger" [hidden]="username.valid || username.pristine && !username.touched ">Le nom d'utilisateur est obligatoire</div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-4">
              <div class="mb20">
                <label class="heading-color ff-heading fw600 mb10">Email</label>
                <input type="email" class="form-control"  placeholder="Votre email" formControlName="email" id="email" name="email" [ngModel]="personne.email" required>
                <div class="alert alert-danger" [hidden]="email.valid || email.pristine && !email.touched ">L'email est obligatoire</div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-4">
              <div class="mb20">
                <label class="heading-color ff-heading fw600 mb10">Mot de passe</label>
                <input type="password" class="form-control" formControlName="motDePasse" id="motDePasse" name="motDePasse" [ngModel]="personne.motDePasse" required>
                <div class="alert alert-danger" [hidden]="motDePasse.valid || motDePasse.pristine && !motDePasse.touched ">L'email est obligatoire</div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-4">
              <div class="mb20">
                <label class="heading-color ff-heading fw600 mb10">Téléphone</label>
                <input type="text" class="form-control" id="telephone" name="telephone" placeholder="Le numéro de téléphone du notaire" formControlName="telephone" [(ngModel)]="personne.telephone" required>
                <div class="alert alert-danger" [hidden]="telephone.valid || telephone.pristine && !telephone.touched ">Le numéro de téléphone est obligatoire</div>
              </div>
            </div>
            <br>
            <div class="col-md-12">
              <div class="text-end">
                <a class="ud-btn btn-warning" [ngClass]="{ 'disabled-link': userForm.invalid }" (click)="userForm.invalid ? null : modifierUser()" type="submit">Modifier</a>
                &nbsp;
                <a class="ud-btn btn-secondary" type="button" (click)="retour()">Annuler</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- End Mes informations -->
