<div class="dashboard__content bgc-f7">
  <div class="row pb40 d-block d-lg-none">
    <!-- Menu responsive -->
    <app-menu-responsive></app-menu-responsive>
    <!-- End Menu responsive -->
  </div>

  <p-toast></p-toast>

  <!-- Formulaire d'ajout d'un notaire -->
  <div *ngIf="visibleAddForm == 1">
    <div class="row align-items-center pb40">
      <div class="col-xxl-3">
        <div class="dashboard_title_area">
          <h4>Ajout d'un notaire</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">
          <form [formGroup]="notaireForm" (ngSubmit)="ajouterNotaire()" class="form-style1">
            <div class="row">
              <p class="error">Les identifiants de connexion seront envoyés à l'adresse e-mail du notaire une fois l'opération de l'enregistrement terminée.</p>
              <div class="col-lg-6">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Nom</label>
                  <input type="text" class="form-control" id="nom" name="nom" placeholder="Le nom du notaire" formControlName="nom" [(ngModel)]="notaire.nom" required>
                  <div class="error" [hidden]="nom.valid || nom.pristine && !nom.touched ">Le nom du notaire est obligatoire</div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Prénom(s)</label>
                  <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Le(s) prénom(s) du notaire" formControlName="prenom" [(ngModel)]="notaire.prenom" required>
                  <div class="error" [hidden]="prenom.valid || prenom.pristine && !prenom.touched ">Le prénom du notaire est obligatoire</div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Email</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="L'email du notaire" formControlName="email" [(ngModel)]="notaire.email" required>
                  <div class="error" [hidden]="!email?.hasError('required') || !email.touched">
                    L'e-mail du notaire est obligatoire
                  </div>
                  <div class="error" [hidden]="!email?.hasError('email') || !email.touched">
                    L'e-mail saisie n'est pas valide.
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Téléphone</label>
                  <input type="text" class="form-control" id="telephone" name="telephone" placeholder="Le numéro de téléphone du notaire" formControlName="telephone" [(ngModel)]="notaire.telephone" required>
                  <div class="error" [hidden]="telephone.valid || telephone.pristine && !telephone.touched ">Le numéro de téléphone du notaire obligatoire</div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="text-end">
                <button pButton (click)="voirListe()" pRipple label="Annuler" class="p-button-secondary"></button>
                <button pButton [ngClass]="{ 'disabled-link': notaireForm.invalid }" pRipple label="Ajouter" type="submit" class="p-button-success"></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Formulaire d'ajout d'un notaire -->

  <!-- Liste des notaires -->
  <div *ngIf="affichage == 1">
    <div class="row align-items-center pb40">
      <div class="col-xxl-3">
        <div class="dashboard_title_area">
          <h4>Liste des notaires</h4>
        </div>
      </div>
      <div class="col-xxl-9">
        <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
          <div class="item1 mb15-sm">
            <div class="search_area">
              <input type="text" [(ngModel)]="recherche" class="form-control bdrs12" placeholder="Faire une recherche">
              <label><span class="flaticon-search"></span></label>
            </div>
          </div>
          &nbsp;
          <a type="button" *ngIf="visibleAddForm == 0" (click)="afficherFormulaireAjouter()" class="ud-btn btn-thm">Ajouter un notaire</a>
        </div>
      </div>
    </div>
    <div class="row">
      <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
          <div class="packages_table table-responsive">
            <table class="table-style3 table at-savesearch">
              <thead class="t-head">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Prénom(s)</th>
                  <th scope="col">Etat compte</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody class="t-body">
                <tr *ngFor="let notaire of notairesParPage | genericFilter: recherche;  let i = index">
                  <td class="vam">{{ pageActuelle + i + 1 }}</td>
                  <td class="vam">{{ notaire.nom }}</td>
                  <td class="vam">{{ notaire.prenom }}</td>
                  <td class="vam">
                    <p-tag *ngIf="notaire.etatCompte == true" severity="success" value="Activé"></p-tag>
                    <p-tag *ngIf="notaire.etatCompte == false" severity="danger" value="Désactivé"></p-tag>
                  </td>
                  <td class="vam">
                    <div class="d-flex">
                      <button pButton type="button" (click)="afficherPageDetail(notaire.id)" icon="pi pi-eye"
                        pTooltip="Détails" tooltipPosition="right" class="p-button-text p-button-info">
                      </button>

                      <button pButton type="button" *ngIf="notaire.etatCompte == true"(click)="desactiverCompte(notaire.id)" icon="pi pi-lock"
                        pTooltip="Désactiver ce compte" tooltipPosition="top" class="p-button-text p-button-danger">
                      </button>

                      <button pButton type="button" *ngIf="notaire.etatCompte == false" (click)="activerCompte(notaire.id)" icon="pi pi-lock-open"
                        pTooltip="Activer ce compte" tooltipPosition="left" class="p-button-text p-button-success">
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="notaires.length !== 0" class="mbp_pagination text-center mt30">
            <p-paginator
              (onPageChange)="pagination($event)" [first]="pageActuelle"
              [rows]="elementsParPage" [totalRecords]="notaires.length"
              [rowsPerPageOptions]="[5, 10, 15]" [showCurrentPageReport]="true"
              currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} notaires"
              [showPageLinks]="true" [showFirstLastIcon]="true">
            </p-paginator>
            <!-- <p class="mt10 pagination_page_count text-center">{{ notaires.length }} notaires disponibles</p> -->
          </div>
          <div *ngIf="notaires.length == 0" class="mbp_pagination text-center mt30">
            <p class="mt10 pagination_page_count text-center">Aucun notaire enregistré pour le moment</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Liste des notaires -->

  <!-- Details d'un notaire -->
  <div *ngIf="affichage == 3">
    <div  class="row align-items-center pb40">
      <div class="col-xxl-3">
        <div class="dashboard_title_area">
          <h4>Détails d'un notaire</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">

          <div class="row">

            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Nom</p>
              <p>{{ notaire.nom }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Prénom(s)</p>
              <p>{{ notaire.prenom }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Nom d'utilisateur</p>
              <p>{{ notaire.username }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Matricule</p>
              <p>{{ notaire.matricule }}</p>
            </div>


            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Adresse e-mail</p>
              <p>{{ notaire.email }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Numéro de téléphone</p>
              <p>{{ notaire.telephone }}</p>
            </div>


            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Profil</p>
              <p>{{ notaire.role.libelle }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Etat du compte</p>
              <p>
                <p-tag *ngIf="notaire.etatCompte == true" severity="success" value="Activé"></p-tag>
                <p-tag *ngIf="notaire.etatCompte == false" severity="danger" value="Désactivé"></p-tag>
              </p>
            </div>
            <p-divider></p-divider>

          </div>

          <div class="text-end">
            <a class="ud-btn btn-thm" (click)="voirListe()"  type="button">Retour</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Details d'un notaire -->

</div>
