<div class="dashboard__content property-page bgc-f7">
    <div class="row pb40 d-block d-lg-none">
        <!-- Menu responsive -->
        <app-menu-responsive></app-menu-responsive>
        <!-- End Menu responsive -->
    </div>

    <p-toast></p-toast>

    <!-- Liste des demandes de visites -->
    <div *ngIf="affichage == 1">
        <div class="row align-items-center pb40">
            <div class="col-xxl-7">
                <div class="dashboard_title_area">
                    <h4>Liste des demandes de visites</h4>
                </div>
            </div>
            <div class="col-xxl-5">
                <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
                    <div class="item1 mb15-sm">
                        <div class="search_area">
                            <div class="input-group">
                                <span class="input-group-text">
                          <i class="pi pi-search" style="font-weight: bold"></i>
                        </span>
                                <input type="text" pInputText [(ngModel)]="recherche" class="inputText" placeholder="Que cherchez-vous ?">
                            </div>
                        </div>
                    </div>
                    <!-- &nbsp;
          <a type="button" (click)="voirFormulaireAjouter()" class="ud-btn btn-thm">Ajouter une publication</a> -->
                </div>
            </div>
        </div>
        <div class="row">
            <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
            <div class="col-xl-12">
                <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
                    <div class="packages_table table-responsive">
                        <table class="table-style3 table at-savesearch">
                            <thead class="t-head">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">{{ user.role.code == 'ROLE_CLIENT' ? 'Annonceur' : 'Client' }}</th>
                                    <th scope="col">Bien</th>
                                    <!-- <th scope="col">Date</th> -->
                                    <th scope="col">Etat</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="t-body">
                                <tr *ngFor="let demandeVisite of demandesVisites.content | genericFilter: recherche; let i = index">
                                    <td class="vam">{{ (numeroDeLaPage * elementsParPage) + i + 1 }}</td>
                                    <td class="vam">{{ demandeVisite.codeDemande }}</td>
                                    <td class="vam" *ngIf="user.role.code !== 'ROLE_CLIENT'">{{ demandeVisite.client.nom }} {{ demandeVisite.client.prenom }}</td>
                                    <td class="vam" *ngIf="user.role.code == 'ROLE_CLIENT' && demandeVisite.publication.agenceImmobiliere !== null">{{ demandeVisite.publication.agenceImmobiliere.nomAgence }}</td>
                                    <td class="vam" *ngIf="user.role.code == 'ROLE_CLIENT' && demandeVisite.publication.agenceImmobiliere == null">{{ demandeVisite.publication.personne.nom }} {{ demandeVisite.publication.personne.prenom }}</td>
                                    <td class="vam">{{ demandeVisite.publication.bienImmobilier.codeBien }} / {{ demandeVisite.publication.bienImmobilier.typeDeBien.designation }}</td>
                                    <!-- <td class="vam">{{ publication.datePublication | date: 'dd/MM/yyyy' }}</td> -->
                                    <td class="vam">
                                        <p-tag *ngIf="demandeVisite.etatDemande == 0" severity="warning" value="En attente"></p-tag>
                                        <p-tag *ngIf="demandeVisite.etatDemande == 1" severity="success" value="Validé"></p-tag>
                                        <p-tag *ngIf="demandeVisite.etatDemande == 2" severity="danger" value="Annulé"></p-tag>
                                        <p-tag *ngIf="demandeVisite.etatDemande == 3" severity="danger" value="Refusé"></p-tag>
                                        <p-tag *ngIf="demandeVisite.etatDemande == 4" severity="info" value="Modifié"></p-tag>
                                        <p-tag *ngIf="demandeVisite.etatDemande == 5" severity="info" value="Modifié"></p-tag>
                                    </td>
                                    <td class="vam">
                                        <div class="d-flex">
                                            <button pButton type="button" icon="pi pi-eye" (click)="afficherPageDetail(demandeVisite.id)" pTooltip="Détails" tooltipPosition="top" class="p-button-text p-button-info">
                      </button>

                                            <button pButton type="button" icon="pi pi-pencil pi-lg" *ngIf="(demandeVisite.etatDemande == 0 || demandeVisite.etatDemande == 2 || demandeVisite.etatDemande == 3 || demandeVisite.etatDemande == 4 || demandeVisite.etatDemande == 5) && user.role.code == 'ROLE_CLIENT'"
                                                (click)="afficherPageModifier(demandeVisite.id)" pTooltip="Modifier" tooltipPosition="top" class="p-button-text p-button-warning">
                      </button>

                                            <button pButton type="button" icon="pi pi-pencil pi-lg" *ngIf="(demandeVisite.etatDemande == 0 || demandeVisite.etatDemande == 4 || demandeVisite.etatDemande == 5) && user.role.code != 'ROLE_CLIENT'" (click)="afficherPageModifier(demandeVisite.id)" pTooltip="Modifier"
                                                tooltipPosition="top" class="p-button-text p-button-warning">
</button>

                                            <button *ngIf="(demandeVisite.etatDemande == 0 || demandeVisite.etatDemande == 4) && user.role.code == 'ROLE_CLIENT'" pButton type="button" icon="pi pi-send pi-lg" (click)="relancer(demandeVisite.id)" pTooltip="Relancer" tooltipPosition="right" class="p-button-text p-button-sucess">
                      </button>
                                        </div>
                                    </td>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="demandesVisites.totalElements !== 0" class="mbp_pagination text-center mt30">
                        <p-paginator (onPageChange)="pagination($event)" [rows]="demandesVisites.size" [totalRecords]="demandesVisites.totalElements" [rowsPerPageOptions]="[5, 10, 15]" [showCurrentPageReport]="true" [showPageLinks]="true" [showFirstLastIcon]="true" currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} demandes de visites">
                        </p-paginator>
                    </div>
                    <div *ngIf="demandesVisites.totalElements == 0" class="mbp_pagination text-center mt30">
                        <p class="mt10 pagination_page_count text-center">Aucune demande de visite enregistrée pour le moment</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Détails d'une demande de visite -->
    <div *ngIf="affichage == 2">
        <div class="row align-items-center">
            <div class="col-xxl-5">
                <div class="dashboard_title_area">
                    <h4>Détails d'une demande de visite</h4>
                </div>
            </div>
            <div class="col-xxl-7">
                <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
                    <a class="ud-btn btn-valider" type="button" *ngIf="user.role.code != 'ROLE_CLIENT' && (demandeVisite.etatDemande == 0 || demandeVisite.etatDemande == 4) && afficherBoutonSiBienDelegue(demandeVisite.publication.bienImmobilier.estDelegue)" (click)="valider(demandeVisite.id)">Valider</a>
                    <a class="ud-btn btn-valider" type="button" *ngIf="user.role.code == 'ROLE_CLIENT' && demandeVisite.etatDemande == 5" (click)="valider(demandeVisite.id)">Valider</a> &nbsp;
                    <a class="ud-btn btn-danger" type="button" *ngIf="(demandeVisite.etatDemande == 0 || demandeVisite.etatDemande == 4 || demandeVisite.etatDemande == 5) && afficherBoutonSiBienDelegue(demandeVisite.publication.bienImmobilier.estDelegue)" (click)="user.role.code == 'ROLE_CLIENT' ? afficherModalAnnulation(demandeVisite.id) : afficherModalRefus(demandeVisite.id)">
           {{ user.role.code == 'ROLE_CLIENT' ? 'Annuler' : 'Refuser' }}
         </a> &nbsp;
                    <a type="button" (click)="voirListe()" class="ud-btn btn-retour">Retour</a>
                </div>
            </div>
            <p-messages severity="info">
                <ng-template pTemplate>
                    <div class="ml-2">
                        <th scope="col">Libelle : {{ demandeVisite.publication.libelle }}</th>
                    </div>
                </ng-template>
            </p-messages>
        </div>

        <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
        <div class="row">
            <div class="col-xl-12">
                <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
                    <div class="row">
                        <div *ngFor="let listMotif of listMotifs; let i = index;">
                            <h4 class="title title-detail fz17 mb20">{{ listMotif.libelle }} | {{ listMotif.creerLe | date: 'dd/MM/yyyy' }}</h4>
                            <p class="text justify-text">{{ listMotif.motif }}</p>
                        </div>
                        <p-divider *ngIf="listMotifs.length !== 0"></p-divider>

                        <h4 class="title title-detail fz17 mb30">Demande de visite</h4>
                        <div class="row" *ngIf="user.role.code !== 'ROLE_CLIENT'">
                            <div class="col-sm-6 col-xl-4">
                                <p class="fw600 mb5 ff-heading dark-color">Client</p>
                                <p class="text">{{ demandeVisite.client.nom + ' ' + demandeVisite.client.prenom }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <p class="fw600 mb5 ff-heading dark-color">Email du client</p>
                                <p class="text">{{ demandeVisite.client.email }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <p class="fw600 mb5 ff-heading dark-color">Téléphone du client</p>
                                <p class="text">{{ demandeVisite.client.telephone }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <p class="fw600 mb5 ff-heading dark-color">Date de visite</p>
                                <p class="text text-capitalize">{{ demandeVisite.dateHeureVisite | date: "dd/MM/yyyy" }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <p class="fw600 mb5 ff-heading dark-color">Heure de visite</p>
                                <p class="text">{{ demandeVisite.dateHeureVisite | date:'HH:mm' }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <p class="fw600 mb5 ff-heading dark-color">Etat</p>
                                <p class="text">
                                    <p-tag *ngIf="demandeVisite.etatDemande == 0" severity="warning" value="En attente"></p-tag>
                                    <p-tag *ngIf="demandeVisite.etatDemande == 1" severity="success" value="Validé"></p-tag>
                                    <p-tag *ngIf="demandeVisite.etatDemande == 2" severity="danger" value="Annulé"></p-tag>
                                    <p-tag *ngIf="demandeVisite.etatDemande == 3" severity="danger" value="Refusé"></p-tag>
                                    <p-tag *ngIf="demandeVisite.etatDemande == 4" severity="info" value="Modifié"></p-tag>
                                    <p-tag *ngIf="demandeVisite.etatDemande == 5" severity="info" value="Modifié"></p-tag>
                                </p>
                            </div>
                        </div>

                        <div class="row" *ngIf="user.role.code == 'ROLE_CLIENT'">
                            <div class="col-sm-6 col-xl-4">
                                <p class="fw600 mb5 ff-heading dark-color">Annonceur</p>
                                <p class="text">{{ demandeVisite.publication.agenceImmobiliere ? demandeVisite.publication.agenceImmobiliere.nomAgence : demandeVisite.publication.personne.nom + ' ' + demandeVisite.publication.personne.prenom }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <p class="fw600 mb5 ff-heading dark-color">Email de l'annonceur</p>
                                <p class="text">{{ demandeVisite.publication.agenceImmobiliere ? demandeVisite.publication.agenceImmobiliere.adresseEmail : demandeVisite.publication.personne.email }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <p class="fw600 mb5 ff-heading dark-color">Téléphone de l'annonceur</p>
                                <p class="text">{{ demandeVisite.publication.agenceImmobiliere ? demandeVisite.publication.agenceImmobiliere.telephone : demandeVisite.publication.personne.telephone }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <p class="fw600 mb5 ff-heading dark-color">Date de visite</p>
                                <p class="text text-capitalize">{{ demandeVisite.dateHeureVisite | date: "dd/MM/yyyy" }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <p class="fw600 mb5 ff-heading dark-color">Heure de visite</p>
                                <p class="text">{{ demandeVisite.dateHeureVisite | date:'HH:mm' }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <p class="fw600 mb5 ff-heading dark-color">Etat</p>
                                <p class="text">
                                    <p-tag *ngIf="demandeVisite.etatDemande == 0" severity="warning" value="En attente"></p-tag>
                                    <p-tag *ngIf="demandeVisite.etatDemande == 1" severity="success" value="Validé"></p-tag>
                                    <p-tag *ngIf="demandeVisite.etatDemande == 2" severity="danger" value="Annuler"></p-tag>
                                    <p-tag *ngIf="demandeVisite.etatDemande == 3" severity="danger" value="Refusé"></p-tag>
                                    <p-tag *ngIf="demandeVisite.etatDemande == 4" severity="info" value="Modifié"></p-tag>
                                    <p-tag *ngIf="demandeVisite.etatDemande == 5" severity="info" value="Modifié"></p-tag>
                                </p>
                            </div>
                        </div>

                        <p-divider *ngIf="listMotifs.length !== 0"></p-divider>
                        <div *ngFor="let listMotif of listMotifs; let i = index;">
                            <h4 class="title title-detail fz17 mb20">Motif {{ user.role.code == 'ROLE_CLIENT' ? 'de refus' : 'd\'annulation'}} #{{ i + 1 }}</h4>
                            <p class="text justify-text">{{ listMotif.motif }}</p>
                        </div>

                        <p-divider></p-divider>
                        <h4 class="title title-detail fz17 mb30">Publication</h4>
                        <div class="row">
                            <div class="col-sm-6 col-xl-4">
                                <p class="fw600 mb5 ff-heading dark-color">Code publication</p>
                                <p class="text">{{ demandeVisite.publication.codePublication }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <p class="fw600 mb5 ff-heading dark-color">Type de transaction</p>
                                <p class="text">{{ demandeVisite.publication.typeDeTransaction }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <p class="fw600 mb5 ff-heading dark-color">Date de publication</p>
                                <p class="text">{{ demandeVisite.publication.datePublication | date: "dd/MM/yyyy" }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4">
                                <p class="fw600 mb5 ff-heading dark-color">Prix {{ demandeVisite.publication.typeDeTransaction === 'Location' ? 'mensuel' : '' }} du bien</p>
                                <p class="text">{{ demandeVisite.publication.prixDuBien | number }} FCFA</p>
                            </div>
                            <div class="col-sm-6 col-xl-4" *ngIf="demandeVisite.publication.typeDeTransaction == 'Location' && demandeVisite.publication.avance">
                                <p class="fw600 mb5 ff-heading dark-color">Avance</p>
                                <p class="text">{{ demandeVisite.publication.avance }} mois</p>
                            </div>
                            <div class="col-sm-6 col-xl-4" *ngIf="demandeVisite.publication.typeDeTransaction == 'Location' && demandeVisite.publication.caution">
                                <p class="fw600 mb5 ff-heading dark-color">Caution</p>
                                <p class="text">{{ demandeVisite.publication.caution }} mois</p>
                            </div>
                            <div class="col-sm-6 col-xl-4" *ngIf="demandeVisite.publication.commission">
                                <p class="fw600 mb5 ff-heading dark-color">Commission</p>
                                <p class="text">{{ demandeVisite.publication.commission }} {{ demandeVisite.publication.typeDeTransaction === 'Location' ? 'mois' : '%' }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4" *ngIf="demandeVisite.publication.fraisDeVisite">
                                <p class="fw600 mb5 ff-heading dark-color">Frais de visite</p>
                                <p class="text">{{ demandeVisite.publication.fraisDeVisite }}</p>
                            </div>
                        </div>

                        <p-divider></p-divider>
                        <h4 class="title title-detail fz17 mb30">Bien immobilier</h4>
                        <div class="text-center" *ngIf="images.length == 0">
                            <p-image class="w-100" imageClass="imageLength0" src="assets/images/home/house.jpg" alt="" width="650" loading="lazy"></p-image>
                        </div>

                        <div *ngIf="images.length !== 0">
                            <p-galleria [value]="images" [showIndicators]="false" [showItemNavigatorsOnHover]="true" [showItemNavigators]="true" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '640px', 'margin': '0 auto' }" [numVisible]="5">

                                <ng-template pTemplate="item" let-item>
                                    <img src="{{this.APIEndpoint+'api/image/bien-immobilier/'+item.id}}" style="width: 100%; border-radius:10px;" loading="lazy" />
                                </ng-template>

                                <ng-template pTemplate="thumbnail" *ngIf="images.length > 4" let-item>
                                    <div class="grid grid-nogutter justify-content-center">
                                        <img src="{{this.APIEndpoint+'api/image/bien-immobilier/'+item.id}}" style="width: 100%; border-radius:8px;" loading="lazy" />
                                    </div>
                                </ng-template>

                            </p-galleria>
                        </div>

                        <h4 class="title fz17 mb10 mt30" *ngIf="demandeVisite.publication.bienImmobilier.description">Description</h4>
                        <p class="text justify-text" *ngIf="demandeVisite.publication.bienImmobilier.description">
                            {{ demandeVisite.publication.bienImmobilier.description }}
                        </p>

                        <div class="row">
                            <div class="col-md-6 col-xl-4">
                                <div class="d-flex justify-content-between">
                                    <div class="pd-list">
                                        <p class="fw600 mb10 ff-heading dark-color">Code</p>
                                        <p class="fw600 mb10 ff-heading dark-color">Type de bien</p>
                                        <p class="fw600 mb10 ff-heading dark-color" *ngIf="afficherCategorie(bienImm.typeDeBien.designation)">Catégorie</p>
                                        <p class="fw600 mb10 ff-heading dark-color">Pays</p>
                                        <p class="fw600 mb10 ff-heading dark-color">Région</p>
                                        <p class="fw600 mb-0 ff-heading dark-color">Ville</p>
                                    </div>
                                    <div class="pd-list">
                                        <p class="text mb10">{{ bienImm.codeBien }}</p>
                                        <p class="text mb10">{{ bienImm.typeDeBien.designation }}</p>
                                        <p class="text mb10" *ngIf="afficherCategorie(bienImm.typeDeBien.designation)">{{ bienImm.categorie }}</p>
                                        <p class="text mb10">{{ bienImm.quartier.ville.region.pays.libelle }}</p>
                                        <p class="text mb10">{{ bienImm.quartier.ville.region.libelle }}</p>
                                        <p class="text mb-0">{{ bienImm.quartier.ville.libelle }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-4 offset-xl-2">
                                <div class="d-flex justify-content-between">
                                    <div class="pd-list">
                                        <p class="fw600 mb10 ff-heading dark-color">Quartier</p>
                                        <p class="fw600 mb10 ff-heading dark-color">Adresse</p>
                                        <p class="fw600 mb10 ff-heading dark-color">Surface</p>
                                        <p class="fw600 mb10 ff-heading dark-color">Statut</p>
                                        <p class="fw600 mb-0 ff-heading dark-color">Etat</p>
                                    </div>
                                    <div class="pd-list">
                                        <p class="text mb10">{{ bienImm.quartier.libelle }}</p>
                                        <p class="text mb10" *ngIf="bienImm.adresse">{{ bienImm.adresse }}</p>
                                        <p class="text mb10" *ngIf="bienImm.surface">{{ bienImm.surface }} m²</p>
                                        <p class="text mb10">
                                            <p-tag *ngIf="bienImm.statutBien == 'Disponible'" severity="success" value="Disponible"></p-tag>
                                        </p>
                                        <p class="text mb-0">
                                            <p-tag *ngIf="bienImm.etatBien == true" severity="success" value="Activé"></p-tag>
                                            <p-tag *ngIf="bienImm.etatBien == false" severity="danger" value="Désactivé"></p-tag>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4 class="title fz17 mb10 mt30" *ngIf="bienImm.typeDeBien.designation != 'Terrain'">Caractéristiques</h4>
                        <div class="row">
                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.nombreChambres">
                                <p class="fw600 mb5 ff-heading dark-color">Nombre de chambres</p>
                                <p class="text">{{ caracteristique.nombreChambres }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.nombreChambresSalon">
                                <p class="fw600 mb5 ff-heading dark-color">Nombre de chambres salon</p>
                                <p class="text">{{ caracteristique.nombreChambresSalon }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.nombreBureaux">
                                <p class="fw600 mb5 ff-heading dark-color">Nombre de bureaux</p>
                                <p class="text">{{ caracteristique.nombreBureaux }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.nombreBoutiques">
                                <p class="fw600 mb5 ff-heading dark-color">Nombre de boutiques</p>
                                <p class="text">{{ caracteristique.nombreBoutiques }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.nombreMagasins">
                                <p class="fw600 mb5 ff-heading dark-color">Nombre de magasions</p>
                                <p class="text">{{ caracteristique.nombreMagasins }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.nombreAppartements">
                                <p class="fw600 mb5 ff-heading dark-color">Nombre d'appartements</p>
                                <p class="text">{{ caracteristique.nombreAppartements }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.nombreEtages">
                                <p class="fw600 mb5 ff-heading dark-color">Nombre d'étages</p>
                                <p class="text">{{ caracteristique.nombreEtages }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.nombreGarages">
                                <p class="fw600 mb5 ff-heading dark-color">Nombre de garages</p>
                                <p class="text">{{ caracteristique.nombreGarages }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.nombreCuisineInterne">
                                <p class="fw600 mb5 ff-heading dark-color">Nombre de cusine interne</p>
                                <p class="text">{{ caracteristique.nombreCuisineInterne }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.nombreCuisineExterne">
                                <p class="fw600 mb5 ff-heading dark-color">Nombre de cuisine externe</p>
                                <p class="text">{{ caracteristique.nombreCuisineExterne }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.nombreWCDoucheInterne">
                                <p class="fw600 mb5 ff-heading dark-color">Nombre de WC-Douche interne</p>
                                <p class="text">{{ caracteristique.nombreWCDoucheInterne }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.nombreWCDoucheExterne">
                                <p class="fw600 mb5 ff-heading dark-color">Nombre de WC-Douche externe</p>
                                <p class="text">{{ caracteristique.nombreWCDoucheExterne }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.nombreSalons">
                                <p class="fw600 mb5 ff-heading dark-color">Nombre de salons</p>
                                <p class="text">{{ caracteristique.nombreSalons }}</p>
                            </div>
                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.nombrePlacards">
                                <p class="fw600 mb5 ff-heading dark-color">Nombre de placards</p>
                                <p class="text">{{ caracteristique.nombrePlacards }}</p>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.parking">
                                <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Parking</p>
                            </div>

                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.eauTde">
                                <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Eau TDE</p>
                            </div>

                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.compteurEau">
                                <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Compteur d'eau</p>
                            </div>

                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.wifi">
                                <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Wifi</p>
                            </div>

                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.placard">
                                <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Placards</p>
                            </div>

                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.cuisineInterne">
                                <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Cuisine interne</p>
                            </div>

                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.wcDoucheInterne">
                                <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>WC-Douche interne</p>
                            </div>

                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.balcon">
                                <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Balcon</p>
                            </div>

                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.garage">
                                <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Garage</p>
                            </div>

                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.eauForage">
                                <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Eau Forage</p>
                            </div>

                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.electriciteCeet">
                                <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Électricité CEET</p>
                            </div>

                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.ascenseur">
                                <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Ascenceur</p>
                            </div>

                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.etage">
                                <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>À l'étage</p>
                            </div>

                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.dalle">
                                <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Dallé</p>
                            </div>

                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.cuisineExterne">
                                <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Cuisine externe</p>
                            </div>

                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.wcDoucheExterne">
                                <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>WC-Douche externe</p>
                            </div>

                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.climatisation">
                                <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Climatiseur</p>
                            </div>

                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.plafonne">
                                <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Plafonné</p>
                            </div>

                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.baieVitree">
                                <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Baie vitrée</p>
                            </div>

                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.solCarelle">
                                <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Sol carellé</p>
                            </div>

                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.cashPowerPersonnel">
                                <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Cash power personnel</p>
                            </div>

                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.compteurAdditionnel">
                                <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Compteur additionnel</p>
                            </div>

                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.jardin">
                                <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Jardin</p>
                            </div>

                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.piscine">
                                <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Piscine</p>
                            </div>

                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.terrasse">
                                <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Terrasse</p>
                            </div>

                            <div class="col-sm-6 col-xl-4" *ngIf="caracteristique.toiletteVisiteur">
                                <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Toilette visiteur</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Start Dialog Annulation d'une demande -->
        <p-dialog header="Annulation d'un demande" [(visible)]="modalAnnulationVisible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
            <form class="form-style1">
                <div class="row">
                    <div class="form-group">
                        <div class="mb30">
                            <label class="heading-color ff-heading fw600 mb10">Motif de l'annulation</label>
                            <textarea id="motifRejet" name="motifRejet" [(ngModel)]="motifAnnulationForm.motif" placeholder="Le motif de l'annulation de la demande" style="height: 160px;"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text-end">
                            <button class="ud-btn btn-annuler" type="button" (click)="dialogueNotVisible()">Annuler</button> &nbsp;
                            <button class="ud-btn btn-valider" type="button" (click)="enregistrerMotifAnnuler()">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </form>
        </p-dialog>
        <!-- End Dialog Annulation d'une demande -->

        <!-- Start Dialog Refus d'une demande -->
        <p-dialog header="Refus d'une demande" [(visible)]="modalRefusVisible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
            <form class="form-style1">
                <div class="row">
                    <div class="form-group">
                        <div class="mb30">
                            <label class="heading-color ff-heading fw600 mb10">Motif du refus</label>
                            <textarea id="motifRejet" name="motifRejet" [(ngModel)]="motifRefusForm.motif" placeholder="Le motif du refus de la demande" style="height: 160px;"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text-end">
                            <button class="ud-btn btn-annuler" type="button" (click)="dialogueNotVisible()">Annuler</button> &nbsp;
                            <button class="ud-btn btn-valider" type="button" (click)="enregistrerMotifRefuser()">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </form>
        </p-dialog>
        <!-- End Dialog Refus d'une demande -->

        <div class="text-end">
            <a class="ud-btn btn-retour" (click)="voirListe()" type="button">Retour</a>
        </div>
    </div>
    <!-- End Détails d'une demande de visite -->

    <!-- Start Modification d'une demande de visite -->
    <div *ngIf="affichage == 3">
        <div class="row align-items-center pb40">
            <div class="col-xxl-7">
                <div class="dashboard_title_area">
                    <h4>Modification d'une demande de visite</h4>
                </div>
            </div>
            <div class="col-xxl-5">
                <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
                    <a class="ud-btn btn-retour" type="button" (click)="voirListe()">Retour</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
                    <form #demandeVisiteForm="ngForm" (ngSubmit)="modifier(demandeVisite.id)" class="form-style1">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="mb20">
                                    <label class="heading-color ff-heading fw600 mb10">Date et heure de visite</label>
                                    <p-calendar appendTo="body" class="pCalendar p-fluid" placeholder="La date et l'heure de visite" [showTime]="true" [showSeconds]="false" [(ngModel)]="dateHeureVisiteSelectionne" inputId="dateHeureVisite" name="dateHeureVisite" [required]="true" #dateHeureVisite="ngModel"
                                        [minDate]="minDate" dateFormat="dd/mm/yy"></p-calendar>
                                    <div class="error" [hidden]="!dateHeureVisite?.hasError('required') || !dateHeureVisite.touched">La date et l'heure de visite est requise</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="text-end">
                                <button class="ud-btn btn-annuler" (click)="demandeVisiteForm.reset()" type="button">Annuler</button> &nbsp;
                                <button class="ud-btn btn-modifier" [ngClass]="{ 'disabled-link': !demandeVisiteForm.valid }" type="submit">Modifier</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <!-- End Modification d'une demande de visite -->
</div>