:host ::ng-deep .select .p-dropdown {
    width: 100%;
    height: 55px;
    border-radius: 8px;
}

:host ::ng-deep .select .p-dropdown-item {
    margin-left: -3%;
}

.img {
    text-align: center;
    width: 10%;
}

:host ::ng-deep .autocomplexion .p-autocomplete {
    width: 100%;
    height: 55px;
    border-radius: 10px;
}

:host ::ng-deep .autocomplexion .p-autocomplete-item {
    margin-left: 0;
}

:host ::ng-deep .autocomplexion .p-autocomplete-items {
    margin-left: 0;
}

:host ::ng-deep .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item-group {
    font-family: 'DM sans', sans-serif;
}
