<div class="dashboard__content bgc-f7">
  <div class="row pb40 d-block d-lg-none">
    <!-- Menu responsive -->
    <app-menu-responsive></app-menu-responsive>
    <!-- End Menu responsive -->
  </div>

  <!-- Formulaire de délégation d'une gestion de bien -->
  <div *ngIf="visibleAddForm == 1">
    <div class="row align-items-center pb40">
      <div class="col-xxl-5">
        <div class="dashboard_title_area">
          <h4>Ajout d'une délégation de gestion</h4>
          <p class="text"></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30">
          <form [formGroup]="delegationGestionForm" (ngSubmit)="ajouterDelegationGestion()" class="form-style1">
            <div class="row">

              <div class="col-md-6">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Bien immobilier</label>
                  <br>
                  <p-dropdown
                    class="select" emptyFilterMessage="Aucun résultat trouvé"
                    [options]="biensImmobiliers" placeholder="Choisir un bien"
                    formControlName="bienImmobilier" [filter]="true" filterBy="ville"
                    filterPlaceholder="Rechercher en fonction de la ville"
                    [showClear]="true" (onChange)="bienImmobilierChoisi($event)" optionLabel="numeroIdentifiant">
                    <ng-template let-bienImmobilier pTemplate="item">
                      {{ bienImmobilier.numeroIdentifiant }}, {{ bienImmobilier.ville }} - {{ bienImmobilier.adresse }}
                    </ng-template>
                  </p-dropdown>
                  <div class="error" [hidden]="!bienImmobilier?.hasError('required') || !bienImmobilier.touched">La selection d'un bien immobilier est obligatoire</div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Gestionnaire</label>
                  <br>
                  <p-dropdown
                    class="select" emptyFilterMessage="Aucun résultat trouvé"
                    [options]="gestionnaires" placeholder="Choisir un gestionnaire"
                    filterPlaceholder="Rechercher en fonction du nom"
                    formControlName="gestionnaire" [filter]="true" filterBy="nom"
                    [showClear]="true" (onChange)="gestionnaireChoisi($event)" optionLabel="nom">
                    <ng-template let-gestionnaire pTemplate="item">
                      {{ gestionnaire.nom }} {{ gestionnaire.prenom }}
                    </ng-template>
                  </p-dropdown>
                  <div class="error" [hidden]="!gestionnaire?.hasError('required') || !gestionnaire.touched">La selection d'un gestionnaire est obligatoire est obligatoire</div>
                </div>
              </div>

            </div>
            <br>
            <div class="col-md-12">
              <div class="text-end">
                <a class="ud-btn btn-thm" [ngClass]="{ 'disabled-link': delegationGestionForm.invalid }" (click)="delegationGestionForm.invalid ? null : ajouterDelegationGestion()" type="submit">Ajouter</a>
                &nbsp;
                <a class="ud-btn btn-thm4" type="button" (click)="voirListe()">Annuler</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Formulaire de délégation d'une gestion de bien -->

  <!-- Liste de la délégation de gestion de biens -->
  <div *ngIf="affichage == 1">
    <div class="row align-items-center pb40">
      <div class="col-xxl-5">
        <div class="dashboard_title_area">
          <h4>Délégation de gestion de biens</h4>
          <p class="text"></p>
        </div>
      </div>
      <div class="col-xxl-7">
        <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
          <div class="item1 mb15-sm">
            <div class="search_area">
              <input type="text" [(ngModel)]="recherche" class="form-control bdrs12" placeholder="Faire une recherche">
              <label><span class="flaticon-search"></span></label>
            </div>
          </div>
          &nbsp;
          <a type="button" *ngIf="user.role.code === 'ROLE_PROPRIETAIRE'"
            (click)="afficherFormulaireAjouter()" class="ud-btn btn-thm">
            Déléguer la gestion d'un bien
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <p-toast></p-toast>
      <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
          <div class="packages_table table-responsive">
            <table class="table-style3 table at-savesearch">
              <thead class="t-head">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Image</th>
                  <th scope="col" *ngIf="user.role.code == 'ROLE_RESPONSABLE_AGENCEIMMOBILIERE' || user.role.code == 'ROLE_AGENTIMMOBILIER' || user.role.code == 'ROLE_DEMARCHEUR'">Propriétaire</th>
                  <th scope="col" *ngIf="user.role.code == 'ROLE_PROPRIETAIRE'">Gestionnaire</th>
                  <th scope="col">Date délégation</th>
                  <th scope="col">Statut de la délégation</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody class="t-body">
                <tr *ngFor="let delegationGestion of delegationGestionsParPage | genericFilter: recherche;  let i = index">
                  <td class="vam">{{ pageActuelle + i + 1 }}</td>
                  <th scope="row">
                    <p-image *ngIf="delegationGestion.bienImmobilier.images.length === 0" class="w-100" src="assets/images/home/house.jpg" alt="" width="150" imageClass="image"></p-image>
                    <p-image *ngIf="delegationGestion.bienImmobilier.images && delegationGestion.bienImmobilier.images.length > 0" class="w-100" src="{{this.APIEndpoint+'api/premiere-image/bien-immobilier/'+delegationGestion.bienImmobilier.id}}" alt="" width="150" imageClass="image"></p-image>
                  </th>
                  <td class="vam" *ngIf="user.role.code == 'ROLE_RESPONSABLE_AGENCEIMMOBILIERE' || user.role.code == 'ROLE_AGENTIMMOBILIER' || user.role.code == 'ROLE_DEMARCHEUR'">{{ delegationGestion.bienImmobilier.personne.nom }} {{ delegationGestion.bienImmobilier.personne.prenom }}</td>
                  <td class="vam" *ngIf="user.role.code == 'ROLE_PROPRIETAIRE'">{{ delegationGestion.gestionnaire.nom }} {{ delegationGestion.gestionnaire.prenom }}</td>
                  <td class="vam">{{ delegationGestion.dateDelegation | date: "dd-MM-yyyy" }} </td>
                  <td class="vam">
                    <p-tag *ngIf="delegationGestion.statutDelegation == true" severity="success" value="Acceptée"></p-tag>
                    <p-tag *ngIf="delegationGestion.statutDelegation == false" severity="warning" value="En attente"></p-tag>
                  </td>
                  <td class="vam">
                    <div class="d-flex">

                      <button (click)="afficherPageDetail(delegationGestion.id, delegationGestion.bienImmobilier.id)"
                        pTooltip="Détails" tooltipPosition="top" pButton type="button" icon="pi pi-eye"
                        class="p-button-text p-button-info">
                      </button>

                      <button *ngIf="delegationGestion.statutDelegation == false && (user.role.code === 'ROLE_RESPONSABLE_AGENCEIMMOBILIERE' || user.role.code === 'ROLE_AGENTIMMOBILIER' || user.role.code === 'ROLE_DEMARCHEUR')"
                        pButton type="button" icon="pi pi-check" (click)="accepterDelegationGestion(delegationGestion.id)"
                        pTooltip="Accepter" tooltipPosition="top" class="p-button-text p-button-success">
                      </button>

                      <button *ngIf="user.role.code == 'ROLE_PROPRIETAIRE'" pButton type="button" icon="pi pi-trash"
                        (click)="supprimerDelegationGestion(delegationGestion.id)"
                        pTooltip="Supprimer" tooltipPosition="right"
                        class="p-button-text p-button-danger">
                      </button>

                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="delegationGestions.length !== 0" class="mbp_pagination text-center mt30">
            <p-paginator
              (onPageChange)="pagination($event)" [first]="pageActuelle"
              [rows]="elementsParPage"  [totalRecords]="delegationGestions.length"
              [rowsPerPageOptions]="[5, 10, 15]" [showCurrentPageReport]="true"
              currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} de la délégation de gestion des biens"
              [showPageLinks]="true" [showFirstLastIcon]="true">
            </p-paginator>
          </div>
          <div *ngIf="delegationGestions.length == 0" class="mbp_pagination text-center mt30">
            <p class="mt10 pagination_page_count text-center">Aucun bien immobilier délégué pour le moment</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Liste de la délégation de gestion de biens -->

  <!-- Details d'une délégation de gestion -->
  <div *ngIf="affichage == 3">
    <div  class="row align-items-center pb40">
      <div class="col-xxl-6">
        <div class="dashboard_title_area">
          <h4>Détails d'une délégation de gestion de bien</h4>
          <p class="text"></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">

          <div class="text-center" *ngIf="images.length == 0">
            <p-image class="w-100" src="assets/images/home/house.jpg" alt="" imageClass="imageDetail"></p-image>
          </div>

          <div *ngIf="images.length !== 0">
            <p-galleria [value]="images" [showThumbnails]="true" [circular]="true" [showItemNavigatorsOnHover]="true" [showItemNavigators]="true" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '800px', 'margin': '0 auto' }" [numVisible]="5">

              <ng-template pTemplate="item" let-item>
                  <img src="{{this.APIEndpoint+'api/image/bien-immobilier/'+item.id}}"  style="width: 100%;" />
              </ng-template>

              <ng-template pTemplate="thumbnail" let-item>
                <div class="grid grid-nogutter justify-content-center">
                  <img src="{{this.APIEndpoint+'api/image/bien-immobilier/'+item.id}}" style="width: 100%;" />
                </div>
              </ng-template>

            </p-galleria>
          </div>

          <p-divider></p-divider>
          <p class="fw600 mb10 ff-heading dark-color">Description du bien immobilier</p>
          <p>
              {{ delegationGestion.bienImmobilier.description }}
          </p>

        <!-- Vue Responsable agence immobilière, Agent Immobilier & Démarcheur -->
          <div class="row" *ngIf="user.role.code == 'ROLE_RESPONSABLE_AGENCEIMMOBILIERE' || user.role.code == 'ROLE_AGENTIMMOBILIER' || user.role.code == 'ROLE_DEMARCHEUR'">

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Propriétaire</p>
              <p>{{ delegationGestion.bienImmobilier.personne.nom }} {{ delegationGestion.bienImmobilier.personne.prenom }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Numero de téléphone du propriétaire</p>
              <p>{{ delegationGestion.bienImmobilier.personne.email }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Adresse e-mail du propriétaire</p>
              <p>{{ delegationGestion.bienImmobilier.personne.email }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Numéro identifiant</p>
              <p>{{ delegationGestion.bienImmobilier.numeroIdentifiant }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Type de bien</p>
              <p>{{ delegationGestion.bienImmobilier.typeDeBien.designation }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Adresse</p>
              <p>{{ delegationGestion.bienImmobilier.adresse }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Ville</p>
              <p>{{ delegationGestion.bienImmobilier.ville }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Surface en m2</p>
              <p>{{ delegationGestion.bienImmobilier.surface }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Statut</p>
              <p>
                <p-tag *ngIf="delegationGestion.bienImmobilier.statutBien == 'Disponible'" severity="success" value="Disponible"></p-tag>
              </p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Etat</p>
              <p>
                <p-tag *ngIf="delegationGestion.bienImmobilier.etatBien == true" severity="success" value="Activé"></p-tag>
                <p-tag *ngIf="delegationGestion.bienImmobilier.etatBien == false" severity="danger" value="Désactivé"></p-tag>
              </p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Date de la délégation</p>
              <p>
                {{ delegationGestion.dateDelegation | date: "dd-MM-yyyy" }}
              </p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Statut de la délégation</p>
              <p>
                <p-tag *ngIf="delegationGestion.statutDelegation == true" severity="success" value="Acceptée"></p-tag>
                <p-tag *ngIf="delegationGestion.statutDelegation == false" severity="warning" value="En attente"></p-tag>
              </p>
            </div>
            <p-divider></p-divider>
          </div>
        <!-- End Responsable agence immobilière, Vue Agent Immobilier & Démarcheur -->

        <!-- Vue Propriétaire -->
          <div class="row" *ngIf="user.role.code == 'ROLE_PROPRIETAIRE'">

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Gestionnaire</p>
              <p>{{ delegationGestion.gestionnaire.nom }} {{ delegationGestion.gestionnaire.prenom }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Adresse e-mail du gestionnaire</p>
              <p>{{ delegationGestion.gestionnaire.email }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Numéro de téléphone du gestionnaire</p>
              <p>{{ delegationGestion.gestionnaire.telephone }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Numéro identifiant</p>
              <p>{{ delegationGestion.bienImmobilier.numeroIdentifiant }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Type de bien</p>
              <p>{{ delegationGestion.bienImmobilier.typeDeBien.designation }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Adresse</p>
              <p>{{ delegationGestion.bienImmobilier.adresse }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Ville</p>
              <p>{{ delegationGestion.bienImmobilier.ville }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Surface en m2</p>
              <p>{{ delegationGestion.bienImmobilier.surface }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Statut</p>
              <p>
                <p-tag *ngIf="delegationGestion.bienImmobilier.statutBien == 'Disponible'" severity="success" value="Disponible"></p-tag>
              </p>
            </div>
            <div class="form-group col-md-6">
              <p>
                <p-tag *ngIf="delegationGestion.bienImmobilier.etatBien == true" severity="success" value="Activé"></p-tag>
                <p-tag *ngIf="delegationGestion.bienImmobilier.etatBien == false" severity="danger" value="Désactivé"></p-tag>
              </p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Date de la délégation</p>
              <p>
                {{ delegationGestion.dateDelegation | date: "dd-MM-yyyy" }}
              </p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Statut de la délégation</p>
              <p>
                <p-tag *ngIf="delegationGestion.statutDelegation == true" severity="success" value="Acceptée"></p-tag>
                <p-tag *ngIf="delegationGestion.statutDelegation == false" severity="warning" value="En attente"></p-tag>
              </p>
            </div>
            <p-divider></p-divider>
          </div>
        <!-- Vue Propriétaire -->

          <div class="text-end">
            <a class="ud-btn btn-thm" (click)="voirListe()"  type="button">Retour</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Details d'une délégation de gestion -->
</div>
