<footer class="dashboard_footer pt30 pb10">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="text-center text-lg-start">
                    <p class="copyright-text ff-heading">ahoewo © 2024 - Tous droits réservés</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="text-center text-lg-end">
                    <p class="footer-menu ff-heading"><a href="#">Politique de confidentialité</a> · <a href="#">Conditions générales d'utilisations</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
