<div class="dashboard__content bgc-f7">
  <div class="row pb40 d-block d-lg-none">
    <!-- Menu responsive -->
    <app-menu-responsive></app-menu-responsive>
    <!-- End Menu responsive -->
  </div>

  <!-- Liste des agents immobiliers -->
  <div *ngIf="affichage == 1">
    <div class="row align-items-center pb40">
      <div class="col-xxl-5">
        <div class="dashboard_title_area">
          <h4>Liste des agents immobiliers</h4>
          <p class="text"></p>
        </div>
      </div>
      <div class="col-xxl-7 d-flex justify-content-end">
        <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
          <div class="item1 mb15-sm">
            <div class="search_area">
              <input type="text" [(ngModel)]="recherche" class="form-control bdrs12" placeholder="Faire une recherche">
              <label><span class="flaticon-search"></span></label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <p-toast></p-toast>
      <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
          <div class="packages_table table-responsive">
            <table class="table-style3 table at-savesearch">
              <thead class="t-head">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Prénom</th>
                  <th scope="col">Nom d'utilisateur</th>
                  <th scope="col">Email</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody class="t-body">
                <tr *ngFor="let agentImmobilier of agentsImmobiliersParPage | genericFilter: recherche;  let i = index">
                  <td class="vam">{{ pageActuelle + i + 1 }}</td>
                  <td class="vam">{{ agentImmobilier.nom }}</td>
                  <td class="vam">{{ agentImmobilier.prenom }} <i *ngIf="agentImmobilier.estCertifie" class="fa-sharp fa-solid fa-badge-check fa-xl" style="color: #0f77e6;"></i></td>
                  <td class="vam">{{ agentImmobilier.username }}</td>
                  <td class="vam">{{ agentImmobilier.email }}</td>
                  <td class="vam">
                    <div class="d-flex">
                      <a type="button" (click)="afficherPageDetail(agentImmobilier.id)" class="icon" pTooltip="Détails" tooltipPosition="top"><i class="pi pi-eye" style="font-size: 1rem"></i></a>
                      <a *ngIf="agentImmobilier.etatCompte === true" type="button" class="icon" (click)="desactiverCompte(agentImmobilier.id)" pTooltip="Désactiver ce compte" tooltipPosition="right"><i class="pi pi-lock" style="font-size: 1rem"></i></a>
                      <a *ngIf="agentImmobilier.etatCompte === false" type="button" class="icon" (click)="activerCompte(agentImmobilier.id)" pTooltip="Activer ce compte" tooltipPosition="left"><i class="pi pi-lock-open" style="font-size: 1rem"></i></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="agentImmobiliers.length !== 0" class="mbp_pagination text-center mt30">
            <p-paginator
              (onPageChange)="pagination($event)" [first]="pageActuelle"
              [rows]="elementsParPage"  [totalRecords]="agentImmobiliers.length"
              [rowsPerPageOptions]="[5, 10, 15]" [showCurrentPageReport]="true"
              currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} agents immobiliers"
              [showPageLinks]="true" [showFirstLastIcon]="true">
            </p-paginator>
          </div>
          <div *ngIf="agentImmobiliers.length == 0" class="mbp_pagination text-center mt30">
            <p class="mt10 pagination_page_count text-center">Aucun agent immobilier enregistré pour le moment</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Liste des agents immobiliers -->

  <!-- Details d'un agent immobilier -->
  <div *ngIf="affichage == 2">
    <div  class="row align-items-center pb40">
      <div class="col-xxl-5">
        <div class="dashboard_title_area">
          <h4>Détails d'un agent immobilier</h4>
          <p class="text"></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xxl-12">
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">

          <p class="fw600 mb10 ff-heading dark-color">Nom & prénom de l'agent immobilier</p>
          <p>
              {{ agentImmobilier.nom }} {{ agentImmobilier.prenom }} <i *ngIf="agentImmobilier.estCertifie == true" class="fa-sharp fa-solid fa-badge-check fa-xl" style="color: #0f77e6;"></i>
          </p>

          <p-divider></p-divider>
          <p class="fw600 mb10 ff-heading dark-color">Nom d'utilisateur de l'agent immobilier</p>
          <p>
              {{ agentImmobilier.username }}
          </p>

          <p-divider></p-divider>
          <p class="fw600 mb10 ff-heading dark-color">Adresse e-mail de l'agent immobilier</p>
          <p>
              {{ agentImmobilier.email }}
          </p>

          <p-divider></p-divider>
          <p class="fw600 mb10 ff-heading dark-color">Numéro de téléphone de l'agent immobilier</p>
          <p>
              {{ agentImmobilier.telephone }}
          </p>

          <p-divider></p-divider>
          <p class="fw600 mb10 ff-heading dark-color">Rôle de l'agent immobilier</p>
          <p>
              {{ agentImmobilier.role.libelle }}
          </p>

          <p-divider></p-divider>
          <p class="fw600 mb10 ff-heading dark-color">Est certifié</p>
          <p>
            <p-tag *ngIf="agentImmobilier.estCertifie == true" severity="success" value="Oui"></p-tag>
            <p-tag *ngIf="agentImmobilier.estCertifie == false" severity="danger" value="Non"></p-tag>
          </p>

          <p-divider></p-divider>
          <p class="fw600 mb10 ff-heading dark-color">Etat du compte</p>
          <p>
            <p-tag *ngIf="agentImmobilier.etatCompte == true" severity="success" value="Activé"></p-tag>
            <p-tag *ngIf="agentImmobilier.etatCompte == false" severity="danger" value="Désactivé"></p-tag>
          </p>
          <div class="text-end">
            <a class="ud-btn btn-thm" (click)="voirListe()"  type="button">Retour</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Details d'un agent immobilier -->
</div>
