<div class="dashboard_sidebar_list">

    <!-- Start Menu Administrateur -->
    <div *ngIf="user.role.code == 'ROLE_ADMINISTRATEUR'">
        <app-menu-admin></app-menu-admin>
    </div>
    <!-- End Menu Administrateur -->

    <!-- Start Menu Notaire -->
    <div *ngIf="user.role.code == 'ROLE_NOTAIRE'">
        <app-menu-notaire></app-menu-notaire>
    </div>
    <!-- End Menu Notaire -->

    <!-- Start Propriétaire -->
    <div *ngIf="user.role.code == 'ROLE_PROPRIETAIRE'">
        <app-menu-proprietaire></app-menu-proprietaire>
    </div>
    <!-- End Propriétaire -->

    <!-- End Gérant -->
    <div *ngIf="user.role.code == 'ROLE_GERANT'">
        <app-menu-gerant></app-menu-gerant>
    </div>
    <!-- End Gérant -->

    <!-- Start Responsable -->
    <div *ngIf="user.role.code == 'ROLE_RESPONSABLE'">
        <app-menu-responsable></app-menu-responsable>
    </div>
    <!-- End Responsable -->

    <!-- Start Agent immobilier -->
    <div *ngIf="user.role.code == 'ROLE_AGENTIMMOBILIER'">
        <app-menu-agent-immobilier></app-menu-agent-immobilier>
    </div>
    <!-- End Agent immobilier -->

    <!-- Start Démarcheur -->
    <div *ngIf="user.role.code == 'ROLE_DEMARCHEUR'">
        <app-menu-demarcheur></app-menu-demarcheur>
    </div>
    <!-- End Démarcheur -->

    <!-- Start Client -->
    <div *ngIf="user.role.code == 'ROLE_CLIENT'">
        <app-menu-client></app-menu-client>
    </div>
    <!-- End Client -->

    <!-- Start Menu Déconnecter -->
    <div class="sidebar_list_item ">
        <a type="button" (click)="seDeconnecter()" class="items-center"><i class="flaticon-logout mr15"></i>&nbsp;Se déconnecter</a>
    </div>
    <!-- End Menu Déconnecter -->
</div>