<section class="footer-style1 at-home6 pt60 pb-0">
    <div class="container">
        <div class="row bb-white-light pb30 mb60">
            <div class="col-sm-5">
                <div class="footer-widget text-center text-sm-start">
                    <a class="footer-logo" routerLink="/"><img src="assets/images/ahoe-min.png" width="145" height="38" alt=""></a>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="social-widget text-center text-sm-end">
                    <div class="social-style1">
                        <a class="text-white me-2 fw600 fz15" href="#">Suivez-nous</a>
                        <a routerLink="/"><i class="fab fa-facebook-f list-inline-item"></i></a>
                        <a routerLink="/"><i class="fab fa-twitter list-inline-item"></i></a>
                        <a routerLink="/"><i class="fab fa-instagram list-inline-item"></i></a>
                        <a routerLink="/"><i class="fab fa-linkedin-in list-inline-item"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <div class="link-style1 mb-3">
                            <h6 class="text-white mb25">Liens utiles</h6>
                            <div class="link-list">
                                <a routerLink="/">Accueil</a>
                                <a routerLink="/annonces-immobilieres">Annonces immobilières</a>
                                <a routerLink="/agences-immobilieres">Agences immobilières</a>
                                <a routerLink="/connexion">Se connecter</a>
                                <a routerLink="/inscription">Créer un compte</a>
                                <a *ngIf="!user" [routerLink]="redirectToDashboard()">Tableau de bord</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="link-style1 mb-3">
                            <h6 class="text-white mb25">Types de biens support</h6>
                            <ul class="ps-0">
                                <li><a [routerLink]="['/annonces-immobilieres']" [queryParams]="{ designation: 'Terrain' }">Terrain</a></li>
                                <li><a [routerLink]="['/annonces-immobilieres']" [queryParams]="{ designation: 'Immeuble' }">Immeuble</a></li>
                                <li><a [routerLink]="['/annonces-immobilieres']" [queryParams]="{ designation: 'Maison' }">Maison</a></li>
                                <li><a [routerLink]="['/annonces-immobilieres']" [queryParams]="{ designation: 'Villa' }">Villa</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="link-style1 mb-3">
                            <h6 class="text-white mb25">Types de bien associé</h6>
                            <ul class="ps-0">
                                <li><a [routerLink]="['/annonces-immobilieres']" [queryParams]="{ designation: 'Appartement' }">Appartement</a></li>
                                <li><a [routerLink]="['/annonces-immobilieres']" [queryParams]="{ designation: 'Chambre salon' }">Chambre salon</a></li>
                                <li><a [routerLink]="['/annonces-immobilieres']" [queryParams]="{ designation: 'Chambre' }">Chambre</a></li>
                                <li><a [routerLink]="['/annonces-immobilieres']" [queryParams]="{ designation: 'Bureau' }">Bureau</a></li>
                                <li><a [routerLink]="['/annonces-immobilieres']" [queryParams]="{ designation: 'Boutique' }">Boutique</a></li>
                                <li><a [routerLink]="['/annonces-immobilieres']" [queryParams]="{ designation: 'Magasin' }">Magasin</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 offset-lg-2">
                <div class="footer-widget mb-4 mb-lg-5">
                    <div class="row mb-4 mb-lg-5">
                        <div class="col-auto">
                            <div class="contact-info">
                                <p class="info-title">Service client totalement gratuit</p>
                                <h6 class="info-phone"><a href="%2b(228)-90-63-28-66.html">+(228) 90632866 | 97990638</a></h6>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="contact-info">
                                <p class="info-title">Besoin d'assistance en direct ?</p>
                                <h6 class="info-mail"><a href="mailto:hi@homez.com">ahoewo.contact@gmail.com</a></h6>
                            </div>
                        </div>
                    </div>

                    <div class="footer-widget mb-4 mb-lg-5">
                        <div class="mailchimp-widget mb-4 mb-lg-5">
                            <h6 class="title text-white mb20">Restez informer de toutes les actualités d'ahoewo</h6>
                            <div class="mailchimp-style1">
                                <input type="email" class="form-control" placeholder="Votre email">
                                <button class="btn" type="submit"><span class="flaticon-send"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container white-bdrt1 py-4">
        <div class="row">
            <div class="col-sm-6">
                <div class="text-center text-lg-start">
                    <p class="copyright-text text-gray ff-heading">ahoewo © 2024 - Tous droits réservés</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="text-center text-lg-end">
                    <p class="footer-menu ff-heading text-gray"><a class="text-gray" href="#">Politique de confidentialité</a> · <a class="text-gray" href="#">Conditions générales d'utilisations</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
