<div class="dashboard__content property-page bgc-f7">
  <div class="row pb40 d-block d-lg-none">
    <!-- Menu responsive -->
    <app-menu-responsive></app-menu-responsive>
    <!-- End Menu responsive -->
  </div>

  <p-toast></p-toast>

  <!-- Formulaire d'ajout d'un pays -->
  <div *ngIf="visibleAddForm == 1">
    <div class="row align-items-center pb40">
      <div class="col-xxl-3">
        <div class="dashboard_title_area">
          <h4>Ajout d'un pays</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
          <form [formGroup]="paysForm" (ngSubmit)="ajouterPays()" class="form-style1">
            <div class="row">
              <div class="form-group">
                <label class="heading-color ff-heading fw600 mb10">Libelle</label>
                <input type="text" class="form-control" id="libelle" name="libelle" placeholder="Le libelle du pays" formControlName="libelle" [(ngModel)]="pays.libelle" required>
                <div class="error" [hidden]="libelle.valid || libelle.pristine && !libelle.touched ">Le libelle du pays est obligatoire</div>
              </div>
            </div>
            <br>
            <div class="col-md-12">
              <div class="text-end">
                <button pButton (click)="voirListe()" pRipple label="Annuler" class="p-button-secondary"></button>
                <button pButton [ngClass]="{ 'disabled-link': paysForm.invalid }" pRipple label="Ajouter" type="submit" class="p-button-success"></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Formulaire d'ajout d'un pays -->

  <!-- Formulaire de modification d'un pays -->
  <div *ngIf="visibleUpdateForm == 1">
    <div class="row align-items-center pb40">
      <div class="col-xxl-3">
        <div class="dashboard_title_area">
          <h4>Modification d'un pays</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
          <form [formGroup]="paysForm" (ngSubmit)="modifierPays()" class="form-style1">
            <div class="row">
              <div class="form-group">
                <label class="heading-color ff-heading fw600 mb10">Libelle</label>
                <input type="text" class="form-control" id="libelle" name="libelle" placeholder="Le libelle du pays" formControlName="libelle" [(ngModel)]="pays.libelle" required>
                <div class="error" [hidden]="libelle.valid || libelle.pristine && !libelle.touched ">Le libelle du pays est obligatoire</div>
              </div>
            </div>
            <br>
            <div class="col-md-12">
              <div class="text-end">
                <button pButton (click)="voirListe()" pRipple label="Annuler" class="p-button-secondary"></button>
                <button pButton [ngClass]="{ 'disabled-link': paysForm.invalid }" pRipple label="Modifier" type="submit" class="p-button-warning"></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Formulaire de modification d'un pays -->

  <!-- Liste des pays -->
  <div *ngIf="affichage == 1">
    <div class="row align-items-center pb40">
      <div class="col-xxl-3">
        <div class="dashboard_title_area">
          <h4>Liste des pays</h4>
        </div>
      </div>
      <div class="col-xxl-9">
        <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
          <div class="item1 mb15-sm">
            <div class="search_area">
              <input type="text" [(ngModel)]="recherche" class="form-control bdrs12" placeholder="Faire une recherche">
              <label><span class="flaticon-search"></span></label>
            </div>
          </div>
          &nbsp;
          <a type="button" *ngIf="visibleAddForm == 0" (click)="afficherFormulaireAjouter()" class="ud-btn btn-thm">Ajouter un pays</a>
        </div>
      </div>
    </div>
    <div class="row">
      <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
          <div class="packages_table table-responsive">
            <table class="table-style3 table at-savesearch">
              <thead class="t-head">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Libelle</th>
                  <th scope="col">Etat</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody class="t-body">
                  <tr *ngFor="let pays of listePays.content | genericFilter: recherche; let i = index;">
                    <td class="vam">{{ (numeroDeLaPage * elementsParPage) + i + 1 }}</td>
                    <td class="vam">{{ pays.libelle }}</td>
                    <td class="vam">
                      <p-tag *ngIf="pays.etat == true" severity="success" value="Activé"></p-tag>
                      <p-tag *ngIf="pays.etat == false" severity="danger" value="Désactivé"></p-tag>
                    </td>
                    <td class="vam">
                      <div class="d-flex">

                        <button pButton type="button" icon="pi pi-pencil"
                          (click)="afficherFormulaireModifier(pays.id)"
                          pTooltip="Modifier" tooltipPosition="top"
                          class="p-button-text p-button-warning">
                        </button>

                        <button *ngIf="pays.etat == true" pButton type="button" icon="pi pi-lock"
                          (click)="desactiverPays(pays.id)"
                          pTooltip="Désactiver" tooltipPosition="top"
                          class="p-button-text p-button-danger">
                        </button>

                        <button *ngIf="pays.etat == false" pButton type="button" icon="pi pi-lock-open"
                          (click)="activerPays(pays.id)"
                          pTooltip="Activer" tooltipPosition="top"
                          class="p-button-text p-button-success">
                        </button>
                      </div>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="listePays.totalElements !== 0" class="mbp_pagination text-center mt30">
            <p-paginator
              (onPageChange)="pagination($event)" [rows]="listePays.size"
              [totalRecords]="listePays.totalElements" [rowsPerPageOptions]="[5, 10, 15]"
              [showCurrentPageReport]="true" [showPageLinks]="true" [showFirstLastIcon]="true"
              currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} pays">
            </p-paginator>
          </div>
          <div *ngIf="listePays.totalElements == 0" class="mbp_pagination text-center mt30">
            <p class="mt10 pagination_page_count text-center">Aucun pays enregistré pour le moment</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- End Liste des types de bien -->

</div>
