

  <div class="dashboard__content bgc-f7">
    <div class="row pb40 d-block d-lg-none">
      <!-- Menu responsive -->
      <app-menu-responsive></app-menu-responsive>
      <!-- End Menu responsive -->
    </div>

    <!-- Mes informations -->
    <div>
      <div  class="row align-items-center pb40">
        <div class="col-xxl-8">
          <div class="dashboard_title_area">
            <h4>Mon profil</h4>
            <h6 *ngIf="user.etatCompte == false" class="text">
              <span class="error">
                <i class="fa-regular fa-triangle-exclamation fa-2xl"></i> Votre compte est désactivé. Veuillez contacter l'équipe support technique ahoewo pour obtenir de l'aide supplémentaire.
              </span>
            </h6>
            <h6 *ngIf="!user.estCertifie && (user.role.code == 'ROLE_PROPRIETAIRE' || user.role.code == 'ROLE_DEMARCHEUR')" class="text">
              <span *ngIf="demandeCertifications.length == 0" class="error">
                <i class="fa-regular fa-triangle-exclamation fa-2xl"></i> Votre compte n'est pas certifié, veuillez demander la certification de compte <br>en cliquant sur le menu <b>certifications</b> !
              </span>
              <span *ngIf="demandeCertifications.length !== 0" class="error">
                <i class="fa-regular fa-triangle-exclamation fa-2xl"></i> Votre compte est en attente de <b>certifications</b> !
              </span>
            </h6>
            <h6 *ngIf="!personne.estCertifie && personne.role.code == 'ROLE_RESPONSABLE'" class="text">
              <span *ngIf="demandeCertifications.length == 0" class="error">
                <i class="fa-regular fa-triangle-exclamation fa-2xl"></i> Votre compte n'est pas certifié, si vous n'avez pas encore d'agence immobilière, veuillez ajouter votre <b>agence immobilière</b> en cliquant sur le menu <b>agences immobilières</b> et demander la certification de cette dernière en cliquant sur le menu <b>certifications</b> !
              </span>
              <span *ngIf="demandeCertifications.length !== 0" class="error">
                <i class="fa-regular fa-triangle-exclamation fa-2xl"></i> Votre compte est en attente de <b>certifications</b> !
              </span>
            </h6>
          </div>
        </div>
      </div>
      <p-toast></p-toast>
      <div class="row" *ngIf="affichage == 1">
        <div class="col-xl-12">
          <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">
            <h4 class="title fz17 mb30">Mes informations</h4>

            <div class="row">
              <p-divider></p-divider>
              <div class="form-group col-md-6">
                <p class="fw600 mb10 ff-heading dark-color">Nom & Pénom(s)</p>
                <p>{{ personne.nom }} {{ personne.prenom }} <i *ngIf="personne.estCertifie && (personne.role.code == 'ROLE_RESPONSABLE' || personne.role.code == 'ROLE_AGENTIMMOBILIER' || personne.role.code == 'ROLE_PROPRIETAIRE' || personne.role.code == 'ROLE_DEMARCHEUR')" class="fa-sharp fa-solid fa-badge-check fa-lg" style="color: #0f77e6;"></i></p>
              </div>
              <div class="form-group col-md-6">
                <p class="fw600 mb10 ff-heading dark-color">Nom d'utilisateur</p>
                <p>{{ personne.username }}</p>
              </div>

              <p-divider></p-divider>
              <div class="form-group col-md-6">
                <p class="fw600 mb10 ff-heading dark-color">Adresse e-mail</p>
                <p>{{ personne.email }}</p>
              </div>
              <div class="form-group col-md-6">
                <p class="fw600 mb10 ff-heading dark-color">Numéro de téléphone</p>
                <p>{{ personne.telephone }}</p>
              </div>

              <p-divider></p-divider>
              <div class="form-group col-md-6">
                <p class="fw600 mb10 ff-heading dark-color">Profil</p>
                <p>{{ personne.role.libelle }}</p>
              </div>
              <div class="form-group col-md-6">
                <p class="fw600 mb10 ff-heading dark-color">Matricule</p>
                <p>{{ personne.matricule }}</p>
              </div>

              <p-divider></p-divider>
              <div class="form-group col-md-6">
                <p class="fw600 mb10 ff-heading dark-color">État compte</p>
                <p>
                  <p-tag *ngIf="personne.etatCompte == true" severity="success" value="Activé"></p-tag>
                  <p-tag *ngIf="personne.etatCompte == false" severity="danger" value="Désactivé"></p-tag>
                </p>
              </div>
              <div *ngIf="personne.role.code == 'ROLE_RESPONSABLE' || personne.role.code == 'ROLE_AGENTIMMOBILIER' || personne.role.code == 'ROLE_DEMARCHEUR' || personne.role.code == 'ROLE_PROPRIETAIRE'" class="form-group col-md-6">
                <p class="fw600 mb10 ff-heading dark-color">Est Certifié</p>
                <p>
                  <p-tag *ngIf="personne.estCertifie == true" severity="success" value="Oui"></p-tag>
                  <p-tag *ngIf="personne.estCertifie == false" severity="danger" value="Non"></p-tag>
                </p>
              </div>
            </div>

            <div class="text-end">
              <a class="ud-btn btn-thm" (click)="afficherFormulaireModifier()" type="button">Modifier</a>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="affichage == 2" class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
        <h4 class="title fz17 mb30">Modification des informations</h4>
        <form class="form-style1" [formGroup]="userForm" (ngSubmit)="modifierUser()">
          <div class="row">
            <div class="col-sm-6 col-xl-4">
              <div class="mb20">
                <label class="heading-color ff-heading fw600 mb10">Nom</label>
                <input type="text" class="form-control" placeholder="Votre nom" formControlName="nom" id="nom" name="nom" [ngModel]="personne.nom" required>
                <div class="text-danger" [hidden]="nom.valid || nom.pristine && !nom.touched ">Le nom est obligatoire</div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-4">
              <div class="mb20">
                <label class="heading-color ff-heading fw600 mb10">Prénom</label>
                <input type="text" class="form-control" placeholder="Votre prenom" formControlName="prenom" id="prenom" name="prenom" [ngModel]="personne.prenom" required>
                <div class="text-danger" [hidden]="prenom.valid || prenom.pristine && !prenom.touched ">Le prénom est obligatoire</div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-4">
              <div class="mb20">
                <label class="heading-color ff-heading fw600 mb10">Nom d'utilisateur</label>
                <input type="text" class="form-control"  placeholder="Votre nom d'utilisateur" formControlName="username" id="username" name="username" [ngModel]="personne.username" required>
                <div class="text-danger" [hidden]="username.valid || username.pristine && !username.touched ">Le nom d'utilisateur est obligatoire</div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-4">
              <div class="mb20">
                <label class="heading-color ff-heading fw600 mb10">Email</label>
                <input type="email" class="form-control"  placeholder="Votre email" formControlName="email" id="email" name="email" [ngModel]="personne.email" required>
                <div class="text-danger" [hidden]="!email?.hasError('required') || !email.touched">
                  L'adresse e-mail est obligatoire
                </div>
                <div class="text-danger" [hidden]="!email?.hasError('email') || !email.touched">
                  L'adresse e-mail saisie n'est pas valide.
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-4">
              <div class="mb20">
                <label class="heading-color ff-heading fw600 mb10">Mot de passe</label>
                <input type="{{ voirMotDePasse ? 'text' : 'password' }}" class="form-control" id="motDePasse" name="motDePasse" formControlName="motDePasse" [(ngModel)]="personne.motDePasse" required>
                <i alt="show" class="pi pi-eye icon-voir-mot-passe"
                  (click)="voirMotDePasse = !voirMotDePasse"
                  [class.hide]="voirMotDePasse">
                </i>
                <i alt="hide" class="pi pi-eye-slash icon-voir-mot-passe"
                  (click)="voirMotDePasse = !voirMotDePasse"
                  [class.hide]="!voirMotDePasse">
                </i>
                <div class="text-danger" *ngIf="motDePasse?.hasError('required') && motDePasse.touched">Le mot de passe du notaire est obligatoire</div>
                <div class="text-danger" *ngIf="motDePasse?.errors?.['minlength'] || motDePasse.errors?.['maxlength'] && motDePasse.touched">Le mot de passe doit comporter au minimum 7 et au maximum 14 caractères.</div>
                <div class="text-danger" *ngIf="motDePasse?.hasError('pattern')">Le mot de passe doit inclure au moins une minuscule, une majuscule, un chiffre et un caractère spécial.</div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-4">
              <div class="mb20">
                <label class="heading-color ff-heading fw600 mb10">Téléphone</label>
                <input type="text" class="form-control" id="telephone" name="telephone" placeholder="Le numéro de téléphone du notaire" formControlName="telephone" [(ngModel)]="personne.telephone" required>
                <div class="text-danger" [hidden]="telephone.valid || telephone.pristine && !telephone.touched ">Le numéro de téléphone est obligatoire</div>
              </div>
            </div>
            <br>
            <div class="col-md-12">
              <div class="text-end">
                <button pButton (click)="retour()" pRipple label="Annuler" class="p-button-secondary"></button>
                <button pButton [ngClass]="{ 'disabled-link': userForm.invalid }" pRipple label="Modifier" type="submit" class="p-button-warning"></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- End Mes informations -->

  </div>
