.disabled-link {
    pointer-events: none;
    /* Désactive les événements de pointage, rendant le lien non cliquable */
    opacity: 0.5;
    /* Réduit l'opacité pour montrer qu'il est désactivé */
    cursor: not-allowed;
    /* Affiche un curseur "non autorisé" */
}

.error {
    color: #a94442;
}

:host ::ng-deep .select .p-dropdown {
    width: 110%;
    height: 55px;
    /* border-radius: 8px; */
    /* border: transparent; */
}

:host ::ng-deep .select .p-dropdown-item {
    margin-left: -10%;
}

:host ::ng-deep .selectInModal .p-dropdown {
    width: 100%;
    height: 55px;
    border-radius: 8px;
}

:host ::ng-deep .selectInModal .p-dropdown-item {
    margin-left: -8%;
}

:host ::ng-deep .checkboxLabel {
    font-size: 15px;
}

.img {
    text-align: center;
    width: 10%;
}

:host ::ng-deep .p-dialog-title {
    font-family: 'DM Sans', sans-serif;
}

:host ::ng-deep .p-dialog-header-close {
    border-radius: 100%;
}

:host ::ng-deep .p-dialog {
    border-radius: 100%;
}

:host ::ng-deep .pInputNumber {
    width: 100%;
    border-radius: 8px;
}

.text {
    font-family: 'Inter Var', sans-serif;
    font-size: 14px;
}