<div class="dashboard__content bgc-f7">
  <div class="row pb40 d-block d-lg-none">
    <!-- Menu responsive -->
    <app-menu-responsive></app-menu-responsive>
    <!-- End Menu responsive -->
  </div>

  <!-- Formulaire d'ajout d'un admin -->
  <div *ngIf="visibleAddForm == 1">
    <div class="row align-items-center pb40">
      <div class="col-xxl-3">
        <div class="dashboard_title_area">
          <h4>Ajout d'un administrateur</h4>
          <p class="text"></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">
          <p-messages [(value)]="message" [enableService]="false"></p-messages>
          <form [formGroup]="adminForm" (ngSubmit)="ajouterAdmin()" class="form-style1">
            <div class="row">
              <div class="col-sm-6 col-xl-4">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Nom</label>
                  <input type="text" class="form-control" id="nom" name="nom" placeholder="Le nom de l'administrateur" formControlName="nom" [(ngModel)]="admin.nom" required>
                  <div class="text-danger" [hidden]="nom.valid || nom.pristine && !nom.touched ">Le nom de l'administrateur est obligatoire</div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Prénom</label>
                  <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Le prénom de l'administrateur" formControlName="prenom" [(ngModel)]="admin.prenom" required>
                  <div class="text-danger" [hidden]="prenom.valid || prenom.pristine && !prenom.touched ">Le prénom de l'administrateur est obligatoire</div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Nom d'utilisateur</label>
                  <input type="text" class="form-control" id="username" name="username" placeholder="Le nom d'utilisateur de l'administrateur" formControlName="username" [(ngModel)]="admin.username" required>
                  <div class="text-danger" [hidden]="username.valid || username.pristine && !username.touched ">Le nom d'utilisateur de l'administrateur est obligatoire</div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Email</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="L'adresse e-mail de l'administrateur" formControlName="email" [(ngModel)]="admin.email" required>
                  <div class="text-danger" [hidden]="!email?.hasError('required') || !email.touched">
                    L'adresse e-mail de l'administrateur est obligatoire
                  </div>
                  <div class="text-danger" [hidden]="!email?.hasError('email') || !email.touched">
                    L'adresse e-mail de l'administrateur n'est pas valide.
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Mot de passe</label>
                  <input type="password" class="form-control" id="motDePasse" name="motDePasse" placeholder="Le mot de passe de l'administrateur" formControlName="motDePasse" [(ngModel)]="admin.motDePasse" required>
                  <div class="text-danger" *ngIf="motDePasse?.hasError('required') && motDePasse.touched">Le mot de passe de l'administrateurest obligatoire</div>
                  <div class="text-danger" *ngIf="motDePasse?.errors?.['minlength'] || motDePasse.errors?.['maxlength'] && motDePasse.touched">Le mot de passe doit comporter au minimum 7 et au maximum 14 caractères.</div>
                  <div class="text-danger" *ngIf="motDePasse?.hasError('pattern')">Le mot de passe doit inclure au moins une minuscule, une majuscule, un chiffre et un caractère spécial.</div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Téléphone</label>
                  <input type="text" class="form-control" id="telephone" name="telephone" placeholder="Le numéro de téléphone de l'administrateur" formControlName="telephone" [(ngModel)]="admin.telephone" required>
                  <div class="text-danger" [hidden]="telephone.valid || telephone.pristine && !telephone.touched ">Le numéro de téléphone de l'administrateur obligatoire</div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="text-end">
                <a class="ud-btn btn-thm" [ngClass]="{ 'disabled-link': adminForm.invalid }" (click)="adminForm.invalid ? null : ajouterAdmin()" type="submit">Ajouter</a>
                &nbsp;
                <a class="ud-btn btn-thm4" type="button" (click)="voirListe()">Annuler</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Formulaire d'ajout d'un admin -->

  <!-- Liste des admins -->
  <div *ngIf="affichage == 1">
    <div class="row align-items-center pb40">
      <div class="col-xxl-3">
        <div class="dashboard_title_area">
          <h4>Liste des administrateurs</h4>
          <p class="text"></p>
        </div>
      </div>
      <div class="col-xxl-9">
        <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
          <div class="item1 mb15-sm">
            <div class="search_area">
              <input type="text" class="form-control bdrs12" placeholder="Faire une recherche">
              <label><span class="flaticon-search"></span></label>
            </div>
          </div>
          &nbsp;
          <a type="button" *ngIf="visibleAddForm == 0" (click)="afficherFormulaireAjouter()" class="ud-btn btn-thm">Ajouter un administrateur</a>
        </div>
      </div>
    </div>
    <div class="row">
      <p-toast></p-toast>
      <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
          <div class="packages_table">
            <table class="table-style3 table at-savesearch">
              <thead class="t-head">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Prénom</th>
                  <th scope="col">Nom d'utilisateur</th>
                  <th scope="col">Email</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody class="t-body">
                <tr *ngFor="let admin of administrateursParPage;  let i = index">
                  <td class="vam">{{ pageActuelle + i + 1 }}</td>
                  <td class="vam">{{ admin.nom }}</td>
                  <td class="vam">{{ admin.prenom }}</td>
                  <td class="vam">{{ admin.username }}</td>
                  <td class="vam">{{ admin.email }}</td>
                  <td class="vam">
                    <div class="d-flex">
                      <a type="button" (click)="afficherPageDetail(admin.id)" class="icon" pTooltip="Détails" tooltipPosition="right"><i class="pi pi-eye" style="font-size: 1rem"></i></a>
                      <a *ngIf="admin.etatCompte === true" type="button" class="icon" (click)="desactiverCompte(admin.id)" pTooltip="Désactiver ce compte" tooltipPosition="top"><i class="pi pi-lock" style="font-size: 1rem"></i></a>
                      <a *ngIf="admin.etatCompte === false" type="button" class="icon" (click)="activerCompte(admin.id)" pTooltip="Activer ce compte" tooltipPosition="left"><i class="pi pi-lock-open" style="font-size: 1rem"></i></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

            <div *ngIf="administrateurs.length !== 0" class="mbp_pagination text-center mt30">
              <p-paginator
                (onPageChange)="pagination($event)"
                [first]="pageActuelle" [rows]="elementsParPage"
                [totalRecords]="administrateurs.length" [rowsPerPageOptions]="[5, 10, 15]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} administrateurs"
                [showPageLinks]="true" [showFirstLastIcon]="true">
              </p-paginator>
            </div>
            <div *ngIf="administrateurs.length == 0" class="mbp_pagination text-center mt30">
              <p class="mt10 pagination_page_count text-center">Aucun administrateur enregistré pour le moment</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Liste des admins -->

  <!-- Details d'un admin -->
  <div *ngIf="affichage == 3">
    <div  class="row align-items-center pb40">
      <div class="col-xxl-3">
        <div class="dashboard_title_area">
          <h4>Détails d'un administrateur</h4>
          <p class="text"></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">
          <table class="table-style3 table at-savesearch">
            <tbody>
              <tbody class="t-body">
                <tr>
                  <td class="vam">Nom</td>
                  <td>{{ admin.nom }}</td>
                </tr>
                <tr>
                  <td class="vam">Prénom</td>
                  <td>{{ admin.prenom }}</td>
                </tr>
                <tr>
                  <td class="vam">Nom d'utilisateur</td>
                  <td>{{ admin.username }}</td>
                </tr>
                <tr>
                  <td class="vam">Email</td>
                  <td>{{ admin.email }}</td>
                </tr>
                <tr>
                  <td class="vam">Rôle</td>
                  <td>{{ admin.role.libelle }}</td>
                </tr>
                <tr>
                  <td class="vam">Téléphone</td>
                  <td>{{ admin.telephone }}</td>
                </tr>
                <tr>
                  <td class="vam">Etat compte</td>
                  <td>
                    <p-tag *ngIf="admin.etatCompte == true" severity="success" value="Activé"></p-tag>
                    <p-tag *ngIf="admin.etatCompte == false" severity="danger" value="Désactivé"></p-tag>
                  </td>
                </tr>
            </tbody>
          </table>
          <div class="text-end">
            <a class="ud-btn btn-thm" (click)="voirListe()"  type="button">Retour</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Details d'un admin -->
</div>
