<div class="dashboard__content property-page bgc-f7">
  <div class="row pb40 d-block d-lg-none">
    <!-- Menu responsive -->
    <app-menu-responsive></app-menu-responsive>
    <!-- End Menu responsive -->
  </div>

  <p-toast></p-toast>

  <!-- Liste des demandes de locations -->
  <div *ngIf="affichage == 1">
    <div class="row align-items-center pb40">
      <div class="col-xxl-7">
        <div class="dashboard_title_area">
          <h4>Liste des demandes de locations</h4>
        </div>
      </div>
      <div class="col-xxl-5">
        <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
          <div class="item1 mb15-sm">
            <div class="search_area">
              <input type="text" [(ngModel)]="recherche" class="form-control bdrs12" placeholder="Faire une recherche">
              <label><span class="flaticon-search"></span></label>
            </div>
          </div>
          <!-- &nbsp;
          <a type="button" (click)="voirFormulaireAjouter()" class="ud-btn btn-thm">Ajouter une publication</a> -->
        </div>
      </div>
    </div>
    <div class="row">
      <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
          <div class="packages_table table-responsive">
            <table class="table-style3 table at-savesearch">
              <thead class="t-head">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Code</th>
                  <th scope="col">{{ user.role.code == 'ROLE_CLIENT' ? 'Annonceur' : 'Client' }}</th>
                  <!-- <th scope="col">Type de transaction</th> -->
                  <!-- <th scope="col">Date</th> -->
                  <th scope="col">Etat</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody class="t-body">
                <tr *ngFor="let demandeLocation of demandesLocations.content | genericFilter: recherche; let i = index">
                  <td class="vam">{{ (numeroDeLaPage * elementsParPage) + i + 1 }}</td>
                  <td class="vam">{{ demandeLocation.codeDemande }}</td>
                  <td class="vam" *ngIf="user.role.code !== 'ROLE_CLIENT'">{{ demandeLocation.client.nom }} {{ demandeLocation.client.prenom }}</td>
                  <td class="vam" *ngIf="user.role.code == 'ROLE_CLIENT' && demandeLocation.publication.agenceImmobiliere !== null">{{ demandeLocation.publication.agenceImmobiliere.nomAgence }}</td>
                  <td class="vam" *ngIf="user.role.code == 'ROLE_CLIENT' && demandeLocation.publication.agenceImmobiliere == null">{{ demandeLocation.publication.personne.nom }} {{ demandeLocation.publication.personne.prenom }}</td>
                  <!-- <td class="vam">{{ publication.typeDeTransaction }}</td> -->
                  <!-- <td class="vam">{{ publication.datePublication | date: 'dd-MM-yyyy' }}</td> -->
                  <td class="vam">
                    <p-tag *ngIf="demandeLocation.etatDemande == 0" severity="warning" value="En attente"></p-tag>
                    <p-tag *ngIf="demandeLocation.etatDemande == 1" severity="success" value="Validée"></p-tag>
                    <p-tag *ngIf="demandeLocation.etatDemande == 2" severity="danger" value="Annulé"></p-tag>
                    <p-tag *ngIf="demandeLocation.etatDemande == 3" severity="danger" value="Refusé"></p-tag>
                    <p-tag *ngIf="demandeLocation.etatDemande == 4" severity="warning" value="Modifié"></p-tag>
                  </td>
                  <td class="vam">
                    <div class="d-flex">
                      <button pButton type="button" icon="pi pi-eye"
                        (click)="afficherPageDetail(demandeLocation.id)"
                        pTooltip="Détails" tooltipPosition="top" class="p-button-text p-button-info">
                      </button>

                      <button
                        pButton type="button" icon="pi pi-pencil pi-lg" *ngIf="(demandeLocation.etatDemande == 0 || demandeLocation.etatDemande == 2 || demandeLocation.etatDemande == 3 || demandeLocation.etatDemande == 4) && user.role.code == 'ROLE_CLIENT'"
                        (click)="afficherPageModifier(demandeLocation.id)"
                        pTooltip="Modifier" tooltipPosition="top" class="p-button-text p-button-warning">
                      </button>

                      <button *ngIf="(demandeLocation.etatDemande == 0 || demandeLocation.etatDemande == 4) && user.role.code == 'ROLE_CLIENT'"
                        pButton type="button" icon="pi pi-send pi-lg" (click)="relancer(demandeLocation.id)"
                        pTooltip="Relancer" tooltipPosition="right" class="p-button-text p-button-sucess">
                      </button>

                      <button *ngIf="demandeLocation.etatDemande == 0 && user.role.code !== 'ROLE_CLIENT'"
                        pButton type="button" icon="pi pi-file-edit pi-lg" (click)="relancer(demandeLocation.id)"
                        pTooltip="Proposer un contrat" tooltipPosition="right" class="p-button-text p-button-sucess">
                      </button>
                    </div>
                  </td>
              </tbody>
            </table>
          </div>

          <div *ngIf="demandesLocations.totalElements !== 0" class="mbp_pagination text-center mt30">
            <p-paginator
              (onPageChange)="pagination($event)" [rows]="demandesLocations.size"
              [totalRecords]="demandesLocations.totalElements" [rowsPerPageOptions]="[5, 10, 15]"
              [showCurrentPageReport]="true" [showPageLinks]="true" [showFirstLastIcon]="true"
              currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} demandes de locations">
            </p-paginator>
          </div>
          <div *ngIf="demandesLocations.totalElements == 0" class="mbp_pagination text-center mt30">
            <p class="mt10 pagination_page_count text-center">Aucune demande de location enregistré pour le moment</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- End Liste des demandes de locations -->

  <!-- Détails d'une demande de location -->
  <div *ngIf="affichage == 2">
    <div class="row align-items-center">
      <div class="col-xxl-5">
        <div class="dashboard_title_area">
          <h4>Détails d'une demande de location</h4>
        </div>
      </div>
      <div class="col-xxl-7">
        <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
          <a class="ud-btn btn-valider" type="button" *ngIf="user.role.code != 'ROLE_CLIENT' && (demandeLocation.etatDemande == 0 || demandeLocation.etatDemande == 4)"
          (click)="valider(demandeLocation.id)">Valider</a>
          &nbsp;
          <a class="ud-btn btn-danger" type="button" *ngIf="demandeLocation.etatDemande == 0"
            (click)="user.role.code == 'ROLE_CLIENT' ? afficherModalAnnulation(demandeLocation.id) : afficherModalRefus(demandeLocation.id)">
            {{ user.role.code == 'ROLE_CLIENT' ? 'Annuler' : 'Refuser' }}
          </a>
          &nbsp;
         <a type="button" (click)="voirListe()" class="ud-btn btn-retour">Retour</a>
        </div>
      </div>
      <p-messages severity="info">
        <ng-template pTemplate>
          <div class="ml-2"><th scope="col">Libelle : {{ demandeLocation.publication.libelle }}</th></div>
        </ng-template>
      </p-messages>
    </div>

    <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
    <div class="row">

      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
            <div class="row">

              <h4 class="title fz17 mb30">Détails de la demande de location</h4>
              <div class="row" *ngIf="user.role.code !== 'ROLE_CLIENT'">
                <div class="col-md-6 col-xl-4">
                  <div class="d-flex justify-content-between">
                    <div class="pd-list">
                      <p class="fw600 mb10 ff-heading dark-color">Nom du client</p>
                      <p class="fw600 mb10 ff-heading dark-color">Email du client</p>
                      <p class="fw600 mb10 ff-heading dark-color">Loyer proposé</p>
                      <p class="fw600 mb10 ff-heading dark-color" *ngIf="demandeLocation.caution">Caution proposée</p>
                      <p class="fw600 mb10 ff-heading dark-color">Etat</p>
                    </div>
                    <div class="pd-list">
                      <p class="text mb10">{{ demandeLocation.client.nom }}</p>
                      <p class="text mb10">{{ demandeLocation.client.email }}</p>
                      <p class="text mb10">{{ demandeLocation.prixDeLocation | number }} FCFA</p>
                      <p class="text mb10" *ngIf="demandeLocation.caution">{{ demandeLocation.caution }} mois</p>
                      <p class="text mb10">
                        <p-tag *ngIf="demandeLocation.etatDemande == 0" severity="warning" value="En attente"></p-tag>
                        <p-tag *ngIf="demandeLocation.etatDemande == 1" severity="success" value="Validé"></p-tag>
                        <p-tag *ngIf="demandeLocation.etatDemande == 2" severity="danger" value="Annuler"></p-tag>
                        <p-tag *ngIf="demandeLocation.etatDemande == 3" severity="danger" value="Refusé"></p-tag>
                        <p-tag *ngIf="demandeLocation.etatDemande == 4" severity="warning" value="Modifié"></p-tag>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-4 offset-xl-2">
                  <div class="d-flex justify-content-between">
                    <div class="pd-list">
                      <p class="fw600 mb10 ff-heading dark-color">Prénom(s) du client</p>
                      <p class="fw600 mb10 ff-heading dark-color">Téléphone du client</p>
                      <p class="fw600 mb10 ff-heading dark-color">Avance proposée</p>
                    </div>
                    <div class="pd-list">
                      <p class="text mb10">{{ demandeLocation.client.prenom }}</p>
                      <p class="text mb10">{{ demandeLocation.client.telephone }}</p>
                      <p class="text mb10" *ngIf="demandeLocation.avance">{{ demandeLocation.avance }} mois</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" *ngIf="user.role.code == 'ROLE_CLIENT'">
                <div class="col-md-6 col-xl-4">
                  <div class="d-flex justify-content-between">
                    <div class="pd-list">
                      <p class="fw600 mb10 ff-heading dark-color">Annonceur</p>
                      <p class="fw600 mb10 ff-heading dark-color">Téléphone de l'annonceur</p>
                      <p class="fw600 mb10 ff-heading dark-color">Avance proposée</p>
                      <p class="fw600 mb10 ff-heading dark-color">Caution proposée</p>
                    </div>
                    <div class="pd-list">
                      <p class="text mb10">{{ demandeLocation.publication.agenceImmobiliere ? demandeLocation.publication.agenceImmobiliere.nomAgence : demandeLocation.publication.personne.nom + ' ' + demandeLocation.publication.personne.prenom }}</p>
                      <p class="text mb10">{{ demandeLocation.publication.agenceImmobiliere ? demandeLocation.publication.agenceImmobiliere.telephone : demandeLocation.publication.personne.telephone }}</p>
                      <p class="text mb10" *ngIf="demandeLocation.avance">{{ demandeLocation.avance }} mois</p>
                      <p class="text mb10" *ngIf="demandeLocation.caution">{{ demandeLocation.caution }} mois</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-4 offset-xl-2">
                  <div class="d-flex justify-content-between">
                    <div class="pd-list">
                      <p class="fw600 mb10 ff-heading dark-color">Email de l'annonceur</p>
                      <p class="fw600 mb10 ff-heading dark-color">Prix de location proposé</p>
                      <p class="fw600 mb10 ff-heading dark-color">Etat</p>
                    </div>
                    <div class="pd-list">
                      <p class="text mb10">{{ demandeLocation.publication.agenceImmobiliere ? demandeLocation.publication.agenceImmobiliere.adresseEmail : demandeLocation.publication.personne.email }}</p>
                      <p class="text mb10">{{ demandeLocation.prixDeLocation | number }} FCFA</p>
                      <p class="text mb10">
                        <p-tag *ngIf="demandeLocation.etatDemande == 0" severity="warning" value="En attente"></p-tag>
                        <p-tag *ngIf="demandeLocation.etatDemande == 1" severity="success" value="Validé"></p-tag>
                        <p-tag *ngIf="demandeLocation.etatDemande == 2" severity="danger" value="Annuler"></p-tag>
                        <p-tag *ngIf="demandeLocation.etatDemande == 3" severity="danger" value="Refusé"></p-tag>
                        <p-tag *ngIf="demandeLocation.etatDemande == 4" severity="warning" value="Modifié"></p-tag>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <p-divider *ngIf="listMotifs.length !== 0"></p-divider>
              <div *ngFor="let listMotif of listMotifs; let i = index;">
                <h4 class="title fz17 mb20">Motif {{ user.role.code == 'ROLE_CLIENT' ? 'de refus' : 'd\'annulation'}} #{{ i + 1 }}</h4>
                <p class="text justify-text">{{ listMotif.motif }}</p>
              </div>

              <p-divider></p-divider>
              <h4 class="title fz17 mb30">Détails de la publication</h4>
              <div class="row">
                <div class="col-md-6 col-xl-4">
                  <div class="d-flex justify-content-between">
                    <div class="pd-list">
                      <p class="fw600 mb10 ff-heading dark-color">Code</p>
                      <p class="fw600 mb10 ff-heading dark-color">Prix mensuel du bien</p>
                      <p class="fw600 mb10 ff-heading dark-color" *ngIf="demandeLocation.publication.caution">Caution</p>
                      <p class="fw600 mb10 ff-heading dark-color" *ngIf="demandeLocation.publication.fraisDeVisite">Frais de visite</p>
                    </div>
                    <div class="pd-list">
                      <p class="text mb10">{{ demandeLocation.publication.codePublication }}</p>
                      <p class="text mb10">{{ demandeLocation.publication.prixDuBien | number }} FCFA</p>
                      <p class="text mb10" *ngIf="demandeLocation.publication.caution">{{ demandeLocation.publication.caution }} mois</p>
                      <p class="text mb10" *ngIf="demandeLocation.publication.fraisDeVisite">{{ demandeLocation.publication.fraisDeVisite | number }} FCFA</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-4 offset-xl-2">
                  <div class="d-flex justify-content-between">
                    <div class="pd-list">
                      <p class="fw600 mb10 ff-heading dark-color">Type de transaction</p>
                      <p class="fw600 mb10 ff-heading dark-color" *ngIf="demandeLocation.publication.avance">Avance</p>
                      <p class="fw600 mb10 ff-heading dark-color" *ngIf="demandeLocation.publication.commission">Commission</p>
                    </div>
                    <div class="pd-list">
                      <p class="text mb10">{{ demandeLocation.publication.typeDeTransaction }}</p>
                      <p class="text mb10" *ngIf="demandeLocation.publication.avance">{{ demandeLocation.publication.avance }} mois</p>
                      <p class="text mb10" *ngIf="demandeLocation.publication.commission">{{ demandeLocation.publication.commission }} mois de loyer</p>
                    </div>
                  </div>
                </div>
              </div>

              <p-divider></p-divider>
              <div class="col-lg-8">
                <div *ngIf="images.length == 0">
                  <p-image class="w-100" imageClass="imageLength0" src="assets/images/home/house.jpg" alt="" width="650" loading="lazy"></p-image>
                </div>

                <div *ngIf="images.length !== 0">
                  <p-galleria [value]="images" [showIndicators]="false" [showItemNavigatorsOnHover]="true" [showItemNavigators]="true" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '640px', 'margin': '0 auto' }" [numVisible]="5">

                    <ng-template pTemplate="item" let-item>
                        <img src="{{this.APIEndpoint+'api/image/bien-immobilier/'+item.id}}"  style="width: 100%; border-radius:10px;" loading="lazy"/>
                    </ng-template>

                    <ng-template pTemplate="thumbnail" *ngIf="images.length > 4" let-item>
                      <div class="grid grid-nogutter justify-content-center">
                        <img src="{{this.APIEndpoint+'api/image/bien-immobilier/'+item.id}}" style="width: 100%; border-radius:8px;" loading="lazy"/>
                      </div>
                    </ng-template>

                  </p-galleria>
                </div>
              </div>
              <div class="col-lg-4">
                <h4 class="title fz17 mb30" *ngIf="bienImm.description">Description du bien</h4>
                <p class="text justify-text" *ngIf="bienImm.description">
                    {{ bienImm.description }}
                </p>
              </div>

              <p-divider></p-divider>
              <h4 class="title fz17 mb30">Détails du bien</h4>
              <div class="row">
                <div class="col-md-6 col-xl-4">
                  <div class="d-flex justify-content-between">
                    <div class="pd-list">
                      <p class="fw600 mb10 ff-heading dark-color">Code</p>
                      <p class="fw600 mb10 ff-heading dark-color">Type de bien</p>
                      <p class="fw600 mb10 ff-heading dark-color" *ngIf="afficherCategorie()">Catégorie</p>
                      <p class="fw600 mb10 ff-heading dark-color">Pays</p>
                      <p class="fw600 mb10 ff-heading dark-color">Région</p>
                      <p class="fw600 mb-0 ff-heading dark-color">Ville</p>
                    </div>
                    <div class="pd-list">
                      <p class="text mb10">{{ bienImm.codeBien }}</p>
                      <p class="text mb10">{{ bienImm.typeDeBien.designation }}</p>
                      <p class="text mb10" *ngIf="afficherCategorie()">{{ bienImm.categorie }}</p>
                      <p class="text mb10">{{ bienImm.pays.libelle }}</p>
                      <p class="text mb10">{{ bienImm.region.libelle }}</p>
                      <p class="text mb-0">{{ bienImm.ville.libelle }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-4 offset-xl-2">
                  <div class="d-flex justify-content-between">
                    <div class="pd-list">
                      <p class="fw600 mb10 ff-heading dark-color">Quartier</p>
                      <p class="fw600 mb10 ff-heading dark-color">Adresse</p>
                      <p class="fw600 mb10 ff-heading dark-color">Surface</p>
                      <p class="fw600 mb10 ff-heading dark-color">Statut</p>
                      <p class="fw600 mb-0 ff-heading dark-color">Etat</p>
                    </div>
                    <div class="pd-list">
                      <p class="text mb10">{{ bienImm.quartier.libelle }}</p>
                      <p class="text mb10" *ngIf="bienImm.adresse">{{ bienImm.adresse }}</p>
                      <p class="text mb10" *ngIf="bienImm.surface">{{ bienImm.surface }} m²</p>
                      <p class="text mb10">
                        <p-tag *ngIf="bienImm.statutBien == 'Disponible'" severity="success" value="Disponible"></p-tag>
                      </p>
                      <p class="text mb-0">
                        <p-tag *ngIf="bienImm.etatBien == true" severity="success" value="Activé"></p-tag>
                        <p-tag *ngIf="bienImm.etatBien == false" severity="danger" value="Désactivé"></p-tag>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <p-divider *ngIf="bienImm.typeDeBien.designation != 'Terrain'"></p-divider>
              <h4 class="title fz17 mb30" *ngIf="bienImm.typeDeBien.designation != 'Terrain'">Caractéristiques du bien</h4>
              <div class="row">
                <div class="col-md-6 col-xl-4">
                  <div class="d-flex justify-content-between">
                    <div class="pd-list">
                      <p *ngIf="caracteristique.nombreChambres" class="fw600 mb10 ff-heading dark-color">Nombre de chambres</p>
                      <p *ngIf="caracteristique.nombreChambresSalon" class="fw600 mb10 ff-heading dark-color">Nombre de chambres salon</p>
                      <p *ngIf="caracteristique.nombreBureaux" class="fw600 mb10 ff-heading dark-color">Nombre de bureaux</p>
                      <p *ngIf="caracteristique.nombreBoutiques" class="fw600 mb10 ff-heading dark-color">Nombre de boutiques</p>
                      <p *ngIf="caracteristique.nombreBoutiques" class="fw600 mb10 ff-heading dark-color">Nombre de magasions</p>
                      <p *ngIf="caracteristique.nombreAppartements" class="fw600 mb10 ff-heading dark-color">Nombre d'appartements</p>
                      <p *ngIf="caracteristique.nombreEtages" class="fw600 mb-0 ff-heading dark-color">Nombre d'étages</p>
                    </div>
                    <div class="pd-list">
                      <p *ngIf="caracteristique.nombreChambres" class="text mb10">{{ caracteristique.nombreChambres }}</p>
                      <p *ngIf="caracteristique.nombreChambresSalon" class="text mb10">{{ caracteristique.nombreChambresSalon }}</p>
                      <p *ngIf="caracteristique.nombreBureaux" class="text mb10">{{ caracteristique.nombreBureaux }}</p>
                      <p *ngIf="caracteristique.nombreBoutiques" class="text mb10">{{ caracteristique.nombreBoutiques }}</p>
                      <p *ngIf="caracteristique.nombreBoutiques" class="text mb10">{{ caracteristique.nombreBoutiques }}</p>
                      <p *ngIf="caracteristique.nombreAppartements" class="text mb10">{{ caracteristique.nombreAppartements }}</p>
                      <p *ngIf="caracteristique.nombreEtages" class="text mb-0">{{ caracteristique.nombreEtages }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-4 offset-xl-2">
                  <div class="d-flex justify-content-between">
                    <div class="pd-list">
                      <p *ngIf="caracteristique.nombreGarages" class="fw600 mb10 ff-heading dark-color">Nombre de garages</p>
                      <p *ngIf="caracteristique.nombreCuisineInterne" class="fw600 mb10 ff-heading dark-color">Nombre de cusine interne</p>
                      <p *ngIf="caracteristique.nombreCuisineExterne" class="fw600 mb10 ff-heading dark-color">Nombre de cuisine externe</p>
                      <p *ngIf="caracteristique.nombreWCDoucheInterne" class="fw600 mb10 ff-heading dark-color">Nombre de WC-Douche interne</p>
                      <p *ngIf="caracteristique.nombreWCDoucheExterne" class="fw600 mb10 ff-heading dark-color">Nombre de WC-Douche externe</p>
                      <p *ngIf="caracteristique.nombreSalons" class="fw600 mb10 ff-heading dark-color">Nombre de salons</p>
                      <p *ngIf="caracteristique.nombrePlacards" class="fw600 mb-0 ff-heading dark-color">Nombre de placards</p>
                    </div>
                    <div class="pd-list">
                      <p *ngIf="caracteristique.nombreGarages" class="text mb10">{{ caracteristique.nombreGarages }}</p>
                      <p *ngIf="caracteristique.nombreCuisineInterne" class="text mb10">{{ caracteristique.nombreCuisineInterne }}</p>
                      <p *ngIf="caracteristique.nombreCuisineExterne" class="text mb10">{{ caracteristique.nombreCuisineExterne }}</p>
                      <p *ngIf="caracteristique.nombreWCDoucheInterne" class="text mb10">{{ caracteristique.nombreWCDoucheInterne }}</p>
                      <p *ngIf="caracteristique.nombreWCDoucheExterne" class="text mb10">{{ caracteristique.nombreWCDoucheExterne }}</p>
                      <p *ngIf="caracteristique.nombreSalons" class="text mb10">{{ caracteristique.nombreSalons }}</p>
                      <p *ngIf="caracteristique.nombrePlacards" class="text mb-0">{{ caracteristique.nombrePlacards }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-sm-6 col-md-4">
                  <div class="pd-list mb10-sm">
                    <p *ngIf="caracteristique.parking" class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Parking</p>
                    <p *ngIf="caracteristique.eauTde" class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Eau TDE</p>
                    <p *ngIf="caracteristique.compteurEau" class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Compteur d'eau</p>
                    <p *ngIf="caracteristique.wifi" class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Wifi</p>
                    <p *ngIf="caracteristique.placard" class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Placards</p>
                    <p *ngIf="caracteristique.cuisineInterne" class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Cuisine interne</p>
                    <p *ngIf="caracteristique.wcDoucheInterne" class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>WC-Douche interne</p>
                    <p *ngIf="caracteristique.balcon" class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Balcon</p>
                    <p *ngIf="caracteristique.garage" class="text mb-0"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Garage</p>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="pd-list">
                    <p *ngIf="caracteristique.eauForage" class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Eau Forage</p>
                    <p *ngIf="caracteristique.electriciteCeet" class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Électricité CEET</p>
                    <p *ngIf="caracteristique.ascenseur" class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Ascenceur</p>
                    <p *ngIf="caracteristique.aLetage" class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>À l'étage</p>
                    <p *ngIf="caracteristique.dalle" class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Dallé</p>
                    <p *ngIf="caracteristique.cuisineExterne" class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Cuisine externe</p>
                    <p *ngIf="caracteristique.wcDoucheExterne" class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>WC-Douche externe</p>
                    <p *ngIf="caracteristique.climatisation" class="text mb-0"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Climatiseur</p>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="pd-list">
                    <p *ngIf="caracteristique.plafonne" class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Plafonné</p>
                    <p *ngIf="caracteristique.baieVitree" class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Baie vitrée</p>
                    <p *ngIf="caracteristique.solCarelle" class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Sol carellé</p>
                    <p *ngIf="caracteristique.cashPowerPersonnel" class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Cash power personnel</p>
                    <p *ngIf="caracteristique.compteurAdditionnel" class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Compteur additionnel</p>
                    <p *ngIf="caracteristique.jardin" class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Jardin</p>
                    <p *ngIf="caracteristique.piscine" class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Piscine</p>
                    <p *ngIf="caracteristique.terrasse" class="text mb-0"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Terrasse<p></p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>

    </div>

    <!-- Start Dialog Annulation d'une demande -->
    <p-dialog header="Annulation d'un demande" [(visible)]="modalAnnulationVisible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
      <form class="form-style1">
        <div class="row">
          <div class="form-group">
            <div class="mb30">
              <label class="heading-color ff-heading fw600 mb10">Motif de l'annulation</label>
              <textarea id="motifRejet" name="motifRejet" [(ngModel)]="motifAnnulationForm.motif" placeholder="Le motif de l'annulation de la demande" style="height: 160px;"></textarea>
            </div>
          </div>
          <div class="col-md-12">
            <div class="text-end">
              <button class="ud-btn btn-annuler" type="button" (click)="dialogueNotVisible()">Annuler</button>
              &nbsp;
              <button class="ud-btn btn-valider" type="button" (click)="enregistrerMotifAnnuler()">Enregistrer</button>
            </div>
          </div>
        </div>
      </form>
    </p-dialog>
    <!-- End Dialog Annulation d'une demande -->

    <!-- Start Dialog Refus d'une demande -->
    <p-dialog header="Refus d'une demande" [(visible)]="modalRefusVisible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
      <form class="form-style1">
        <div class="row">
          <div class="form-group">
            <div class="mb30">
              <label class="heading-color ff-heading fw600 mb10">Motif du refus</label>
              <textarea id="motifRejet" name="motifRejet" [(ngModel)]="motifRefusForm.motif" placeholder="Le motif du refus de la demande" style="height: 160px;"></textarea>
            </div>
          </div>
          <div class="col-md-12">
            <div class="text-end">
              <button class="ud-btn btn-annuler" type="button" (click)="dialogueNotVisible()">Annuler</button>
              &nbsp;
              <button class="ud-btn btn-valider" type="button" (click)="enregistrerMotifRefuser()">Enregistrer</button>
            </div>
          </div>
        </div>
      </form>
    </p-dialog>
    <!-- End Dialog Refus d'une demande -->

    <div class="text-end">
      <a class="ud-btn btn-retour" (click)="voirListe()" type="button">Retour</a>
    </div>
  </div>
  <!-- End Détails d'une demande d'achat -->

  <!-- Start Modification d'une demande de location -->
  <div *ngIf="affichage == 3">
    <div class="row align-items-center pb40">
      <div class="col-xxl-7">
        <div class="dashboard_title_area">
          <h4>Modification d'une demande de location</h4>
        </div>
      </div>
      <div class="col-xxl-5">
        <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
          <a class="ud-btn btn-retour" type="button" (click)="voirListe()">Retour</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
          <form #demandeLocationForm="ngForm" (ngSubmit)="modifier(demandeLocation.id)" class="form-style1">
            <div class="row">
              <div class="col-sm-6">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Prix de location proposé</label>
                  <p-inputNumber class="pInputNumber p-fluid" placeholder="Prix de location proposé" [(ngModel)]="demandeLocation.prixDeLocation" inputId="prixDeLocation" name="prixDeLocation" mode="currency" currency="CFA" locale="de-DE" [required]="true"
                    [max]="demandeLocation.publication.prixDuBien" #prixDeLocation="ngModel">
                  </p-inputNumber>
                  <div [hidden]="!prixDeLocation?.hasError('required') || !prixDeLocation.touched" class="error">
                    Le prix de location proposé est requis.
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Avance proposée</label>
                  <p-inputNumber class="pInputNumber p-fluid" placeholder="Avance proposée en nombre de mois" [(ngModel)]="demandeLocation.avance" inputId="avance" name="avance" suffix=" mois"
                    [max]="demandeLocation.publication.avance" #avance="ngModel">
                  </p-inputNumber>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Caution proposée</label>
                  <p-inputNumber class="pInputNumber p-fluid" placeholder="Caution proposée en nombre de mois" [(ngModel)]="demandeLocation.caution" inputId="caution" name="caution" suffix=" mois"
                    [max]="demandeLocation.publication.caution" #caution="ngModel">
                  </p-inputNumber>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="text-end">
                <button class="ud-btn btn-annuler" (click)="demandeLocationForm.reset()" type="button">Annuler</button>
                &nbsp;
                <button class="ud-btn btn-modifier" [ngClass]="{ 'disabled-link': !demandeLocationForm.valid }" type="submit">Modifier</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- End Modification d'une demande de location -->
</div>
