<div class="dashboard__content bgc-f7">
    <div class="row pb40 d-block d-lg-none">
        <!-- Menu responsive -->
        <app-menu-responsive></app-menu-responsive>
        <!-- End Menu responsive -->
    </div>

    <p-toast></p-toast>

    <!-- Liste des agents immobiliers - Vue Administrateur  -->
    <div *ngIf="user.role.code == 'ROLE_ADMINISTRATEUR'">
        <div class="row align-items-center pb40">
            <div class="col-xxl-5">
                <div class="dashboard_title_area">
                    <h4>Liste des agents immobiliers</h4>
                </div>
            </div>
            <div class="col-xxl-7 d-flex justify-content-end">
                <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
                    <div class="item1 mb15-sm">
                        <div class="search_area">
                            <div class="input-group">
                                <span class="input-group-text">
                          <i class="pi pi-search" style="font-weight: bold"></i>
                        </span>
                                <input type="text" pInputText [(ngModel)]="recherche" class="inputText" placeholder="Que cherchez-vous ?">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
            <div class="col-xl-12">
                <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
                    <div class="packages_table table-responsive">
                        <table class="table-style3 table at-savesearch">
                            <thead class="t-head">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prénom(s)</th>
                                    <th scope="col">Etat</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="t-body">
                                <tr *ngFor="let agentImmobilier of agentsImmobiliersParPage | genericFilter: recherche;  let i = index">
                                    <td class="vam">{{ pageActuelle + i + 1 }}</td>
                                    <td class="vam">{{ agentImmobilier.nom }}</td>
                                    <td class="vam">{{ agentImmobilier.prenom }} <i *ngIf="agentImmobilier.estCertifie" class="fa-sharp fa-solid fa-badge-check fa-xl" style="color: #0f77e6;"></i></td>
                                    <td class="vam">
                                        <p-tag *ngIf="agentImmobilier.etatCompte == true" severity="success" value="Activé"></p-tag>
                                        <p-tag *ngIf="agentImmobilier.etatCompte == false" severity="danger" value="Désactivé"></p-tag>
                                    </td>
                                    <td class="vam">
                                        <div class="d-flex">
                                            <button pButton type="button" (click)="voirPageDetail(agentImmobilier.id)" icon="pi pi-eye" pTooltip="Détails" tooltipPosition="right" class="p-button-text p-button-info">
                      </button>

                                            <button pButton type="button" *ngIf="agentImmobilier.etatCompte === true && user.etatCompte == true" (click)="desactiverCompte(agentImmobilier.id)" icon="pi pi-lock" pTooltip="Désactiver ce compte" tooltipPosition="top" class="p-button-text p-button-danger">
                      </button>

                                            <button pButton type="button" *ngIf="agentImmobilier.etatCompte === false && user.etatCompte == true" (click)="activerCompte(agentImmobilier.id)" icon="pi pi-lock-open" pTooltip="Activer ce compte" tooltipPosition="left" class="p-button-text p-button-success">
                      </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="agentsImmobiliers.length !== 0" class="mbp_pagination text-center mt30">
                        <p-paginator (onPageChange)="pagination($event)" [first]="pageActuelle" [rows]="elementsParPage" [totalRecords]="agentsImmobiliers.length" [rowsPerPageOptions]="[5, 10, 15]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} agents immobiliers"
                            [showPageLinks]="true" [showFirstLastIcon]="true">
                        </p-paginator>
                    </div>
                    <div *ngIf="agentsImmobiliers.length == 0" class="mbp_pagination text-center mt30">
                        <p class="mt10 pagination_page_count text-center">Aucun agent immobilier enregistré pour le moment</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Liste des agents immobiliers - Vue Administrateur -->

    <!-- Liste des agents immobiliers - Vue Responsable -->
    <div *ngIf="user.role.code == 'ROLE_RESPONSABLE'">
        <div class="row align-items-center pb40">
            <div class="col-xxl-5">
                <div class="dashboard_title_area">
                    <h4>Agents immobiliers</h4>
                </div>
            </div>
            <div class="col-xxl-7 d-flex justify-content-end">
                <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
                    <div class="item1 mb15-sm">
                        <div class="search_area">
                            <div class="input-group">
                                <span class="input-group-text">
                      <i class="pi pi-search" style="font-weight: bold"></i>
                    </span>
                                <input type="text" pInputText [(ngModel)]="recherche" class="inputText" placeholder="Que cherchez-vous ?">
                            </div>
                        </div>
                    </div>
                    &nbsp;
                    <a type="button" (click)="voirPageAjout()" class="ud-btn btn-thm">Ajouter un agent immobilier</a>
                </div>
            </div>
        </div>
        <div class="row">
            <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
            <div class="col-xl-12">
                <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
                    <div class="d-flex align-items-center justify-content-between" *ngIf="agencesImmobilieres.length > 1">
                        <div class="col-xl-4 mt10">
                            <p-dropdown class="select" emptyMessage="Aucun résultat trouvé" [options]="agencesImmobilieres" placeholder="Filtrer par agence" formControlName="agenceImmobiliere" [(ngModel)]="agenceSelectionnee" [showClear]="true" (onChange)="filterAgentParAgence($event)"
                                optionLabel="nomAgence">
                                <ng-template let-agenceImmobiliere pTemplate="item">
                                    {{ agenceImmobiliere.codeAgence }}/ {{ agenceImmobiliere.nomAgence }}
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <a class="ud-btn btn-retour" type="button" (click)="rafraichir()">Rafraîchir<i class="pi pi-refresh"></i></a>
                    </div>
                    <br>
                    <div class="packages_table table-responsive">
                        <table class="table-style3 table at-savesearch">
                            <thead class="t-head">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col" *ngIf="agencesImmobilieres.length > 1">Agence immobilère</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prénom(s)</th>
                                    <th scope="col">Etat</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="t-body">
                                <tr *ngFor="let affectationAgentAgence of affectationsAgentAgenceParPage | genericFilter: recherche;  let i = index">
                                    <td class="vam">{{ pageActuelle + i + 1 }}</td>
                                    <th scope="row" *ngIf="agencesImmobilieres.length > 1">
                                        <div class="listing-style1 dashboard-style d-xxl-flex align-items-center mb-0">
                                            <div class="list-thumb">
                                                <img *ngIf="affectationAgentAgence.agenceImmobiliere.logoAgence == ''" class="w-100" src="assets/images/team/logo_par_defaut.jpg" alt="">

                                                <img *ngIf="affectationAgentAgence.agenceImmobiliere.logoAgence !== ''" class="w-100" src="{{this.APIEndpoint+'api/logo/agence-immobiliere/'+ affectationAgentAgence.agenceImmobiliere.id}}" alt="">
                                            </div>
                                            <div class="list-content flex-shrink-1">
                                                <h6 class="list-title"><a href="{{this.APIEndpoint+'api/logo/agence-immobiliere/'+ affectationAgentAgence.agenceImmobiliere.id}}">{{ affectationAgentAgence.agenceImmobiliere.adresse }}</a></h6>
                                                <p class="list-text">{{ affectationAgentAgence.agenceImmobiliere.nomAgence }} <i *ngIf="affectationAgentAgence.agenceImmobiliere && affectationAgentAgence.agenceImmobiliere.estCertifie == true" class="fa-sharp fa-solid fa-badge-check fa-lg"
                                                        style="color: #0f77e6;"></i></p>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="vam">{{ affectationAgentAgence.agentImmobilier.nom }}</td>
                                    <td class="vam">{{ affectationAgentAgence.agentImmobilier.prenom }} <i *ngIf="affectationAgentAgence.agentImmobilier.estCertifie" class="fa-sharp fa-solid fa-badge-check fa-xl" style="color: #0f77e6;"></i></td>
                                    <td class="vam">
                                        <p-tag *ngIf="affectationAgentAgence.actif == true" severity="success" value="Activé"></p-tag>
                                        <p-tag *ngIf="affectationAgentAgence.actif == false" severity="danger" value="Désactivé"></p-tag>
                                    </td>
                                    <td class="vam">
                                        <div class="d-flex">
                                            <button pButton type="button" (click)="voirPageDetail(affectationAgentAgence.id)" icon="pi pi-eye" pTooltip="Détails" tooltipPosition="right" class="p-button-text p-button-info">
                      </button>

                                            <button pButton type="button" *ngIf="affectationAgentAgence.actif === true && user.etatCompte == true" (click)="desactiverCompteAgentAgence(affectationAgentAgence.id)" icon="pi pi-lock" pTooltip="Désactiver cet agent" tooltipPosition="top" class="p-button-text p-button-danger">
                      </button>

                                            <button pButton type="button" *ngIf="affectationAgentAgence.actif === false && user.etatCompte == true" (click)="activerCompteAgentAgence(affectationAgentAgence.id)" icon="pi pi-lock-open" pTooltip="Activer cet agent" tooltipPosition="left" class="p-button-text p-button-success">
                      </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="affectationsAgentAgence.length !== 0" class="mbp_pagination text-center mt30">
                        <p-paginator (onPageChange)="pagination($event)" [first]="pageActuelle" [rows]="elementsParPage" [totalRecords]="affectationsAgentAgence.length" [rowsPerPageOptions]="[5, 10, 15]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} agents immobiliers"
                            [showPageLinks]="true" [showFirstLastIcon]="true">
                        </p-paginator>
                    </div>
                    <div *ngIf="affectationsAgentAgence.length == 0" class="mbp_pagination text-center mt30">
                        <p class="mt10 pagination_page_count text-center">Aucun agent immobilier enregistré pour le moment</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Liste des agents immobiliers - Vue Responsable -->
</div>