  <!-- Main Header Nav -->
  <app-navigation-site></app-navigation-site>

  <div class="hiddenbar-body-ovelay"></div>

  <!-- Mobile Nav  -->
  <div id="page" class="mobilie_header_nav stylehome1">
    <div class="mobile-menu">
      <div class="header innerpage-style">
        <div class="menu_and_widgets">
          <div class="mobile_menu_bar d-flex justify-content-between align-items-center">
            <a class="menubar" href="#menu"><img src="assets/images/mobile-dark-nav-icon.svg" alt=""></a>
            <a class="mobile_logo" href="#"><img src="assets/images/header-logo2.svg" alt=""></a>
            <a routerLink="/login"><span class="icon fz18 far fa-user-circle"></span></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.mobile-menu -->
    <nav id="menu" class="">
      <ul>
        <li><span>Accueil</span>
        </li>
        <li><span>Propriétés</span>
        </li>
        <li><span>Agences immobilières</span>
        </li>
        <li class="px-3 mobile-menu-btn">
          <a href="page-dashboard-add-property.html" class="ud-btn btn-thm text-white">Ajouter une propriété</a>
        </li>
        <!-- Only for Mobile View -->
      </ul>
    </nav>
  </div>

  <div class="body_content">

    <router-outlet></router-outlet>

    <!-- Our Footer -->
    <app-pied-de-page-site></app-pied-de-page-site>
    <!-- <a class="scrollToHome" href="#"><i class="fas fa-angle-up"></i></a> -->
  </div>
