.badge-details-publication {
  position: absolute;
  font-size: 0;
  z-index: 2
}

.span-badge-details-publication {
  display: inline-block;
  color: #fff;
  background-color: #222;
  padding: 2px 10px;
  font-size: 13px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
}

.img {
  text-align: center;
  width: 10%;
}

.ud-btn i {
  margin-left: 10px;
  font-size: 16px;
  transform: rotate(0deg);
}


:host ::ng-deep {
  .custom-galleria {
      &.p-galleria {
          &.fullscreen {
              display: flex;
              flex-direction: column;

              .p-galleria-content {
                  flex-grow: 1;
                  justify-content: center;
              }
          }

          .p-galleria-content {
              position: relative;
          }

          .p-galleria-thumbnail-wrapper {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
          }

          .p-galleria-thumbnail-items-container {
              width: 100%;
          }

          .custom-galleria-footer {
              display: flex;
              align-items: center;
              background-color: rgba(0, 0, 0, .9);
              color: #ffffff;

              > button {
                  background-color: transparent;
                  color: #ffffff;
                  border: 0 none;
                  border-radius: 0;
                  margin: .2rem 0;

                  &.fullscreen-button {
                      margin-left: auto;
                  }

                  &:hover {
                      background-color: rgba(255, 255, 255, 0.1);
                  }
              }
          }

          .title-container {
              > span {
                  font-size: .9rem;
                  padding-left: .829rem;

                  &.title {
                      font-weight: bold;
                  }
              }
          }
      }
  }
}
