<div class="body_content">
  <!-- Our Compare Area -->
  <section class="our-compare pt60 pb60">
    <img src="assets/images/icon/login-page-icon.svg" alt="" class="login-bg-icon wow fadeInLeft" data-wow-delay="300ms">
    <div class="container">
      <div class="row wow fadeInRight" data-wow-delay="300ms">
        <div class="col-lg-6">
          <div class="log-reg-form signup-modal form-style1 bgc-white p50 p30-sm default-box-shadow2 bdrs12">
            <div class="text-center mb40">
              <img class="mb25" src="assets/images/header-logo2.svg" alt="">
              <h2>Réinitialisation du mot de passe</h2>
              <p class="text">Veuillez entrer un nouveau mot passe pour continuer l'aventure avec nous.</p>
            </div>
            <div class="alert alert-danger" *ngIf="erreur">{{ message }}</div>
            <form [formGroup]="recupererMotDePasseForm" (ngSubmit)="reinitialiserMotDePasse()">
              <div class="mb15">
                <label class="form-label fw600 dark-color">Nouveau mot de passe</label>
                <input type="password" placeholder="Entrer un nouveau mot de passe" class="form-control" formControlName="motDePasse" required>
                <div class="alert alert-danger" [hidden]="motDePasse.valid || motDePasse.pristine && !motDePasse.touched ">Le saisie de votre nouveau mot de passe est obligatoire</div>
              </div>
              <div class="mb15">
                <label class="form-label fw600 dark-color">Confirmer le mot de passe</label>
                <input type="password" placeholder="Confirmer le mot de passe" class="form-control" formControlName="motDePasseConfirmer" required>
                <div class="alert alert-danger" [hidden]="motDePasseConfirmer.valid || motDePasseConfirmer.pristine && !motDePasseConfirmer.touched ">Le saisie du mot de passe de confirmation est obligatoire</div>
              </div>
              <div class="d-grid mb20">
                <button class="ud-btn btn-thm" [disabled]="!recupererMotDePasseForm.valid" type="submit">Réinitialiser <i class="fal fa-arrow-right-long"></i></button>
              </div>
            </form>
            <p class="dark-color text-center mb0 mt10">Nouveau sur la plateforme? <a class="dark-color fw600" href="/register">Créer un compte.</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <a class="scrollToHome" href="#"><i class="fas fa-angle-up"></i></a>
</div>
