<div class="body_content">
  <!-- Our Compare Area -->
  <section class="our-compare pt60 pb60">
    <a routerLink="/" class="logo"><img src="assets/images/icon/property.jpg" alt="" class="login-bg-icon wow fadeInLeft" data-wow-delay="300ms"></a>
    <div class="container">
      <div class="row wow fadeInRight" data-wow-delay="300ms">
        <div class="col-lg-6">

          <div class="log-reg-form signup-modal form-style1 bgc-white p50 p30-sm default-box-shadow2 bdrs12">

            <div class="text-center mb40">
              <a routerLink="/" class="logo"><img class="mb25 img" src="assets/images/ahoe-min.png" width="145" height="38" alt=""></a>
              <h3 class="heading">Réinitialisation du mot de passe</h3>
              <p class="text">Veuillez entrer un nouveau mot passe pour continuer l'aventure avec nous.</p>
            </div>

            <div class="alert alert-danger" *ngIf="erreur">{{ message }}</div>

            <form [formGroup]="recupererMotDePasseForm" (ngSubmit)="reinitialiserMotDePasse()" style="margin-top: -1%;">
              <div class="mb15">
                <label class="form-label fw600 dark-color">Nouveau mot de passe</label>
                <input type="password" placeholder="Entrer un nouveau mot de passe" class="form-control" formControlName="motDePasse" required>
                <div class="text-danger" *ngIf="motDePasse?.hasError('required') && motDePasse.touched">Le mot de passe est obligatoire</div>
              </div>
              <div class="mb15">
                <label class="form-label fw600 dark-color">Confirmer le mot de passe</label>
                <input type="password" placeholder="Confirmer le mot de passe" class="form-control" formControlName="motDePasseConfirmer" required>
                <div class="text-danger" *ngIf="motDePasseConfirmer?.hasError('required') && motDePasseConfirmer.touched">La confirmation du mot de passe est obligatoire</div>
                <div class="text-danger" *ngIf="recupererMotDePasseForm.errors?.['passwordMismatchError'] && motDePasseConfirmer.touched">
                  Les mots de passes ne sont pas conformes
                </div>
              </div>
              <div class="col-lg-12">
                <div class="mb5">
                  <div class="text-danger" *ngIf="showPasswordErrors()">
                    <div>Règles de saisie du mot de passe :</div>
                    <ul>
                      <li class="puce-visible" *ngIf="showMinLengthError()">Le mot de passe doit comporter au minimum 8 caractères.</li>
                      <li class="puce-visible" *ngIf="showPatternError()">Le mot de passe doit contenir au minimum une lettre minuscule, une lettre majuscule, un chiffre et un caractère spécial.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="d-grid mb20">
                <button class="ud-btn btn-thm" [ngClass]="{ 'disabled-link': !recupererMotDePasseForm.valid }" type="submit">Réinitialiser</button>
              </div>
              <p class="dark-color mb0 mt10 text-center">Nouveau sur la plateforme ? <a class="dark-color fw600" href="/inscription">Créer un compte.</a></p>
            </form>

          </div>

        </div>
      </div>
    </div>
  </section>
</div>
