<div class="row">
    <!-- Agences immobilières -->
    <div class="col-sm-6 col-xxl-3">
        <div class="d-flex justify-content-between statistics_funfact">
            <div class="details">
                <div class="text fz25">Agences <br>immobilières</div>
                <div class="title">{{ nbreAgence }}</div>
            </div>
            <div style="background-color:#0d7915;" class="icon text-center"><i class="fa-light fa-key" style="color: #ffffff;"></i></div>
        </div>
    </div>
    <div class="col-sm-6 col-xxl-3">
        <div class="d-flex justify-content-between statistics_funfact">
            <div class="details">
                <div class="text fz25">Agences <br> actifs</div>
                <div class="title">{{ nbreAgenceActif }}</div>
            </div>
            <div [style]="{ 'background-color': 'var(--green-300)' }" class="icon text-center"><i class="fa-light fa-key" style="color: #ffffff;"></i></div>
        </div>
    </div>
    <div class="col-sm-6 col-xxl-3">
        <div class="d-flex justify-content-between statistics_funfact">
            <div class="details">
                <div class="text fz25">Agences <br> inactifs</div>
                <div class="title">{{ nbreAgenceInactif }}</div>
            </div>
            <div [style]="{ 'background-color': 'var(--orange-300)' }" class="icon text-center"><i class="fa-light fa-key" style="color: #ffffff;"></i></div>
        </div>
    </div>
    <!-- Agences immobilières End -->

    <!-- Services Start -->
    <div class="col-sm-6 col-xxl-3">
        <div class="d-flex justify-content-between statistics_funfact">
            <div class="details">
                <div class="text fz25">Services <br> <br></div>
                <div class="title">{{ nbreService }}</div>
            </div>
            <div style="background-color:#0d7915;" class="icon text-center"><i class="fa-light fa-briefcase" style="color: #ffffff;"></i></div>
        </div>
    </div>
    <div class="col-sm-6 col-xxl-3">
        <div class="d-flex justify-content-between statistics_funfact">
            <div class="details">
                <div class="text fz25">Services <br>actifs</div>
                <div class="title">{{ nbreServiceActif }}</div>
            </div>
            <div [style]="{ 'background-color': 'var(--green-300)' }" class="icon text-center"><i class="fa-light fa-briefcase" style="color: #ffffff;"></i></div>
        </div>
    </div>
    <div class="col-sm-6 col-xxl-3">
        <div class="d-flex justify-content-between statistics_funfact">
            <div class="details">
                <div class="text fz25">Services <br>inactifs</div>
                <div class="title">{{ nbreServiceInactif }}</div>
            </div>
            <div [style]="{ 'background-color': 'var(--orange-300)' }" class="icon text-center"><i class="fa-light fa-briefcase" style="color: #ffffff;"></i></div>
        </div>
    </div>
    <!-- Services End -->
</div>