<div class="dashboard__content bgc-f7">
  <div class="row pb40 d-block d-lg-none">
    <!-- Menu responsive -->
    <app-menu-responsive></app-menu-responsive>
    <!-- End Menu responsive -->
  </div>

  <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'3000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>

  <!-- Liste de la délégation de gestion de biens -->
  <div *ngIf="affichage == 1">
    <div class="row align-items-center pb40">
      <div class="col-xxl-5">
        <div class="dashboard_title_area">
          <h4>Délégation de gestion de biens</h4>
        </div>
      </div>
      <div class="col-xxl-7">
        <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
          <div class="item1 mb15-sm">
            <div class="search_area">
              <input type="text" [(ngModel)]="recherche" class="form-control bdrs12" placeholder="Faire une recherche">
              <label><span class="flaticon-search"></span></label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
          <div class="packages_table table-responsive">
            <table class="table-style3 table at-savesearch">
              <thead class="t-head">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Image</th>
                  <th scope="col" *ngIf="user.role.code == 'ROLE_RESPONSABLE' || user.role.code == 'ROLE_AGENTIMMOBILIER' || user.role.code == 'ROLE_DEMARCHEUR' || user.role.code == 'ROLE_GERANT'">Propriétaire</th>
                  <th scope="col" *ngIf="user.role.code == 'ROLE_PROPRIETAIRE'">Gestionnaire</th>
                  <th scope="col">Statut</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody class="t-body">
                <tr *ngFor="let delegationGestion of delegationGestions.content | genericFilter: recherche;  let i = index">
                  <td class="vam">{{ (numeroDeLaPage * elementsParPage) + i + 1 }}</td>
                  <th scope="row">
                    <p-image class="w-100"
                             src="{{ image != null ? (this.APIEndpoint+'api/premiere-image/bien-immobilier/'+delegationGestion.bienImmobilier.id) : 'assets/images/home/house.jpg' }}"
                             alt=""
                             width="150"
                             imageClass="image">
                    </p-image>
                  </th>
                  <td class="vam" *ngIf="user.role.code == 'ROLE_RESPONSABLE' || user.role.code == 'ROLE_AGENTIMMOBILIER' || user.role.code == 'ROLE_DEMARCHEUR' || user.role.code == 'ROLE_GERANT'">{{ delegationGestion.bienImmobilier.personne.nom }} {{ delegationGestion.bienImmobilier.personne.prenom }}</td>
                  <td class="vam" *ngIf="user.role.code == 'ROLE_PROPRIETAIRE' && delegationGestion.gestionnaire">{{ delegationGestion.gestionnaire.nom }} {{ delegationGestion.gestionnaire.prenom }}</td>
                  <td class="vam" *ngIf="user.role.code == 'ROLE_PROPRIETAIRE' && delegationGestion.agenceImmobiliere">{{ delegationGestion.agenceImmobiliere.nomAgence }}</td>
                  <td class="vam">
                    <p-tag *ngIf="delegationGestion.statutDelegation == 0" severity="warning" value="En attente"></p-tag>
                    <p-tag *ngIf="delegationGestion.statutDelegation == 1" severity="success" value="Acceptée"></p-tag>
                    <p-tag *ngIf="delegationGestion.statutDelegation == 2" severity="danger" value="Refusée"></p-tag>
                  </td>
                  <td class="vam">
                    <div class="d-flex">

                      <button (click)="afficherPageDetail(delegationGestion.id, delegationGestion.bienImmobilier.id)"
                        pTooltip="Détails" tooltipPosition="top" pButton type="button" icon="pi pi-eye"
                        class="p-button-text p-button-info">
                      </button>

                      <button *ngIf="delegationGestion.statutDelegation == 0 &&
                        (user.role.code == 'ROLE_RESPONSABLE' || user.role.code == 'ROLE_GERANT'  || user.role.code == 'ROLE_DEMARCHEUR')"
                        pButton type="button" icon="pi pi-check-circle" (click)="accepterDelegationGestion(delegationGestion.id)"
                        pTooltip="Accepter" tooltipPosition="top" class="p-button-text p-button-success">
                      </button>

                      <button *ngIf="delegationGestion.statutDelegation == 0 &&
                        (user.role.code == 'ROLE_RESPONSABLE' || user.role.code == 'ROLE_GERANT'  || user.role.code == 'ROLE_DEMARCHEUR')"
                        pButton type="button" icon="pi pi-times-circle" (click)="refuserDelegationGestion(delegationGestion.id)"
                        pTooltip="Refuser" tooltipPosition="top" class="p-button-text p-button-danger">
                      </button>

                      <button *ngIf="user.role.code == 'ROLE_PROPRIETAIRE'" pButton type="button" icon="pi pi-trash"
                        (click)="supprimerDelegationGestion(delegationGestion.id)"
                        pTooltip="Supprimer" tooltipPosition="right"
                        class="p-button-text p-button-danger">
                      </button>

                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="delegationGestions.totalElements !== 0" class="mbp_pagination text-center mt30">
            <p-paginator
              (onPageChange)="pagination($event)" [rows]="delegationGestions.size"
              [totalRecords]="delegationGestions.totalElements" [rowsPerPageOptions]="[5, 10, 15]"
              [showCurrentPageReport]="true" currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} de la délégation de gestion des biens"
              [showPageLinks]="true" [showFirstLastIcon]="true">
            </p-paginator>
          </div>
          <div *ngIf="delegationGestions.totalElements == 0" class="mbp_pagination text-center mt30">
            <p class="mt10 pagination_page_count text-center">Aucun bien immobilier délégué pour le moment</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Liste de la délégation de gestion de biens -->

  <!-- Details d'une délégation de gestion - Type De Bien(Terrains) - Vue Responsable, Agent immobilier, Démarcheur, Gérant -->
  <div *ngIf="affichage == 2 && delegationGestion.bienImmobilier.typeDeBien.designation == 'Terrains' && (user.role.code == 'ROLE_RESPONSABLE' || user.role.code == 'ROLE_AGENTIMMOBILIER' || user.role.code == 'ROLE_DEMARCHEUR' || user.role.code == 'ROLE_GERANT')">
    <div  class="row align-items-center pb40">
      <div class="col-xxl-6">
        <div class="dashboard_title_area">
          <h4>Détails d'une délégation de gestion de bien</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">

          <div class="text-center" *ngIf="images.length == 0">
            <p-image class="w-100" src="assets/images/home/house.jpg" alt="" imageClass="imageDetail"></p-image>
          </div>

          <div *ngIf="images.length !== 0">
            <p-galleria [value]="images" [showThumbnails]="true" [circular]="true" [showItemNavigatorsOnHover]="true" [showItemNavigators]="true" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '800px', 'margin': '0 auto' }" [numVisible]="5">

              <ng-template pTemplate="item" let-item>
                  <img src="{{this.APIEndpoint+'api/image/bien-immobilier/'+item.id}}"  style="width: 100%;" />
              </ng-template>

              <ng-template pTemplate="thumbnail" let-item>
                <div class="grid grid-nogutter justify-content-center">
                  <img src="{{this.APIEndpoint+'api/image/bien-immobilier/'+item.id}}" style="width: 100%;" />
                </div>
              </ng-template>

            </p-galleria>
          </div>

          <p-divider></p-divider>
          <p class="fw600 mb10 ff-heading dark-color">Description du bien immobilier</p>
          <p>
              {{ delegationGestion.bienImmobilier.description }}
          </p>

          <div class="row">
            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Propriétaire</p>
              <p>{{ delegationGestion.bienImmobilier.personne.nom }} {{ delegationGestion.bienImmobilier.personne.prenom }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Numero de téléphone du propriétaire</p>
              <p>{{ delegationGestion.bienImmobilier.personne.telephone }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Adresse e-mail du propriétaire</p>
              <p>{{ delegationGestion.bienImmobilier.personne.email }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Numéro identifiant du bien</p>
              <p>{{ delegationGestion.bienImmobilier.numeroIdentifiant }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Type de bien</p>
              <p>{{ delegationGestion.bienImmobilier.typeDeBien.designation }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Adresse</p>
              <p>{{ delegationGestion.bienImmobilier.adresse }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Pays</p>
              <p>{{ delegationGestion.bienImmobilier.pays.libelle }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Région</p>
              <p>{{ delegationGestion.bienImmobilier.region.libelle }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Ville</p>
              <p>{{ delegationGestion.bienImmobilier.ville.libelle }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Quartier</p>
              <p>{{ delegationGestion.bienImmobilier.quartier.libelle }}</p>
            </div>


            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Surface en m2 du bien</p>
              <p>{{ delegationGestion.bienImmobilier.surface }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Statut du bien</p>
              <p>
                <p-tag *ngIf="delegationGestion.bienImmobilier.statutBien == 'Disponible'" severity="success" value="Disponible"></p-tag>
              </p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Etat du bien</p>
              <p>
                <p-tag *ngIf="delegationGestion.bienImmobilier.etatBien == true" severity="success" value="Activé"></p-tag>
                <p-tag *ngIf="delegationGestion.bienImmobilier.etatBien == false" severity="danger" value="Désactivé"></p-tag>
              </p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Date de la délégation</p>
              <p>
                {{ delegationGestion.dateDelegation | date: "dd-MM-yyyy" }}
              </p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Statut de la délégation</p>
              <p>
                <p-tag *ngIf="delegationGestion.statutDelegation == 0" severity="warning" value="En attente"></p-tag>
                <p-tag *ngIf="delegationGestion.statutDelegation == 1" severity="success" value="Acceptée"></p-tag>
                <p-tag *ngIf="delegationGestion.statutDelegation == 2" severity="danger" value="Refusée"></p-tag>
              </p>
            </div>
            <p-divider></p-divider>
          </div>

          <div class="text-end">
            <a class="ud-btn btn-thm" (click)="voirListe()"  type="button">Retour</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Details d'une délégation de gestion - Type De Bien(Terrains) - Vue Responsable, Agent immobilier, Démarcheur, Gérant -->

  <!-- Details d'une délégation de gestion - Type De Bien(Terrains) - Vue Propriétaire -->
  <div *ngIf="affichage == 2 && delegationGestion.bienImmobilier.typeDeBien.designation == 'Terrains' && user.role.code == 'ROLE_PROPRIETAIRE'">
    <div  class="row align-items-center pb40">
      <div class="col-xxl-6">
        <div class="dashboard_title_area">
          <h4>Détails d'une délégation de gestion de bien</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">

          <div class="text-center" *ngIf="images.length == 0">
            <p-image class="w-100" src="assets/images/home/house.jpg" alt="" imageClass="imageDetail"></p-image>
          </div>

          <div *ngIf="images.length !== 0">
            <p-galleria [value]="images" [showThumbnails]="true" [circular]="true" [showItemNavigatorsOnHover]="true" [showItemNavigators]="true" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '800px', 'margin': '0 auto' }" [numVisible]="5">

              <ng-template pTemplate="item" let-item>
                  <img src="{{this.APIEndpoint+'api/image/bien-immobilier/'+item.id}}"  style="width: 100%;" />
              </ng-template>

              <ng-template pTemplate="thumbnail" let-item>
                <div class="grid grid-nogutter justify-content-center">
                  <img src="{{this.APIEndpoint+'api/image/bien-immobilier/'+item.id}}" style="width: 100%;" />
                </div>
              </ng-template>

            </p-galleria>
          </div>

          <p-divider></p-divider>
          <p class="fw600 mb10 ff-heading dark-color">Description du bien immobilier</p>
          <p>
              {{ delegationGestion.bienImmobilier.description }}
          </p>

          <div class="row">
            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Gestionnaire</p>
              <p *ngIf="delegationGestion.gestionnaire">{{ delegationGestion.gestionnaire.nom }} {{ delegationGestion.gestionnaire.prenom }}</p>
              <p *ngIf="delegationGestion.agenceImmobiliere">{{ delegationGestion.agenceImmobiliere.nomAgence }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Numero de téléphone du gestionnaire</p>
              <p *ngIf="delegationGestion.gestionnaire">{{ delegationGestion.gestionnaire.telephone }}</p>
              <p *ngIf="delegationGestion.agenceImmobiliere">{{ delegationGestion.agenceImmobiliere.telephone }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Adresse e-mail du gestionnaire</p>
              <p *ngIf="delegationGestion.gestionnaire">{{ delegationGestion.gestionnaire.email }}</p>
              <p *ngIf="delegationGestion.agenceImmobiliere">{{ delegationGestion.agenceImmobiliere.adresseEmail }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Numéro identifiant du bien</p>
              <p>{{ delegationGestion.bienImmobilier.numeroIdentifiant }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Type de bien</p>
              <p>{{ delegationGestion.bienImmobilier.typeDeBien.designation }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Adresse</p>
              <p>{{ delegationGestion.bienImmobilier.adresse }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Pays</p>
              <p>{{ delegationGestion.bienImmobilier.pays.libelle }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Région</p>
              <p>{{ delegationGestion.bienImmobilier.region.libelle }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Ville</p>
              <p>{{ delegationGestion.bienImmobilier.ville.libelle }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Quartier</p>
              <p>{{ delegationGestion.bienImmobilier.quartier.libelle }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Surface en m2 du bien</p>
              <p>{{ delegationGestion.bienImmobilier.surface }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Statut du bien</p>
              <p>
                <p-tag *ngIf="delegationGestion.bienImmobilier.statutBien == 'Disponible'" severity="success" value="Disponible"></p-tag>
              </p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Etat du bien</p>
              <p>
                <p-tag *ngIf="delegationGestion.bienImmobilier.etatBien == true" severity="success" value="Activé"></p-tag>
                <p-tag *ngIf="delegationGestion.bienImmobilier.etatBien == false" severity="danger" value="Désactivé"></p-tag>
              </p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Date de la délégation</p>
              <p>
                {{ delegationGestion.dateDelegation | date: "dd-MM-yyyy" }}
              </p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Statut de la délégation</p>
              <p>
                <p-tag *ngIf="delegationGestion.statutDelegation == 0" severity="warning" value="En attente"></p-tag>
                <p-tag *ngIf="delegationGestion.statutDelegation == 1" severity="success" value="Acceptée"></p-tag>
                <p-tag *ngIf="delegationGestion.statutDelegation == 2" severity="danger" value="Refusée"></p-tag>
              </p>
            </div>

          </div>

          <div class="text-end">
            <a class="ud-btn btn-thm" (click)="voirListe()"  type="button">Retour</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Details d'une délégation de gestion - Type De Bien(Terrains) - Vue Propriétaire -->

  <!-- Details d'une délégation de gestion - Type De Bien(Autre types) - Vue Responsable, Agent immobilier, Démarcheur, Gérant -->
  <div *ngIf="affichage == 2 && delegationGestion.bienImmobilier.typeDeBien.designation !== 'Terrains' &&  (user.role.code == 'ROLE_RESPONSABLE' || user.role.code == 'ROLE_AGENTIMMOBILIER' || user.role.code == 'ROLE_DEMARCHEUR' || user.role.code == 'ROLE_GERANT')">
    <div  class="row align-items-center pb40">
      <div class="col-xxl-6">
        <div class="dashboard_title_area">
          <h4>Détails d'une délégation de gestion de bien</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">

          <div class="text-center" *ngIf="images.length == 0">
            <p-image class="w-100" src="assets/images/home/house.jpg" alt="" imageClass="imageDetail"></p-image>
          </div>

          <div *ngIf="images.length !== 0">
            <p-galleria [value]="images" [showThumbnails]="true" [circular]="true" [showItemNavigatorsOnHover]="true" [showItemNavigators]="true" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '800px', 'margin': '0 auto' }" [numVisible]="5">

              <ng-template pTemplate="item" let-item>
                  <img src="{{this.APIEndpoint+'api/image/bien-immobilier/'+item.id}}"  style="width: 100%;" />
              </ng-template>

              <ng-template pTemplate="thumbnail" let-item>
                <div class="grid grid-nogutter justify-content-center">
                  <img src="{{this.APIEndpoint+'api/image/bien-immobilier/'+item.id}}" style="width: 100%;" />
                </div>
              </ng-template>

            </p-galleria>
          </div>

          <p-divider></p-divider>
          <p class="fw600 mb10 ff-heading dark-color">Description du bien immobilier</p>
          <p>
              {{ delegationGestion.bienImmobilier.description }}
          </p>

          <div class="row">
            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Propriétaire</p>
              <p>{{ delegationGestion.bienImmobilier.personne.nom }} {{ delegationGestion.bienImmobilier.personne.prenom }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Numero de téléphone du propriétaire</p>
              <p>{{ delegationGestion.bienImmobilier.personne.telephone }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Adresse e-mail du propriétaire</p>
              <p>{{ delegationGestion.bienImmobilier.personne.email }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Numéro identifiant du bien</p>
              <p>{{ delegationGestion.bienImmobilier.numeroIdentifiant }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Type de bien</p>
              <p>{{ delegationGestion.bienImmobilier.typeDeBien.designation }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Adresse</p>
              <p>{{ delegationGestion.bienImmobilier.adresse }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Pays</p>
              <p>{{ delegationGestion.bienImmobilier.pays.libelle }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Région</p>
              <p>{{ delegationGestion.bienImmobilier.region.libelle }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Ville</p>
              <p>{{ delegationGestion.bienImmobilier.ville.libelle }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Quartier</p>
              <p>{{ delegationGestion.bienImmobilier.quartier.libelle }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Surface en m2 du bien</p>
              <p>{{ delegationGestion.bienImmobilier.surface }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Statut du bien</p>
              <p>
                <p-tag *ngIf="delegationGestion.bienImmobilier.statutBien == 'Disponible'" severity="success" value="Disponible"></p-tag>
              </p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Etat du bien</p>
              <p>
                <p-tag *ngIf="delegationGestion.bienImmobilier.etatBien == true" severity="success" value="Activé"></p-tag>
                <p-tag *ngIf="delegationGestion.bienImmobilier.etatBien == false" severity="danger" value="Désactivé"></p-tag>
              </p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Date de la délégation</p>
              <p>
                {{ delegationGestion.dateDelegation | date: "dd-MM-yyyy" }}
              </p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Statut de la délégation</p>
              <p>
                <p-tag *ngIf="delegationGestion.statutDelegation == 0" severity="warning" value="En attente"></p-tag>
                <p-tag *ngIf="delegationGestion.statutDelegation == 1" severity="success" value="Acceptée"></p-tag>
                <p-tag *ngIf="delegationGestion.statutDelegation == 2" severity="danger" value="Refusée"></p-tag>
              </p>
            </div>
          </div>

          <p-divider *ngIf="afficherSectionAutresDetails(utilitaire, confort)"></p-divider>
          <p class="fw600 mb10 ff-heading dark-color" *ngIf="afficherSectionAutresDetails(utilitaire, confort)">Autres détails :</p>
          <div class="row">
            <div class="col-md-6 col-xl-4">
              <div class="d-flex justify-content-between">
                <div class="pd-list">
                  <p *ngIf="utilitaire.nombreGarages" class="fw600 mb10 ff-heading dark-color">Nombre de garages</p>
                  <p *ngIf="utilitaire.nombreChambres" class="fw600 mb10 ff-heading dark-color">Nombre de chambres</p>
                  <p *ngIf="utilitaire.nombrePieces" class="fw600 mb10 ff-heading dark-color">Nombre de pièces</p>
                  <p *ngIf="confort.nombreLits" class="fw600 mb10 ff-heading dark-color">Nombre de lits</p>
                </div>
                <div class="pd-list">
                  <p *ngIf="utilitaire.nombreGarages" class="text mb10">{{ utilitaire.nombreGarages }}</p>
                  <p *ngIf="utilitaire.nombreChambres" class="text mb10">{{ utilitaire.nombreChambres }}</p>
                  <p *ngIf="utilitaire.nombrePieces" class="text mb10">{{ utilitaire.nombrePieces }}</p>
                  <p *ngIf="confort.nombreLits" class="text mb10">{{ confort.nombreLits }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-4 offset-xl-2">
              <div class="d-flex justify-content-between">
                <div class="pd-list">
                  <p *ngIf="utilitaire.nombreSallesDeBains" class="fw600 mb10 ff-heading dark-color">Nombre de salles de bains</p>
                  <p *ngIf="utilitaire.nombreAppartements" class="fw600 mb10 ff-heading dark-color">Nombre d'appartements</p>
                  <p *ngIf="confort.nombreFauteuils" class="fw600 mb10 ff-heading dark-color">Nombre de fauteuils</p>
                </div>
                <div class="pd-list">
                  <p *ngIf="utilitaire.nombreSallesDeBains" class="text mb10">{{ utilitaire.nombreSallesDeBains }}</p>
                  <p *ngIf="utilitaire.nombreAppartements" class="text mb10">{{ utilitaire.nombreAppartements }}</p>
                  <p *ngIf="confort.nombreFauteuils" class="text mb10">{{ confort.nombreFauteuils }}</p>
                </div>
              </div>
            </div>
          </div>

          <p-divider *ngIf="afficherSectionCaracteristiques(utilitaire, confort, divertissement)"></p-divider>
          <p class="fw600 mb10 ff-heading dark-color" *ngIf="afficherSectionCaracteristiques(utilitaire, confort, divertissement)">Caractéristiques :</p>
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="pd-list mb10-sm">
                <p *ngIf="utilitaire.wifi" class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>WiFi</p>
                <p *ngIf="utilitaire.laveLinge" class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Lave linge</p>
                <p *ngIf="utilitaire.cuisine" class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Cuisine</p>
                <p *ngIf="utilitaire.refrigirateur" class="text mb-0"><i class="fas fa-circle fz6 align-middle pe-2"></i>Refrigirateur</p>
                <p *ngIf="utilitaire.toilette" class="text mb-0"><i class="fas fa-circle fz6 align-middle pe-2"></i>Toilettes</p>
                <p *ngIf="confort.secheCheveux" class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Sèche cheveux</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="pd-list">
                <p *ngIf="utilitaire.ferARepasser" class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Fer à repasser</p>
                <p *ngIf="utilitaire.espaceDeTravail" class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Espace de travail</p>
                <p *ngIf="utilitaire.eau" class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Eau</p>
                <p *ngIf="utilitaire.electricite" class="text mb-0"><i class="fas fa-circle fz6 align-middle pe-2"></i>Électricité</p>
                <p *ngIf="utilitaire.parking" class="text mb-0"><i class="fas fa-circle fz6 align-middle pe-2"></i>Parking</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="pd-list">
                <p *ngIf="confort.climatisation" class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Climatisateur</p>
                <p *ngIf="confort.chauffage" class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Chauffage</p>
                <p *ngIf="divertissement.piscine" class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Piscine</p>
                <p *ngIf="divertissement.jardin" class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Jardin</p>
                <p *ngIf="divertissement.salleDeSport" class="text mb-0"><i class="fas fa-circle fz6 align-middle pe-2"></i>Salle de sport<p>
              </div>
            </div>
          </div>

          <div class="text-end">
            <a class="ud-btn btn-thm" (click)="voirListe()"  type="button">Retour</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Details d'une délégation de gestion - Type De Bien(Autres types) - Vue Responsable, Agent immobilier, Démarcheur, Gérant -->

  <!-- Details d'une délégation de gestion - Type De Bien(Autres types) - Vue Propriétaire -->
  <div *ngIf="affichage == 2 && delegationGestion.bienImmobilier.typeDeBien.designation !== 'Terrains' && user.role.code == 'ROLE_PROPRIETAIRE'">
    <div  class="row align-items-center pb40">
      <div class="col-xxl-6">
        <div class="dashboard_title_area">
          <h4>Détails d'une délégation de gestion de bien</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">

          <div class="text-center" *ngIf="images.length == 0">
            <p-image class="w-100" src="assets/images/home/house.jpg" alt="" imageClass="imageDetail"></p-image>
          </div>

          <div *ngIf="images.length !== 0">
            <p-galleria [value]="images" [showThumbnails]="true" [circular]="true" [showItemNavigatorsOnHover]="true" [showItemNavigators]="true" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '800px', 'margin': '0 auto' }" [numVisible]="5">

              <ng-template pTemplate="item" let-item>
                  <img src="{{this.APIEndpoint+'api/image/bien-immobilier/'+item.id}}"  style="width: 100%;" />
              </ng-template>

              <ng-template pTemplate="thumbnail" let-item>
                <div class="grid grid-nogutter justify-content-center">
                  <img src="{{this.APIEndpoint+'api/image/bien-immobilier/'+item.id}}" style="width: 100%;" />
                </div>
              </ng-template>

            </p-galleria>
          </div>

          <p-divider></p-divider>
          <p class="fw600 mb10 ff-heading dark-color">Description du bien immobilier</p>
          <p>
              {{ delegationGestion.bienImmobilier.description }}
          </p>

          <div class="row">
            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Gestionnaire</p>
              <p *ngIf="delegationGestion.gestionnaire">{{ delegationGestion.gestionnaire.nom }} {{ delegationGestion.gestionnaire.prenom }}</p>
              <p *ngIf="delegationGestion.agenceImmobiliere">{{ delegationGestion.agenceImmobiliere.nomAgence }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Numero de téléphone du gestionnaire</p>
              <p *ngIf="delegationGestion.gestionnaire">{{ delegationGestion.gestionnaire.telephone }}</p>
              <p *ngIf="delegationGestion.agenceImmobiliere">{{ delegationGestion.agenceImmobiliere.telephone }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Adresse e-mail du gestionnaire</p>
              <p *ngIf="delegationGestion.gestionnaire">{{ delegationGestion.gestionnaire.email }}</p>
              <p *ngIf="delegationGestion.agenceImmobiliere">{{ delegationGestion.agenceImmobiliere.adresseEmail }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Numéro identifiant du bien</p>
              <p>{{ delegationGestion.bienImmobilier.numeroIdentifiant }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Type de bien</p>
              <p>{{ delegationGestion.bienImmobilier.typeDeBien.designation }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Adresse</p>
              <p>{{ delegationGestion.bienImmobilier.adresse }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Pays</p>
              <p>{{ delegationGestion.bienImmobilier.pays.libelle }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Région</p>
              <p>{{ delegationGestion.bienImmobilier.region.libelle }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Ville</p>
              <p>{{ delegationGestion.bienImmobilier.ville.libelle }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Quartier</p>
              <p>{{ delegationGestion.bienImmobilier.quartier.libelle }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Surface en m2 du bien</p>
              <p>{{ delegationGestion.bienImmobilier.surface }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Statut du bien</p>
              <p>
                <p-tag *ngIf="delegationGestion.bienImmobilier.statutBien == 'Disponible'" severity="success" value="Disponible"></p-tag>
              </p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Etat du bien</p>
              <p>
                <p-tag *ngIf="delegationGestion.bienImmobilier.etatBien == true" severity="success" value="Activé"></p-tag>
                <p-tag *ngIf="delegationGestion.bienImmobilier.etatBien == false" severity="danger" value="Désactivé"></p-tag>
              </p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Date de la délégation</p>
              <p>
                {{ delegationGestion.dateDelegation | date: "dd-MM-yyyy" }}
              </p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Statut de la délégation</p>
              <p>
                <p-tag *ngIf="delegationGestion.statutDelegation == 0" severity="warning" value="En attente"></p-tag>
                <p-tag *ngIf="delegationGestion.statutDelegation == 1" severity="success" value="Acceptée"></p-tag>
                <p-tag *ngIf="delegationGestion.statutDelegation == 2" severity="danger" value="Refusée"></p-tag>
              </p>
            </div>
          </div>

          <p-divider *ngIf="afficherSectionAutresDetails(utilitaire, confort)"></p-divider>
          <p class="fw600 mb10 ff-heading dark-color"*ngIf="afficherSectionAutresDetails(utilitaire, confort)">Autres détails :</p>
          <div class="row">
            <div class="col-md-6 col-xl-4">
              <div class="d-flex justify-content-between">
                <div class="pd-list">
                  <p *ngIf="utilitaire.nombreGarages" class="fw600 mb10 ff-heading dark-color">Nombre de garages</p>
                  <p *ngIf="utilitaire.nombreChambres" class="fw600 mb10 ff-heading dark-color">Nombre de chambres</p>
                  <p *ngIf="utilitaire.nombrePieces" class="fw600 mb10 ff-heading dark-color">Nombre de pièces</p>
                  <p *ngIf="confort.nombreLits" class="fw600 mb10 ff-heading dark-color">Nombre de lits</p>
                </div>
                <div class="pd-list">
                  <p *ngIf="utilitaire.nombreGarages" class="text mb10">{{ utilitaire.nombreGarages }}</p>
                  <p *ngIf="utilitaire.nombreChambres" class="text mb10">{{ utilitaire.nombreChambres }}</p>
                  <p *ngIf="utilitaire.nombrePieces" class="text mb10">{{ utilitaire.nombrePieces }}</p>
                  <p *ngIf="confort.nombreLits" class="text mb10">{{ confort.nombreLits }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-4 offset-xl-2">
              <div class="d-flex justify-content-between">
                <div class="pd-list">
                  <p *ngIf="utilitaire.nombreSallesDeBains" class="fw600 mb10 ff-heading dark-color">Nombre de salles de bains</p>
                  <p *ngIf="utilitaire.nombreAppartements" class="fw600 mb10 ff-heading dark-color">Nombre d'appartements</p>
                  <p *ngIf="confort.nombreFauteuils" class="fw600 mb10 ff-heading dark-color">Nombre de fauteuils</p>
                </div>
                <div class="pd-list">
                  <p *ngIf="utilitaire.nombreSallesDeBains" class="text mb10">{{ utilitaire.nombreSallesDeBains }}</p>
                  <p *ngIf="utilitaire.nombreAppartements" class="text mb10">{{ utilitaire.nombreAppartements }}</p>
                  <p *ngIf="confort.nombreFauteuils" class="text mb10">{{ confort.nombreFauteuils }}</p>
                </div>
              </div>
            </div>
          </div>

          <p-divider *ngIf="afficherSectionCaracteristiques(utilitaire, confort, divertissement)"></p-divider>
          <p class="fw600 mb10 ff-heading dark-color" *ngIf="afficherSectionCaracteristiques(utilitaire, confort, divertissement)">Caractéristiques :</p>
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="pd-list mb10-sm">
                <p *ngIf="utilitaire.wifi" class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>WiFi</p>
                <p *ngIf="utilitaire.laveLinge" class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Lave linge</p>
                <p *ngIf="utilitaire.cuisine" class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Cuisine</p>
                <p *ngIf="utilitaire.refrigirateur" class="text mb-0"><i class="fas fa-circle fz6 align-middle pe-2"></i>Refrigirateur</p>
                <p *ngIf="utilitaire.toilette" class="text mb-0"><i class="fas fa-circle fz6 align-middle pe-2"></i>Toilettes</p>
                <p *ngIf="confort.secheCheveux" class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Sèche cheveux</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="pd-list">
                <p *ngIf="utilitaire.ferARepasser" class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Fer à repasser</p>
                <p *ngIf="utilitaire.espaceDeTravail" class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Espace de travail</p>
                <p *ngIf="utilitaire.eau" class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Eau</p>
                <p *ngIf="utilitaire.electricite" class="text mb-0"><i class="fas fa-circle fz6 align-middle pe-2"></i>Électricité</p>
                <p *ngIf="utilitaire.parking" class="text mb-0"><i class="fas fa-circle fz6 align-middle pe-2"></i>Parking</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="pd-list">
                <p *ngIf="confort.climatisation" class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Climatisateur</p>
                <p *ngIf="confort.chauffage" class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Chauffage</p>
                <p *ngIf="divertissement.piscine" class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Piscine</p>
                <p *ngIf="divertissement.jardin" class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Jardin</p>
                <p *ngIf="divertissement.salleDeSport" class="text mb-0"><i class="fas fa-circle fz6 align-middle pe-2"></i>Salle de sport<p>
              </div>
            </div>
          </div>

          <div class="text-end">
            <a class="ud-btn btn-thm" (click)="voirListe()"  type="button">Retour</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Details d'une délégation de gestion - Type De Bien(Autres types) - Vue Propriétaire -->
</div>
