<div class="dashboard__content bgc-f7">
    <div class="row pb40 d-block d-lg-none">
        <!-- Menu responsive -->
        <app-menu-responsive></app-menu-responsive>
        <!-- End Menu responsive -->
    </div>

    <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'3000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>

    <!-- Liste de la délégation de gestion de biens -->
    <div>
        <div class="row align-items-center pb40">
            <div class="col-xxl-5">
                <div class="dashboard_title_area">
                    <h4>Délégation de gestion de biens</h4>
                </div>
            </div>
            <div class="col-xxl-7">
                <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
                    <div class="item1 mb15-sm">
                        <div class="search_area">
                            <div class="input-group">
                                <span class="input-group-text">
                      <i class="pi pi-search" style="font-weight: bold"></i>
                    </span>
                                <input type="text" pInputText [(ngModel)]="recherche" class="inputText" placeholder="Que cherchez-vous ?">
                            </div>
                        </div>
                    </div>
                    &nbsp;
                    <a type="button" *ngIf="(user.role.code == 'ROLE_RESPONSABLE' || user.role.code == 'ROLE_AGENTIMMOBILIER' || user.role.code == 'ROLE_DEMARCHEUR' || user.role.code == 'ROLE_GERANT') && user.etatCompte == true" (click)="afficherFormulaireEnregistrerDelegation()"
                        class="ud-btn btn-thm">
            Enregistrer une délégation
          </a>
                </div>
            </div>
        </div>
        <div class="row">
            <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
            <div class="col-xl-12">
                <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
                    <div class="packages_table table-responsive">
                        <table class="table-style3 table at-savesearch">
                            <thead class="t-head">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Image</th>
                                    <th scope="col" *ngIf="user.role.code == 'ROLE_RESPONSABLE' || user.role.code == 'ROLE_AGENTIMMOBILIER' || user.role.code == 'ROLE_DEMARCHEUR' || user.role.code == 'ROLE_GERANT'">
                                        Propriétaire</th>
                                    <th scope="col" *ngIf="user.role.code == 'ROLE_PROPRIETAIRE'">Gestionnaire</th>
                                    <th scope="col">Type de bien</th>
                                    <th scope="col">Statut</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="t-body">
                                <tr *ngFor="let delegationGestion of delegationGestions.content | genericFilter: recherche;  let i = index">
                                    <td class="vam">{{ (numeroDeLaPage * elementsParPage) + i + 1 }}</td>
                                    <th scope="row">
                                        <p-image class="w-100" src="{{(this.APIEndpoint+'api/premiere-image/bien-immobilier/'+delegationGestion.bienImmobilier.id)}}" alt="" width="100" imageClass="image">
                                        </p-image>
                                    </th>
                                    <td class="vam" *ngIf="user.role.code == 'ROLE_RESPONSABLE' || user.role.code == 'ROLE_AGENTIMMOBILIER' || user.role.code == 'ROLE_DEMARCHEUR' || user.role.code == 'ROLE_GERANT'">
                                        {{ delegationGestion.bienImmobilier.personne.nom }} {{ delegationGestion.bienImmobilier.personne.prenom }}</td>
                                    <td class="vam" *ngIf="user.role.code == 'ROLE_PROPRIETAIRE' && delegationGestion.gestionnaire">{{ delegationGestion.gestionnaire.nom }} {{ delegationGestion.gestionnaire.prenom }}</td>
                                    <td class="vam" *ngIf="user.role.code == 'ROLE_PROPRIETAIRE' && delegationGestion.agenceImmobiliere">
                                        {{ delegationGestion.agenceImmobiliere.nomAgence }}</td>
                                    <td class="vam">{{ delegationGestion.bienImmobilier.typeDeBien.designation }}</td>
                                    <td class="vam">
                                        <p-tag *ngIf="delegationGestion.statutDelegation == 0" severity="warning" value="En attente"></p-tag>
                                        <p-tag *ngIf="delegationGestion.statutDelegation == 1" severity="success" value="Acceptée"></p-tag>
                                        <p-tag *ngIf="delegationGestion.statutDelegation == 2" severity="danger" value="Refusée"></p-tag>
                                    </td>
                                    <td class="vam">
                                        <div class="d-flex">

                                            <button (click)="voirDetailDelegationGestion(delegationGestion.id, delegationGestion.bienImmobilier.id)" pTooltip="Détails" tooltipPosition="top" pButton type="button" icon="pi pi-eye" class="p-button-text p-button-info">
                      </button>

                                            <!--
                                            <button *ngIf=" delegationGestion.etatDelegation == true  && delegationGestion.statutDelegation == 1 &&
                      (user.role.code == 'ROLE_RESPONSABLE' || user.role.code == 'ROLE_AGENTIMMOBILIER' || user.role.code == 'ROLE_DEMARCHEUR' || user.role.code == 'ROLE_GERANT')" (click)="afficherFormulairePublicationBien(delegationGestion, delegationGestion.bienImmobilier)"
                                                pTooltip="Publier ce bien" tooltipPosition="top" pButton type="button" icon="pi pi-share-alt" class="p-button-text p-button-info">
                      </button>
                      -->

                                            <button *ngIf="delegationGestion.etatDelegation == true  && delegationGestion.statutDelegation == 1 &&
                      (user.role.code == 'ROLE_RESPONSABLE' || user.role.code == 'ROLE_AGENTIMMOBILIER' || user.role.code == 'ROLE_DEMARCHEUR' || user.role.code == 'ROLE_GERANT')" pButton type="button" icon="pi pi-pencil pi-lg" (click)="afficherFormulaireModificationBien(delegationGestion.bienImmobilier.id, delegationGestion.bienImmobilier.typeDeBien.designation)"
                                                pTooltip="Modifier le bien délégué" tooltipPosition="top" class="p-button-text p-button-warning">
                      </button>

                                            <button *ngIf="delegationGestion.statutDelegation == 0 && delegationGestion.porteeGestion == true &&
                        (user.role.code == 'ROLE_RESPONSABLE' || user.role.code == 'ROLE_GERANT'  || user.role.code == 'ROLE_DEMARCHEUR')" pButton type="button" icon="pi pi-check-circle" (click)="accepterDelegationGestion(delegationGestion.id)" pTooltip="Accepter"
                                                tooltipPosition="top" class="p-button-text p-button-success">
                      </button>

                                            <button *ngIf="delegationGestion.statutDelegation == 0 && delegationGestion.porteeGestion == true &&
                        (user.role.code == 'ROLE_RESPONSABLE' || user.role.code == 'ROLE_GERANT'  || user.role.code == 'ROLE_DEMARCHEUR')" pButton type="button" icon="pi pi-times-circle" (click)="refuserDelegationGestion(delegationGestion.id)" pTooltip="Refuser"
                                                tooltipPosition="top" class="p-button-text p-button-danger">
                      </button>

                                            <button *ngIf="user.role.code == 'ROLE_PROPRIETAIRE' && delegationGestion.etatDelegation == true  && delegationGestion.statutDelegation == 1" pButton type="button" icon="pi pi-lock pi-lg" (click)="desactiverDelegationGestion(delegationGestion.id)" pTooltip="Désactiver"
                                                tooltipPosition="right" class="p-button-text p-button-danger">
                      </button>

                                            <button *ngIf="user.role.code == 'ROLE_PROPRIETAIRE' && delegationGestion.etatDelegation == false && delegationGestion.statutDelegation == 1" pButton type="button" icon="pi pi-lock-open" (click)="activerDelegationGestion(delegationGestion.id)" pTooltip="Activer"
                                                tooltipPosition="right" class="p-button-text p-button-success">
                      </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="delegationGestions.totalElements !== 0" class="mbp_pagination text-center mt30">
                        <p-paginator (onPageChange)="paginationListeDelegationsGestions($event)" [rows]="delegationGestions.size" [totalRecords]="delegationGestions.totalElements" [rowsPerPageOptions]="[5, 10, 15]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} de la délégation de gestion des biens"
                            [showPageLinks]="true" [showFirstLastIcon]="true">
                        </p-paginator>
                    </div>
                    <div *ngIf="delegationGestions.totalElements == 0" class="mbp_pagination text-center mt30">
                        <p class="mt10 pagination_page_count text-center">Aucun bien immobilier délégué pour le moment</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Liste de la délégation de gestion de biens -->
</div>