<div class="dashboard__content bgc-f7">
  <div class="row pb40 d-block d-lg-none">
    <!-- Menu responsive -->
    <app-menu-responsive></app-menu-responsive>
    <!-- End Menu responsive -->
  </div>

  <!-- Formulaire d'ajout d'un gérant -->
  <div *ngIf="visibleAddForm == 1">
    <div class="row align-items-center pb40">
      <div class="col-xxl-3">
        <div class="dashboard_title_area">
          <h4>Ajout d'un gérant</h4>
          <p class="text"></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">
          <form [formGroup]="gerantForm" (ngSubmit)="ajouterGerant()" class="form-style1">
            <div class="row">
              <div class="col-sm-6 col-xl-4">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Nom</label>
                  <input type="text" class="form-control" id="nom" name="nom" placeholder="Le nom du gérant" formControlName="nom" [(ngModel)]="gerant.nom" required>
                  <div class="text-danger" [hidden]="nom.valid || nom.pristine && !nom.touched ">Le nom du gérant est obligatoire</div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Prénom</label>
                  <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Le prénom du gérant" formControlName="prenom" [(ngModel)]="gerant.prenom" required>
                  <div class="text-danger" [hidden]="prenom.valid || prenom.pristine && !prenom.touched ">Le prénom du gérant est obligatoire</div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Username</label>
                  <input type="text" class="form-control" id="username" name="username" placeholder="Le nom d'utilisateur du gérant" formControlName="username" [(ngModel)]="gerant.username" required>
                  <div class="text-danger" [hidden]="username.valid || username.pristine && !username.touched ">Le nom d'utilisateur du gérant est obligatoire</div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Email</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="L'email du gérant" formControlName="email" [(ngModel)]="gerant.email" required>
                  <div class="text-danger" [hidden]="!email?.hasError('required') || !email.touched">
                    L'adresse e-mail du gérant est obligatoire
                  </div>
                  <div class="text-danger" [hidden]="!email?.hasError('email') || !email.touched">
                    L'adresse e-mail saisie n'est pas valide.
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Mot de passe</label>
                  <input type="password" class="form-control" id="motDePasse" name="motDePasse" placeholder="Le mot de passe du gérant" formControlName="motDePasse" [(ngModel)]="gerant.motDePasse" required>
                  <div class="text-danger" *ngIf="motDePasse?.hasError('required') && motDePasse.touched">Le mot de passe du gérant est obligatoire</div>
                  <div class="text-danger" *ngIf="motDePasse?.errors?.['minlength'] || motDePasse.errors?.['maxlength'] && motDePasse?.hasError('pattern') && motDePasse.touched">
                    Règles de saisie du mot de passe :
                    <ul>
                      <li class="puce-visible" *ngIf="motDePasse?.errors?.['minlength'] || motDePasse.errors?.['maxlength'] && motDePasse.touched">Le mot de passe doit comporter au minimum 8 caractères.</li>
                      <li class="puce-visible" *ngIf="motDePasse?.hasError('pattern')">Le mot de passe doit contenir au moins une minuscule, une majuscule, un chiffre et un caractère spécial.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Téléphone</label>
                  <input type="text" class="form-control" id="telephone" name="telephone" placeholder="Le numéro de téléphone du gérant" formControlName="telephone" [(ngModel)]="gerant.telephone" required>
                  <div class="text-danger" [hidden]="telephone.valid || telephone.pristine && !telephone.touched ">Le numéro de téléphone du gérant obligatoire</div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="text-end">
                <a class="ud-btn btn-thm" [ngClass]="{ 'disabled-link': gerantForm.invalid }" (click)="gerantForm.invalid ? null : ajouterGerant()" type="submit">Ajouter</a>
                &nbsp;
                <a class="ud-btn btn-thm4" type="button" (click)="voirListe()">Annuler</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Formulaire d'ajout d'un gérant -->

  <!-- Liste des gérants -->
  <div *ngIf="affichage == 1">
    <div class="row align-items-center pb40">
      <div class="col-xxl-3">
        <div class="dashboard_title_area">
          <h4>Liste des gérants</h4>
          <p class="text"></p>
        </div>
      </div>
      <div class="col-xxl-9">
        <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
          <div class="item1 mb15-sm">
            <div class="search_area">
              <input type="text" [(ngModel)]="recherche" class="form-control bdrs12" placeholder="Faire une recherche">
              <label><span class="flaticon-search"></span></label>
            </div>
          </div>
          &nbsp;
          <a type="button" *ngIf="visibleAddForm == 0 && user.role.code == 'ROLE_PROPRIETAIRE'" (click)="afficherFormulaireAjouter()" class="ud-btn btn-thm">Ajouter un gérant</a>
        </div>
      </div>
    </div>
    <div class="row">
      <p-toast></p-toast>
      <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
          <div class="packages_table">
            <table class="table-style3 table at-savesearch">
              <thead class="t-head">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Prénom</th>
                  <th scope="col">Nom d'utilisateur</th>
                  <th scope="col">Email</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody class="t-body">
                <tr *ngFor="let gerant of gerantsParPage | genericFilter: recherche;  let i = index">
                  <td class="vam">{{ pageActuelle + i + 1 }}</td>
                  <td class="vam">{{ gerant.nom }}</td>
                  <td class="vam">{{ gerant.prenom }}</td>
                  <td class="vam">{{ gerant.username }}</td>
                  <td class="vam">{{ gerant.email }}</td>
                  <td class="vam">
                    <div class="d-flex">
                      <a type="button" (click)="afficherPageDetail(gerant.id)" class="icon" pTooltip="Détails" tooltipPosition="top"><i class="pi pi-eye" style="font-size: 1rem"></i></a>
                      <a *ngIf="gerant.etatCompte === true" type="button" class="icon" (click)="desactiverCompte(gerant.id)" pTooltip="Désactiver ce compte" tooltipPosition="top"><i class="pi pi-lock" style="font-size: 1rem"></i></a>
                      <a *ngIf="gerant.etatCompte === false" type="button" class="icon" (click)="activerCompte(gerant.id)" pTooltip="Activer ce compte" tooltipPosition="left"><i class="pi pi-lock-open" style="font-size: 1rem"></i></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

            <div *ngIf="gerants.length !== 0" class="mbp_pagination text-center mt30">
              <p-paginator
                (onPageChange)="pagination($event)" [first]="pageActuelle"
                [rows]="elementsParPage" [totalRecords]="gerants.length"
                [rowsPerPageOptions]="[5, 10, 15]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} gérants"
                [showPageLinks]="true" [showFirstLastIcon]="true">
              </p-paginator>
            </div>
            <div *ngIf="gerants.length == 0" class="mbp_pagination text-center mt30">
              <p class="mt10 pagination_page_count text-center">Aucun gérant enregistré pour le moment</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Liste des gérants -->

  <!-- Details d'un gérant -->
  <div *ngIf="affichage == 3">
    <div  class="row align-items-center pb40">
      <div class="col-xxl-3">
        <div class="dashboard_title_area">
          <h4>Détails d'un gérant</h4>
          <p class="text"></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">
          <table class="table-style3 table at-savesearch">
            <tbody class="t-body">
              <tr>
                  <td class="vam">Nom</td>
                  <td>{{ gerant.nom }}</td>
              </tr>
              <tr>
                <td class="vam">Prénom</td>
                <td>{{ gerant.prenom }}</td>
              </tr>
              <tr>
                <td class="vam">Nom d'utilisateur</td>
                <td>{{ gerant.username }}</td>
              </tr>
              <tr>
                <td class="vam">Email</td>
                <td>{{ gerant.email }}</td>
              </tr>
              <tr>
                <td class="vam">Rôle</td>
                <td>{{ gerant.role.libelle }}</td>
              </tr>
              <tr>
                <td class="vam">Téléphone</td>
                <td>{{ gerant.telephone }}</td>
              </tr>
              <tr>
                <td class="vam">Etat du compte</td>
                <td>
                  <p-tag *ngIf="gerant.etatCompte == true" severity="success" value="Activé"></p-tag>
                  <p-tag *ngIf="gerant.etatCompte == false" severity="danger" value="Désactivé"></p-tag>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="text-end">
            <a class="ud-btn btn-thm" (click)="voirListe()"  type="button">Retour</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Details d'un gérant -->
</div>
