

<!-- Accueil -->
<section class="home-banner-style6 p0" data-stellar-background-ratio="0.2">
  <div class="home-style1">
    <div class="container">
      <div class="row">
        <div class="col-xl-10">
          <div class="inner-banner-style6">
            <h2 class="hero-title text-white animate-up-1">Explorez Ahoewo, Votre plateforme numérique pour trouver votre bien de rêve !<br class="d-none d-xl-block"></h2>
            <p class="hero-text text-white fz15 animate-up-2">Trouvons ensemble un bien immobilier qui vous convient !</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <div class="advance-style4 at-home5 mt60 mt30-md mb25 mx-auto animate-up-2">
            <ul class="nav nav-tabs p-0 m-0" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true" (click)="typeDeTransactionChoisi('Location')">À Louer</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false" (click)="typeDeTransactionChoisi('Vente')">À Vendre</button>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="advance-content-style3 at-home5">
                  <div class="row align-items-center">
                    <!-- <div class="col-md-4 col-xl-3 bdrr1 bdrrn-sm">
                      <label>Mot clé</label>
                      <div class="advance-search-field position-relative text-start">
                        <form action="#" method="get" class="form-search position-relative" accept-charset="utf-8">
                          <div class="box-search">
                            <input class="form-control bgc-f7 bdrs12 ps-0" type="text" name="search" placeholder="Entrer un mot clé">
                          </div>
                        </form>
                      </div>
                    </div> -->
                    <div class="col-md-4 col-xl-2 bdrr1 bdrrn-sm px20 pl15-sm">
                      <div class="mt-3 mt-md-0 px-0">
                        <div class="bootselect-multiselect">
                          <!-- <label class="fz14">Type de bien</label> -->
                          <p-dropdown
                            class="select" emptyFilterMessage="Aucun résultat trouvé"
                            emptyMessage="Aucun résultat trouvé"
                            [options]="typesDeBienPourLocation" placeholder="Type de bien"
                            optionLabel="designation" (onChange)="typeDeBienChoisi($event)"
                            [filter]="true" filterBy="designation"
                            [(ngModel)]="typeDeBienSelectionne">
                          </p-dropdown>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-xl-2 bdrr1 bdrrn-sm px20 pl15-sm">
                      <div class="mt-3 mt-md-0 px-0">
                        <div class="bootselect-multiselect">
                          <!-- <label class="fz14">Région</label> -->
                          <p-dropdown
                            class="select" emptyFilterMessage="Aucun résultat trouvé"
                            emptyMessage="Aucun résultat trouvé"
                            [options]="regions" placeholder="Région"
                            optionLabel="libelle" (onChange)="regionChoisie($event)"
                            [filter]="true" filterBy="libelle"
                            [(ngModel)]="regionSelectionnee">
                          </p-dropdown>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-xl-2 bdrr1 bdrrn-sm px20 pl15-sm">
                      <div class="mt-3 mt-md-0">
                        <div class="bootselect-multiselect">
                          <!-- <label class="fz14">Ville</label> -->
                          <p-dropdown
                            class="select" emptyFilterMessage="Aucun résultat trouvé"
                            emptyMessage="Aucun résultat trouvé"
                            [options]="villes" placeholder="Ville"
                            optionLabel="libelle" (onChange)="villeChoisie($event)"
                            [filter]="true" filterBy="libelle"
                            [(ngModel)]="villeSelectionnee">
                          </p-dropdown>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-xl-2 bdrr1 bdrrn-sm px20 pl15-sm">
                      <div class="mt-3 mt-md-0">
                        <div class="bootselect-multiselect">
                          <!-- <label class="fz14">Quartier</label> -->
                          <p-dropdown
                            class="select" emptyFilterMessage="Aucun résultat trouvé"
                            emptyMessage="Aucun résultat trouvé"
                            [options]="quartiers" placeholder="Quartier"
                            optionLabel="libelle" (onChange)="quartierChoisi($event)"
                            [filter]="true" filterBy="libelle"
                            [(ngModel)]="quartierSelectionne">
                          </p-dropdown>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                      <div class="d-flex align-items-center justify-content-start justify-content-lg-center mt-2 mt-md-0">
                        <button class="advance-search-btn" type="button" (click)="showDialog()"><span class="pi pi-sliders-h"></span> Voir plus</button>
                        <button class="ud-btn btn-thm ms-2" type="button" (click)="rechercheSimpleDePublication()"><span class="pi pi-search-plus pr10"></span>Rechercher</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="advance-content-style3 at-home5">
                  <div class="row align-items-center">
                    <!-- <div class="col-md-4 col-xl-3 bdrr1 bdrrn-sm">
                      <label>Search</label>
                      <div class="advance-search-field position-relative text-start">
                        <form action="#" method="get" class="form-search position-relative" accept-charset="utf-8">
                          <div class="box-search">
                            <input class="form-control bgc-f7 bdrs12 ps-0" type="text" name="search" placeholder="Enter Keywords">
                          </div>
                        </form>
                      </div>
                    </div> -->
                    <div class="col-md-4 col-xl-2 bdrr1 bdrrn-sm px20 pl15-sm">
                      <div class="mt-3 mt-md-0 px-0">
                        <div class="bootselect-multiselect">
                          <!-- <label class="fz14">Type de bien</label> -->
                          <p-dropdown
                            class="select" emptyFilterMessage="Aucun résultat trouvé"
                            emptyMessage="Aucun résultat trouvé"
                            [options]="typesDeBienPourVente" placeholder="Type de bien"
                            optionLabel="designation" (onChange)="typeDeBienChoisi($event)"
                            [filter]="true" filterBy="designation"
                            [(ngModel)]="typeDeBienSelectionne">
                          </p-dropdown>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-xl-2 bdrr1 bdrrn-sm px20 pl15-sm">
                      <div class="mt-3 mt-md-0 px-0">
                        <div class="bootselect-multiselect">
                          <!-- <label class="fz14">Région</label> -->
                          <p-dropdown
                            class="select" emptyFilterMessage="Aucun résultat trouvé"
                            emptyMessage="Aucun résultat trouvé"
                            [options]="regions" placeholder="Région"
                            optionLabel="libelle" (onChange)="regionChoisie($event)"
                            [filter]="true" filterBy="libelle"
                            [(ngModel)]="regionSelectionnee">
                          </p-dropdown>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-xl-2 bdrr1 bdrrn-sm px20 pl15-sm">
                      <div class="mt-3 mt-md-0">
                        <div class="bootselect-multiselect">
                          <!-- <label class="fz14">Ville</label> -->
                          <p-dropdown
                            class="select" emptyFilterMessage="Aucun résultat trouvé"
                            emptyMessage="Aucun résultat trouvé"
                            [options]="villes" placeholder="Ville"
                            optionLabel="libelle" (onChange)="villeChoisie($event)"
                            [filter]="true" filterBy="libelle"
                            [(ngModel)]="villeSelectionnee">
                          </p-dropdown>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-xl-2 bdrr1 bdrrn-sm px20 pl15-sm">
                      <div class="mt-3 mt-md-0">
                        <div class="bootselect-multiselect">
                          <!-- <label class="fz14">Quartier</label> -->
                          <p-dropdown
                            class="select" emptyFilterMessage="Aucun résultat trouvé"
                            emptyMessage="Aucun résultat trouvé"
                            [options]="quartiers" placeholder="Quartier"
                            optionLabel="libelle" (onChange)="quartierChoisi($event)"
                            [filter]="true" filterBy="libelle"
                            [(ngModel)]="quartierSelectionne">
                          </p-dropdown>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                      <div class="d-flex align-items-center justify-content-start justify-content-lg-center mt-2 mt-md-0">
                        <button class="advance-search-btn" type="button" (click)="showDialog()"><span class="pi pi-sliders-h"></span> Voir plus</button>
                        <button class="ud-btn btn-thm ms-2" type="button" (click)="rechercheSimpleDePublication()"><span class="pi pi-search-plus pr10"></span>Rechercher</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal - Recherche Avancée - Start -->
<div class="card flex justify-content-center">
  <p-dialog header="Filtre avancée" [(visible)]="visible" [modal]="true" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [dismissableMask]="true" [draggable]="false" [resizable]="false">
    <div class="modal-body pb-0">
      <div class="row">
        <div class="col-sm-6">
          <div class="widget-wrapper">
            <h6 class="list-title">Type de bien</h6>
            <div class="form-style1">
              <p-dropdown *ngIf="typeDeTransactionSelectionne === 'Location'"
                class="selectInModal" emptyFilterMessage="Aucun résultat trouvé"
                emptyMessage="Aucun résultat trouvé"
                [options]="typesDeBienPourLocation" placeholder="Type de bien"
                optionLabel="designation" (onChange)="typeDeBienChoisi($event)"
                [filter]="true" filterBy="designation"
                [(ngModel)]="typeDeBienSelectionne">
              </p-dropdown>
              <p-dropdown *ngIf="typeDeTransactionSelectionne === 'Vente'"
                class="selectInModal" emptyFilterMessage="Aucun résultat trouvé"
                emptyMessage="Aucun résultat trouvé"
                [options]="typesDeBienPourVente" placeholder="Type de bien"
                optionLabel="designation" (onChange)="typeDeBienChoisi($event)"
                [filter]="true" filterBy="designation"
                [(ngModel)]="typeDeBienSelectionne">
              </p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="widget-wrapper">
            <h6 class="list-title">Région</h6>
            <div class="form-style1">
              <p-dropdown
                class="selectInModal" emptyFilterMessage="Aucun résultat trouvé"
                emptyMessage="Aucun résultat trouvé"
                [options]="regions" placeholder="Région"
                optionLabel="libelle" (onChange)="regionChoisie($event)"
                [filter]="true" filterBy="libelle"
                [(ngModel)]="regionSelectionnee">
              </p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="widget-wrapper">
            <h6 class="list-title">Ville</h6>
            <div class="form-style1">
              <p-dropdown
                class="selectInModal" emptyFilterMessage="Aucun résultat trouvé"
                emptyMessage="Aucun résultat trouvé"
                [options]="villes" placeholder="Ville"
                optionLabel="libelle" (onChange)="villeChoisie($event)"
                [filter]="true" filterBy="libelle"
                [(ngModel)]="villeSelectionnee">
              </p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="widget-wrapper">
            <h6 class="list-title">Quartier</h6>
            <div class="form-style1">
              <p-dropdown
                class="selectInModal" emptyFilterMessage="Aucun résultat trouvé"
                emptyMessage="Aucun résultat trouvé"
                [options]="quartiers" placeholder="Quartier"
                optionLabel="libelle" (onChange)="quartierChoisi($event)"
                [filter]="true" filterBy="libelle"
                [(ngModel)]="quartierSelectionne">
              </p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-sm-6" *ngIf="afficherCategorie()">
          <div class="widget-wrapper">
            <h6 class="list-title">Catégorie</h6>
            <div class="form-style1">
              <p-dropdown
                class="selectInModal" [options]="listeDesCategories"
                placeholder="Choisir une catégorie"
                (onChange)="categorieChoisie($event)"
                [(ngModel)]="categorieSelectionnee">
              </p-dropdown>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="widget-wrapper">
            <h6 class="list-title">Prix minimum</h6>
            <div class="form-style1">
              <p-inputNumber class="pInputNumber p-fluid" placeholder="Prix minimum" [(ngModel)]="rechercheAvanceePublicationForm.prixMin" inputId="prixMin" mode="currency" currency="CFA" locale="de-DE"
                [max]="rechercheAvanceePublicationForm.prixMax">
              </p-inputNumber>
              <!-- <input type="number" class="form-control" id="prixMin" name="prixMin" placeholder="Prix minimum" [(ngModel)]="rechercheAvanceePublicationForm.prixMin"
                     #prixMinInput="ngModel" [max]="rechercheAvanceePublicationForm.prixMax">
              <div *ngIf="prixMinInput.invalid && (prixMinInput.dirty || prixMinInput.touched)"
                   class="error">
                <div *ngIf="prixMinInput.errors && prixMinInput.errors['max']">Le prix minimum ne doit pas être supérieur le prix maximum.</div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="widget-wrapper">
            <h6 class="list-title">Prix maximum</h6>
            <div class="form-style1">
              <p-inputNumber class="pInputNumber p-fluid" placeholder="Prix maximun" [(ngModel)]="rechercheAvanceePublicationForm.prixMax" inputId="prixMax" mode="currency" currency="CFA" locale="de-DE"
                [min]="rechercheAvanceePublicationForm.prixMin">
              </p-inputNumber>
              <!-- <input type="number" class="form-control" id="prixMax" name="prixMax" placeholder="Prix maximun" [(ngModel)]="rechercheAvanceePublicationForm.prixMax"
                     #prixMaxInput="ngModel" [min]="rechercheAvanceePublicationForm.prixMin">
              <div *ngIf="prixMaxInput.invalid && (prixMaxInput.dirty || prixMaxInput.touched)"
                   class="error">
                <div *ngIf="prixMaxInput.errors && prixMaxInput.errors['min']">Le prix maximum ne doit pas être inférieur au prix minimum.</div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-sm-6" *ngIf="afficherAvanceEtCaution()">
          <div class="widget-wrapper">
            <h6 class="list-title">Avance en nombre de mois</h6>
            <div class="form-style1">
              <p-inputNumber class="pInputNumber p-fluid" placeholder="Avance en nombre de mois" [(ngModel)]="rechercheAvanceePublicationForm.avance" inputId="avance" suffix=" mois" [max]="12"> </p-inputNumber>
              <!-- <input type="number" class="form-control" id="avance" name="avance" placeholder="Avance en nombre de mois" [(ngModel)]="rechercheAvanceePublicationForm.avance"
                    #avanceInput="ngModel" [max]="12">
              <div *ngIf="avanceInput.invalid && (avanceInput.dirty || avanceInput.touched)"
                   class="error">
                <div *ngIf="avanceInput.errors && avanceInput.errors['max']">L'avance ne doit pas dépasser 12 mois</div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-sm-6" *ngIf="afficherAvanceEtCaution()">
          <div class="widget-wrapper">
            <h6 class="list-title">Caution en nombre de mois</h6>
            <div class="form-style1">
              <p-inputNumber class="pInputNumber p-fluid" placeholder="Caution en nombre de mois" [(ngModel)]="rechercheAvanceePublicationForm.caution" inputId="caution" suffix=" mois" [max]="12"> </p-inputNumber>
              <!-- <input type="number" class="form-control" id="caution" name="caution" placeholder="Caution en nombre de mois" [(ngModel)]="rechercheAvanceePublicationForm.caution"
                    #cautionInput="ngModel" [max]="12">
                <div *ngIf="cautionInput.invalid && (cautionInput.dirty || cautionInput.touched)"
                    class="error">
                 <div *ngIf="cautionInput.errors && cautionInput.errors['max']">La caution ne doit pas dépasser 12 mois</div>
               </div> -->
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="widget-wrapper">
            <h6 class="list-title">Commission {{ typeDeTransactionSelectionne === 'Location' ? 'en nombre de mois' : 'en pourcentage' }}</h6>
            <div class="form-style1">
              <!-- <input *ngIf="typeDeTransactionSelectionne == 'Location'" type="number" class="form-control" id="commission" name="commission" placeholder="La commission en nombre de mois" [(ngModel)]="rechercheAvanceePublicationForm.commission">
              <input *ngIf="typeDeTransactionSelectionne == 'Vente'" type="number" class="form-control" id="commission" name="commission" placeholder="La commission en pourcentage" [(ngModel)]="rechercheAvanceePublicationForm.commission" [disabled]="isCommissionDisabled()"> -->
              <p-inputNumber *ngIf="typeDeTransactionSelectionne == 'Location'" class="pInputNumber p-fluid" placeholder="La commission en nombre de mois" [(ngModel)]="rechercheAvanceePublicationForm.commission" inputId="commission" suffix=" mois" [max]="12"> </p-inputNumber>
              <p-inputNumber *ngIf="typeDeTransactionSelectionne == 'Vente'" class="pInputNumber p-fluid" placeholder="La commission en pourcentage" [(ngModel)]="rechercheAvanceePublicationForm.commission" inputId="commission" prefix="%"  [disabled]="isCommissionDisabled()"> </p-inputNumber>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="widget-wrapper">
            <h6 class="list-title">Frais de visite</h6>
            <div class="form-style1">
              <p-inputNumber class="pInputNumber p-fluid" placeholder="Frais de visite" [(ngModel)]="rechercheAvanceePublicationForm.fraisDeVisite" inputId="fraisDeVisite" mode="currency" currency="CFA" locale="de-DE"> </p-inputNumber>
              <!-- <input type="number" class="form-control" id="fraisDeVisite" name="fraisDeVisite" placeholder="Frais de visite" [(ngModel)]="rechercheAvanceePublicationForm.fraisDeVisite"> -->
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="typeDeBienSelectionne.designation != 'Terrain'">
        <!-- <div class="col-lg-12">
          <div class="widget-wrapper mb0">
            <h6 class="list-title mb10">Caractéristiques</h6>
          </div>
        </div> -->
        <div class="col-sm-6" *ngIf="afficherNombreChambre()">
          <div class="widget-wrapper">
            <h6 class="list-title">Nombre de chambres</h6>
            <div class="form-style1">
              <input type="number" class="form-control" id="nombreChambres" name="nombreChambres" placeholder="Nombre de chambres" [(ngModel)]="rechercheAvanceePublicationForm.nombreChambres">
            </div>
          </div>
        </div>
        <div class="col-sm-6" *ngIf="afficherNombreSalon()">
          <div class="widget-wrapper">
            <h6 class="list-title">Nombre de salons</h6>
            <div class="form-style1">
              <input type="number" class="form-control" id="nombreSalons" name="nombreSalons" placeholder="nombre de salons" [(ngModel)]="rechercheAvanceePublicationForm.nombreSalons">
            </div>
          </div>
        </div>
        <div class="col-sm-6" *ngIf="afficherNombreChambreSalon()">
          <div class="widget-wrapper">
            <h6 class="list-title">Nombre de chambres salon</h6>
            <div class="form-style1">
              <input type="number" class="form-control" id="nombreChambresSalon" name="nombreChambresSalon" placeholder="Nombre de chambres salon" [(ngModel)]="rechercheAvanceePublicationForm.nombreChambresSalon">
            </div>
          </div>
        </div>
        <div class="col-sm-6" *ngIf="afficherNombreAppartement()">
          <div class="widget-wrapper">
            <h6 class="list-title">Nombre d'appartements</h6>
            <div class="form-style1">
              <input type="number" class="form-control" id="nombreAppartements" name="nombreAppartements" placeholder="Nombre d'appartements" [(ngModel)]="rechercheAvanceePublicationForm.nombreAppartements">
            </div>
          </div>
        </div>
        <div class="col-sm-6" *ngIf="afficherNombreBureau()">
          <div class="widget-wrapper">
            <h6 class="list-title">Nombre de bureaux</h6>
            <div class="form-style1">
              <input type="number" class="form-control" id="nombreBureaux" name="nombreBureaux" placeholder="Nombre de bureaux" [(ngModel)]="rechercheAvanceePublicationForm.nombreBureaux">
            </div>
          </div>
        </div>
        <div class="col-sm-6" *ngIf="afficherNombreBoutique()">
          <div class="widget-wrapper">
            <h6 class="list-title">Nombre de boutiques</h6>
            <div class="form-style1">
              <input type="number" class="form-control" id="nombreBoutiques" name="nombreBoutiques" placeholder="Nombre de boutiques" [(ngModel)]="rechercheAvanceePublicationForm.nombreBoutiques">
            </div>
          </div>
        </div>
        <div class="col-sm-6" *ngIf="afficherNombreMagasin()">
          <div class="widget-wrapper">
            <h6 class="list-title">Nombre de magasins</h6>
            <div class="form-style1">
              <input type="number" class="form-control" id="nombreMagasins" name="nombreMagasins" placeholder="Nombre de magasins" [(ngModel)]="rechercheAvanceePublicationForm.nombreMagasins">
            </div>
          </div>
        </div>
        <div class="col-sm-6" *ngIf="afficherNombreEtage()">
          <div class="widget-wrapper">
            <h6 class="list-title">Nombre d'étages</h6>
            <div class="form-style1">
              <input type="number" class="form-control" id="nombreEtages" name="nombreEtages" placeholder="Nombre d'étages" [(ngModel)]="rechercheAvanceePublicationForm.nombreEtages">
            </div>
          </div>
        </div>
        <div class="col-sm-6" *ngIf="afficherNombreGarage()">
          <div class="widget-wrapper">
            <h6 class="list-title">Nombre de garages</h6>
            <div class="form-style1">
              <input type="number" class="form-control" id="nombreGarages" name="nombreGarages" placeholder="Nombre de garages" [(ngModel)]="rechercheAvanceePublicationForm.nombreGarages">
            </div>
          </div>
        </div>
        <div class="col-sm-6" *ngIf="afficherNombreCuisine()">
          <div class="widget-wrapper">
            <h6 class="list-title">Nombre de cuisine interne</h6>
            <div class="form-style1">
              <input type="number" class="form-control" id="nombreCuisineInterne" name="nombreCuisineInterne" placeholder="Nombre de cuisine interne" [(ngModel)]="rechercheAvanceePublicationForm.nombreCuisineInterne">
            </div>
          </div>
        </div>
        <div class="col-sm-6" *ngIf="afficherNombreCuisine()">
          <div class="widget-wrapper">
            <h6 class="list-title">Nombre de cuisine externe</h6>
            <div class="form-style1">
              <input type="number" class="form-control" id="nombreCuisineExterne" name="nombreCuisineExterne" placeholder="Nombre de cuisine externe" [(ngModel)]="rechercheAvanceePublicationForm.nombreCuisineExterne">
            </div>
          </div>
        </div>
        <div class="col-sm-6" *ngIf="afficherNombreWCDouche()">
          <div class="widget-wrapper">
            <h6 class="list-title">Nombre de WC-Douche interne</h6>
            <div class="form-style1">
              <input type="number" class="form-control" id="nombreWCDoucheInterne" name="nombreWCDoucheInterne" placeholder="Nombre de WC-Douche interne" [(ngModel)]="rechercheAvanceePublicationForm.nombreWCDoucheInterne">
            </div>
          </div>
        </div>
        <div class="col-sm-6" *ngIf="afficherNombreWCDouche()">
          <div class="widget-wrapper">
            <h6 class="list-title">Nombre de WC-Douche externe</h6>
            <div class="form-style1">
              <input type="number" class="form-control" id="nombreWCDoucheExterne" name="nombreWCDoucheExterne" placeholder="nombre de WC-Douche externe" [(ngModel)]="rechercheAvanceePublicationForm.nombreWCDoucheExterne">
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="typeDeBienSelectionne.designation !='Terrain'">
        <div class="col-sm-6 col-xl-4">
          <div class="checkbox-style1" *ngIf="afficherParking()">
            <div class="checkbox">
              <div class="mb10">
                <p-checkbox [binary]="true" labelStyleClass="checkboxLabel" label="Parking" [(ngModel)]="rechercheAvanceePublicationForm.parking">
                </p-checkbox>
              </div>
            </div>
          </div>
          <div class="checkbox-style1">
            <div class="checkbox">
              <div class="mb10">
                <p-checkbox [binary]="true" labelStyleClass="checkboxLabel" label="Eau TDE" [(ngModel)]="rechercheAvanceePublicationForm.eauTde">
                </p-checkbox>
              </div>
            </div>
          </div>
          <div class="checkbox-style1">
            <div class="checkbox">
              <div class="mb10">
                <p-checkbox [binary]="true" labelStyleClass="checkboxLabel" label="Compteur d'eau" [(ngModel)]="rechercheAvanceePublicationForm.compteurEau">
                </p-checkbox>
              </div>
            </div>
          </div>
          <div class="checkbox-style1" *ngIf="afficherCuisineInterne()">
            <div class="checkbox">
              <div class="mb10">
                <p-checkbox [binary]="true" labelStyleClass="checkboxLabel" label="Cuisine interne" [(ngModel)]="rechercheAvanceePublicationForm.cuisineInterne">
                </p-checkbox>
              </div>
            </div>
          </div>
          <div class="checkbox-style1" *ngIf="afficherWCDoucheExterne()">
            <div class="checkbox">
              <div class="mb10">
                <p-checkbox [binary]="true" labelStyleClass="checkboxLabel" label="WC-Douche externe" [(ngModel)]="rechercheAvanceePublicationForm.wcDoucheExterne">
                </p-checkbox>
              </div>
            </div>
          </div>
          <div class="checkbox-style1" *ngIf="afficherBalcon()">
            <div class="checkbox">
              <div class="mb10">
                <p-checkbox [binary]="true" labelStyleClass="checkboxLabel" label="Balcon" [(ngModel)]="rechercheAvanceePublicationForm.balcon">
                </p-checkbox>
              </div>
            </div>
          </div>
          <div class="checkbox-style1">
            <div class="checkbox">
              <div class="mb10">
                <p-checkbox [binary]="true" labelStyleClass="checkboxLabel" label="Climatisation" [(ngModel)]="rechercheAvanceePublicationForm.climatisation">
                </p-checkbox>
              </div>
            </div>
          </div>
          <div class="checkbox-style1" *ngIf="afficherDalle()">
            <div class="checkbox">
              <div class="mb10">
                <p-checkbox [binary]="true" labelStyleClass="checkboxLabel" label="Dallé" [(ngModel)]="rechercheAvanceePublicationForm.dalle">
                </p-checkbox>
              </div>
            </div>
          </div>
          <div class="checkbox-style1" *ngIf="afficherToiletteVisiteur()">
            <div class="checkbox">
              <div class="mb10">
                <p-checkbox [binary]="true" labelStyleClass="checkboxLabel" label="Toilette visiteur" [(ngModel)]="rechercheAvanceePublicationForm.toiletteVisiteur">
                </p-checkbox>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-xl-4">
          <div class="checkbox-style1" *ngIf="afficherJardin()">
            <div class="checkbox">
              <div class="mb10">
                <p-checkbox [binary]="true" labelStyleClass="checkboxLabel" label="Jardin" [(ngModel)]="rechercheAvanceePublicationForm.jardin">
                </p-checkbox>
              </div>
            </div>
          </div>
          <div class="checkbox-style1">
            <div class="checkbox">
              <div class="mb10">
                <p-checkbox [binary]="true" labelStyleClass="checkboxLabel" label="Eau Forage" [(ngModel)]="rechercheAvanceePublicationForm.eauForage">
                </p-checkbox>
              </div>
            </div>
          </div>
          <div class="checkbox-style1" *ngIf="afficherCompteurAdditionnel()">
            <div class="checkbox">
              <div class="mb10">
                <p-checkbox [binary]="true" labelStyleClass="checkboxLabel" label="Compteur additionnel" [(ngModel)]="rechercheAvanceePublicationForm.compteurAdditionnel">
                </p-checkbox>
              </div>
            </div>
          </div>
          <div class="checkbox-style1" *ngIf="afficherCuisineExterne()">
            <div class="checkbox">
              <div class="mb10">
                <p-checkbox [binary]="true" labelStyleClass="checkboxLabel" label="Cuisine externe" [(ngModel)]="rechercheAvanceePublicationForm.cuisineExterne">
                </p-checkbox>
              </div>
            </div>
          </div>
          <div class="checkbox-style1">
            <div class="checkbox">
              <div class="mb10">
                <p-checkbox [binary]="true" labelStyleClass="checkboxLabel" label="Wifi" [(ngModel)]="rechercheAvanceePublicationForm.wifi">
                </p-checkbox>
              </div>
            </div>
          </div>
          <div class="checkbox-style1" *ngIf="afficherALEtage()">
            <div class="checkbox">
              <div class="mb10">
                <p-checkbox [binary]="true" labelStyleClass="checkboxLabel" label="À l'étage" [(ngModel)]="rechercheAvanceePublicationForm.etage">
                </p-checkbox>
              </div>
            </div>
          </div>
          <div class="checkbox-style1" *ngIf="afficherBaieVitree()">
            <div class="checkbox">
              <div class="mb10">
                <p-checkbox [binary]="true" labelStyleClass="checkboxLabel" label="Baie vitrée" [(ngModel)]="rechercheAvanceePublicationForm.baieVitree">
                </p-checkbox>
              </div>
            </div>
          </div>
          <div class="checkbox-style1" *ngIf="afficherPlafonne()">
            <div class="checkbox">
              <div class="mb10">
                <p-checkbox [binary]="true" labelStyleClass="checkboxLabel" label="Plafonné" [(ngModel)]="rechercheAvanceePublicationForm.plafonne">
                </p-checkbox>
              </div>
            </div>
          </div>
          <div class="checkbox-style1" *ngIf="afficherAscenseur()">
            <div class="checkbox">
              <div class="mb10">
                <p-checkbox [binary]="true" labelStyleClass="checkboxLabel" label="Ascenceur" [(ngModel)]="rechercheAvanceePublicationForm.ascenseur">
                </p-checkbox>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-xl-4">
          <div class="checkbox-style1" *ngIf="afficherPiscine()">
            <div class="checkbox">
              <div class="mb10">
                <p-checkbox [binary]="true" labelStyleClass="checkboxLabel" label="Piscine" [(ngModel)]="rechercheAvanceePublicationForm.piscine">
                </p-checkbox>
              </div>
            </div>
          </div>
          <div class="checkbox-style1">
            <div class="checkbox">
              <div class="mb10">
                <p-checkbox [binary]="true" labelStyleClass="checkboxLabel" label="Electricité CEET" [(ngModel)]="rechercheAvanceePublicationForm.electriciteCeet">
                </p-checkbox>
              </div>
            </div>
          </div>
          <div class="checkbox-style1" *ngIf="afficherCashPowerPersonnel()">
            <div class="checkbox">
              <div class="mb10">
                <p-checkbox [binary]="true" labelStyleClass="checkboxLabel" label="Cash Power personnel" [(ngModel)]="rechercheAvanceePublicationForm.cashPowerPersonnel">
                </p-checkbox>
              </div>
            </div>
          </div>
          <div class="checkbox-style1" *ngIf="afficherWCDoucheInterne()">
            <div class="checkbox">
              <div class="mb10">
                <p-checkbox [binary]="true" labelStyleClass="checkboxLabel" label="WC-Douche interne" [(ngModel)]="rechercheAvanceePublicationForm.wcDoucheInterne">
                </p-checkbox>
              </div>
            </div>
          </div>
          <div class="checkbox-style1" *ngIf="afficherGarage()">
            <div class="checkbox">
              <div class="mb10">
                <p-checkbox [binary]="true" labelStyleClass="checkboxLabel" label="Garage" [(ngModel)]="rechercheAvanceePublicationForm.garage">
                </p-checkbox>
              </div>
            </div>
          </div>
          <div class="checkbox-style1" *ngIf="afficherTerrasse()">
            <div class="checkbox">
              <div class="mb10">
                <p-checkbox [binary]="true" labelStyleClass="checkboxLabel" label="Terrasse" [(ngModel)]="rechercheAvanceePublicationForm.terrasse">
                </p-checkbox>
              </div>
            </div>
          </div>
          <div class="checkbox-style1" *ngIf="afficherSolCarelle()">
            <div class="checkbox">
              <div class="mb10">
                <p-checkbox [binary]="true" labelStyleClass="checkboxLabel" label="Sol carellé" [(ngModel)]="rechercheAvanceePublicationForm.solCarelle">
                </p-checkbox>
              </div>
            </div>
          </div>
          <div class="checkbox-style1" *ngIf="afficherPlacard()">
            <div class="checkbox">
              <div class="mb10">
                <p-checkbox [binary]="true" labelStyleClass="checkboxLabel" label="Placard" [(ngModel)]="rechercheAvanceePublicationForm.placard">
                </p-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer justify-content-between">
      <button class="ud-btn btn-annuler" (click)="reinitialiser()"><span class="pi pi-replay pr10"></span>Réinitialiser</button>
      <div class="btn-area">
        <button class="ud-btn btn-thm" (click)="rechercheAvanceeDePublication()" [ngClass]="{ 'disabled-link': rechercheAvanceePublicationForm.avance > 12 || rechercheAvanceePublicationForm.caution > 12 }"><span class="pi pi-search-plus pr10"></span>Rechercher</button>
      </div>
    </div>
  </p-dialog>
</div>
<!-- Modal - Recherche Avancée End -->

<!-- Comment procéder ? -->
<section class="pb90 pb30-md">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 wow fadeInUp" data-wow-delay="100ms">
        <div class="about-box2">
          <h4 class="title">Comment procéder pour <br class="d-none d-xl-block"> trouver votre futur bien ?</h4>
          <p class="text fz15">Suivre ces étapes pour trouver <br class="d-none d-xl-block"> le bien qu'il vous faut sans stress.</p>
          <img class="img-1" src="assets/images/about/home6-about-1.png" alt="">
        </div>
      </div>
      <div class="col-xl-6 wow fadeInUp" data-wow-delay="300ms">
        <div class="row">
          <div class="col-sm-6">
            <div class="iconbox-style6">
              <span class="icon flaticon-search-1"></span>
              <h3 class="title mb-1">01</h3>
              <h6 class="subtitle">Parcourir les annonces</h6>
              <p class="iconbox-text">Consultez les descriptions détaillées et les photos pour trouver des biens à louer ou à vendre.</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="iconbox-style6">
              <span class="icon flaticon-chat"></span>
              <h3 class="title mb-1">02</h3>
              <h6 class="subtitle">Affiner votre recherche</h6>
              <p class="iconbox-text">Utilisez nos filtres pour trouver des biens correspondant à vos critères spécifiques.</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="iconbox-style6">
              <span class="icon flaticon-bird-house"></span>
              <h3 class="title mb-1">03</h3>
              <h6 class="subtitle">Planifier des visites</h6>
              <p class="iconbox-text">Organisez des visites pour voir les biens en physique et prendre une décision éclairée.</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="iconbox-style6">
              <span class="icon flaticon-house-1"></span>
              <h3 class="title mb-1">04</h3>
              <h6 class="subtitle">Finaliser l'acquisition</h6>
              <p class="iconbox-text">Une fois le bien trouvé, finalisez l'achat ou la location avec l'aide d'Ahoewo.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Explorer Annonces Immobilières -->
<section class="bgc-f7">
  <div class="container">
    <div class="row wow fadeInUp" data-wow-delay="00ms">
      <div class="col-lg-9">
        <div class="main-title2">
          <h2 class="title">Récentes annonces immobilières</h2>
          <p class="paragraph">Parcourez les récentes annonces immobilières des propriétés</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="dark-light-navtab style2 text-start text-lg-end mt-0 mt-lg-4 mb-4">
          <ul class="nav nav-pills justify-content-start justify-content-lg-end" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-tout-tab" data-bs-toggle="pill" data-bs-target="#pills-tout" type="button" role="tab" aria-controls="pills-tout" aria-selected="true">Tout</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-louer-tab" data-bs-toggle="pill" data-bs-target="#pills-louer" type="button" role="tab" aria-controls="pills-louer" aria-selected="false">À Louer</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link me-0" id="pills-vendre-tab" data-bs-toggle="pill" data-bs-target="#pills-vendre" type="button" role="tab" aria-controls="pills-vendre" aria-selected="false">À Vendre</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 wow fadeInUp" data-wow-delay="300ms">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-tout" role="tabpanel" aria-labelledby="pills-tout-tab">
            <div class="row">
              <div class="col-sm-6 col-lg-4" *ngFor="let publication of publications.content">
                <div class="listing-style1">
                  <a [routerLink]="['/annonce-immobiliere']" [queryParams]="{ key: publication.codePublication }">
                    <div class="list-thumb">
                      <img class="w-100" height="210" width="100" src="{{(this.APIEndpoint+'api/premiere-image/bien-immobilier/'+publication.bienImmobilier.id)}}" alt="">
                      <!-- <div class="badge"><span style="background-color: #ff003d" class="span-badge">À louer</span></div> -->
                      <div class="list-tag fz12 mr20">{{ publication.typeDeTransaction === 'Location' ? 'À LOUER' : 'À VENDRE' }}</div>
                      <div class="list-price">{{ publication.prixDuBien | number }} FCFA / <span class="text">mois</span></div>
                    </div>
                    <div class="list-content">
                      <h6 class="list-title"><a>{{ publication.libelle }}</a></h6>
                      <p class="text">{{ publication.bienImmobilier.quartier.ville.libelle }}, {{ publication.bienImmobilier.quartier.libelle }}, {{ publication.bienImmobilier.adresse }}</p>
                      <hr class="mt-2 mb-2">
                      <div class="list-meta2 d-flex justify-content-between align-items-center">
                        <p class="text"><b class="publie-date-heure">Publié </b>{{ formatDate(publication.datePublication) }}</p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-louer" role="tabpanel" aria-labelledby="pills-louer-tab">
            <div class="row">
              <div class="col-sm-6 col-lg-4" *ngFor="let publicationDeLocation of publicationsDeLocation.content">
                <div class="listing-style1">
                  <a [routerLink]="['/annonce-immobiliere']" [queryParams]="{ key: publicationDeLocation.codePublication }">
                    <div class="list-thumb">
                      <img class="w-100" height="210" width="100" src="{{(this.APIEndpoint+'api/premiere-image/bien-immobilier/'+publicationDeLocation.bienImmobilier.id)}}" alt="">
                      <div class="list-tag fz12 mr20">À LOUER</div>
                      <div class="list-price">{{ publicationDeLocation.prixDuBien | number }} FCFA / <span class="text">mois</span></div>
                    </div>
                    <div class="list-content">
                      <h6 class="list-title"><a>{{ publicationDeLocation.libelle }}</a></h6>
                      <p class="text">{{ publicationDeLocation.bienImmobilier.quartier.ville.libelle }}, {{ publicationDeLocation.bienImmobilier.quartier.libelle }}, {{ publicationDeLocation.bienImmobilier.adresse }}</p>
                      <hr class="mt-2 mb-2">
                      <div class="list-meta2 d-flex justify-content-between align-items-center">
                        <p class="text"><b class="publie-date-heure">Publié </b>{{ formatDate(publicationDeLocation.datePublication) }}</p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-vendre" role="tabpanel" aria-labelledby="pills-vendre-tab">
            <div class="row">
              <div class="col-sm-6 col-lg-4" *ngFor="let publicationDeVente of publicationsDeVente.content">
                <div class="listing-style1">
                  <a [routerLink]="['/annonce-immobiliere']" [queryParams]="{ key: publicationDeVente.codePublication }">
                    <div class="list-thumb">
                      <img class="w-100" height="210" width="100" src="{{(this.APIEndpoint+'api/premiere-image/bien-immobilier/'+publicationDeVente.bienImmobilier.id)}}" alt="">
                      <div class="list-tag fz12 mr20">À VENDRE</div>
                      <div class="list-price">{{ publicationDeVente.prixDuBien | number }} FCFA</div>
                    </div>
                    <div class="list-content">
                      <h6 class="list-title">{{ publicationDeVente.libelle }}</h6>
                      <p class="list-text">{{ publicationDeVente.bienImmobilier.quartier.ville.libelle }}, {{ publicationDeVente.bienImmobilier.quartier.libelle }}, {{ publicationDeVente.bienImmobilier.adresse }}</p>
                      <hr class="mt-2 mb-2">
                      <div class="list-meta2 d-flex justify-content-between align-items-center">
                        <p class="text"><b class="publie-date-heure">Publié </b>{{ formatDate(publicationDeVente.datePublication) }}</p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-grid d-md-block text-center mt30 mt0-md">
          <a routerLink="/annonces-immobilieres" class="ud-btn btn-modifier">Toutes les annonces<i class="fal fa-arrow-right-long"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Explorer Type de bien -->
<section class="pb30-md scrollTypeDeBien">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center">
        <div class="main-title wow fadeInUp" data-wow-delay="300ms">
          <h2 class="title text-white">Types de biens pris en charge</h2>
          <p class="paragraph text-white">Filtrer les annonces en fonction des différents types de biens</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p-carousel styleClass="filtrerParTypeBien" [value]="typesDeBienActifs" [numVisible]="4" [numScroll]="3" [circular]="true" [responsiveOptions]="responsiveOptions" [showIndicators]="false">
          <ng-template let-typeDeBienActif pTemplate="item">
            <div class="item-with-margin">
              <a [routerLink]="['/annonces-immobilieres']" [queryParams]="{ designation: typeDeBienActif.designation }">
                <div class="iconbox-style1 theme-style">
                  <img class="img" [src]="'assets/images/icons/' + typeDeBienActif.designation + '.png'">
                  <div class="iconbox-content">
                    <h6 class="title">{{typeDeBienActif.designation}}</h6>
                    <p class="text mb-0">{{ totalePublicationsTypeDeBien[typeDeBienActif.designation] }} Annonces</p>
                  </div>
                </div>
              </a>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>
</section>

<!-- Explorer annonces par regions -->
<section class="pb80 bgc-white">
  <div class="container">
    <div class="row align-items-center wow fadeInUp" data-wow-delay="100ms">
      <div class="col-lg-9">
        <div class="main-title2">
          <h2 class="title">Annonces par régions</h2>
          <p class="paragraph">Accéder vite aux différentes annonces en les filtrant pas régions</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="text-start text-lg-end mb-3">
          <a class="ud-btn btn-modifier" [routerLink]="['/annonces-immobilieres']" [queryParams]="{ regions: 'regions-pris-en-compte' }">Toutes les régions<i class="fal fa-arrow-right-long"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 wow fadeInUp" data-wow-delay="300ms">
        <p-carousel styleClass="filtrerParRegion" [value]="regions" [numVisible]="5" [numScroll]="4" [circular]="true" [responsiveOptions]="responsiveOptions" [showIndicators]="false">
          <ng-template let-region pTemplate="item">
            <div class="item-with-margin">
              <a [routerLink]="['/annonces-immobilieres']" [queryParams]="{ libelle: region.libelle }">
                <div class="feature-style2 mb30">
                  <div class="feature-img"><img class="w-100" src="assets/images/listings/city-listing-1.jpg" alt=""></div>
                  <div class="feature-content pt20">
                    <h6 class="title mb-1">{{region.libelle}}</h6>
                    <p class="text fz15">{{ totalePublicationsRegion[region.libelle] }} Annonces</p>
                  </div>
                </div>
              </a>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>
</section>

<!-- Explorer Agences immobilières -->
<section class="pb80 bgc-white">
  <div class="container">
    <div class="row align-items-center wow fadeInUp" data-wow-delay="00ms">
      <div class="col-lg-9">
        <div class="main-title2">
          <h2 class="title">Agences immobilières</h2>
          <p class="paragraph">Vos partenaires de confiance pour concrétiser vos projets immobiliers</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="text-start text-lg-end mb-3">
          <a class="ud-btn btn-modifier" routerLink="/agences-immobilieres">Tout voir<i class="pi pi-arrow-right"></i></a>
        </div>
      </div>
    </div>
    <div class="row wow fadeInUp" >
      <div class="col-md-6 col-lg-4" *ngFor="let agenceImmobiliere of agencesImmobilieres.content">
        <div class="agency-style1 p30 bdrs12 bdr1 mb30">
          <div class="agency-img">
            <a  [routerLink]="['/agence-immobiliere', agenceImmobiliere.nomAgence]">
              <img *ngIf="agenceImmobiliere.logoAgence == ''" class="w-100" loading="lazy"
              src="assets/images/team/logo_par_defaut.jpg" alt="agences">
            </a>

            <a  [routerLink]="['/agence-immobiliere', agenceImmobiliere.nomAgence]">
              <img *ngIf="agenceImmobiliere.logoAgence !== ''" class="w-100" loading="lazy"
              src="{{this.APIEndpoint+'api/logo/agence-immobiliere/'+agenceImmobiliere.id}}" alt="agences">
            </a>
            <div class="badge">
              <span style="background-color: #ff003d" class="span-badge" *ngIf="fermetureOrOuvertureAgence(agenceImmobiliere.heureOuverture, agenceImmobiliere.heureFermeture) == false">Fermé	</span>
              <span style="background-color: #42A948" class="span-badge" *ngIf="fermetureOrOuvertureAgence(agenceImmobiliere.heureOuverture, agenceImmobiliere.heureFermeture) == true">Ouvert	</span>
            </div>
          </div>
          <p-divider></p-divider>
          <div class="agency-details">
            <a  [routerLink]="['/agence-immobiliere', agenceImmobiliere.nomAgence]">
              <h6 class="agency-title mb-1">{{agenceImmobiliere.nomAgence}} <i *ngIf="agenceImmobiliere.estCertifie" class="fa-sharp fa-solid fa-badge-check fa-lg" style="color: #0f77e6;"></i></h6>
            </a>
            <p class="fz15">{{agenceImmobiliere.adresse}}, {{agenceImmobiliere.quartier.libelle}}, {{agenceImmobiliere.quartier.ville.libelle}} - {{agenceImmobiliere.quartier.ville.region.pays.libelle}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Explorer nos produits -->
<section class="pb80 pb30-md bgc-thm-light">
  <div class="container">
    <div class="row">
      <div class="mb10">
        <h2 class="title">Nos différents produits</h2>
      </div>
      <div class="col-md-4 col-lg-4 pl30-md pl15-xs wow fadeInRight" data-wow-delay="500ms">
        <div class="why-chose-list style2">
          <div class="list-one d-flex align-items-start mb30">
            <span class="list-icon flex-shrink-0 flaticon-keywording"></span>
            <div class="list-content flex-grow-1 ml20">
              <h6 class="mb-1">Gestion des agences immobilières</h6>
              <p class="text mb-0 fz15">Ce produit propose des fonctionnalités liées à la gestion des agences immobilières. Elle permet d'enregistrer leurs informations de contact, leurs descriptions détaillés, leurs services qu'elles offrent et d'autres informations pertinentes.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 pl30-md pl15-xs wow fadeInRight" data-wow-delay="500ms">
        <div class="why-chose-list style2">
          <div class="list-one d-flex align-items-start mb30">
            <span class="list-icon flex-shrink-0 flaticon-house-1"></span>
            <div class="list-content flex-grow-1 ml20">
              <h6 class="mb-1">Gestion des biens immobiliers</h6>
              <p class="text mb-0 fz15">Les fonctionnalités relatives à la gestion des biens immobiliers sont intégrées dans cet outil, offrant la possibilité d'enregistrer les détails spécifiques, d'ajouter des descriptions détaillées, des photos, ainsi que leurs localisations et autres informations pertinentes.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 pl30-md pl15-xs wow fadeInRight" data-wow-delay="500ms">
        <div class="why-chose-list style2">
          <div class="list-one d-flex align-items-start mb30">
            <span class="list-icon flex-shrink-0 flaticon-send"></span>
            <div class="list-content flex-grow-1 ml20">
              <h6 class="mb-1">Gestion de la publication des biens immobiliers</h6>
              <p class="text mb-0 fz15">Ce dernier regroupe les fonctionnalités liées à la publication des biens immobiliers sur la plateforme Ahoewo permettant ainsi une visiblité accrue et une commercialisation efficace des biens immobiliers.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 pl30-md pl15-xs wow fadeInRight" data-wow-delay="500ms">
        <div class="why-chose-list style2">
          <div class="list-one d-flex align-items-start mb30">
            <span class="list-icon flex-shrink-0 flaticon-protection"></span>
            <div class="list-content flex-grow-1 ml20">
              <h6 class="mb-1">Gestion locations & ventes</h6>
              <p class="text mb-0 fz15">Ce produit regroupe les fonctionnalités nécessaires à la gestion des processus de location et de vente des biens immobiliers, ce qui inclut la gestion des contrats de location et de vente.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 pl30-md pl15-xs wow fadeInRight" data-wow-delay="500ms">
        <div class="why-chose-list style2">
          <div class="list-one d-flex align-items-start mb30">
            <span class="list-icon flex-shrink-0 flaticon-secure-payment"></span>
            <div class="list-content flex-grow-1 ml20">
              <h6 class="mb-1">Gestion des paiements</h6>
              <p class="text mb-0 fz15">Il intègre les fonctionnalités de paiements liées aux biens immobiliers, permettant de gérer les transactions financières telles que les loyers, la création de factures sur les différentes transactions.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Devenir Responsable/Demarcheur -->
<section class="our-cta bgc-f7 pt90 pb90 pt60-md pb60-md">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-xl-6 wow fadeInLeft">
        <div class="cta-style3">
          <h2 class="cta-title">Devenir un Responsable d'agence immobilière ou un Démarcheur</h2>
          <p class="text mb25">Ce qui vous permettra de gérer les biens qui vous seront déléguer.</p>
          <a routerLink="/inscription" class="ud-btn btn-thm">S'inscrire maintenant</a>
        </div>
      </div>
      <div class="col-lg-5 col-xl-4 offset-xl-2 d-none d-lg-block wow fadeIn" data-wow-delay="300ms">
        <div class="cta-img">
          <img src="assets/images/about/cta-member-1.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
