<div class="dashboard__content bgc-f7">
  <div class="row pb40 d-block d-lg-none">
    <!-- Menu responsive -->
    <app-menu-responsive></app-menu-responsive>
    <!-- End Menu responsive -->
  </div>

  <p-toast></p-toast>

  <!-- Formulaire d'ajout d'un service à une agence immobilière -->
  <div *ngIf="visibleAddForm == 1">
    <div class="row align-items-center pb40">
      <div class="col-xxl-5">
        <div class="dashboard_title_area">
          <h4>Ajout d'un service</h4>
          <p class="text"></p>
        </div>
      </div>
      <div class="col-xxl-7">
        <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
          <a class="ud-btn btn-retour" type="button" (click)="voirListe()">Retour</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30">
          <form [formGroup]="serviceAgenceImmobiliereForm" (ngSubmit)="ajouterServiceAgenceImmobiliere()" class="form-style1">
            <div class="row">
              <p *ngIf="serviceSelectionne && serviceSelectionne.nomService == 'Autres'" class="error">Veuillez noter que tout nouveau service ajouté ne sera pas instantanément intégré à votre agence. Un processus de traitement est en place pour examiner les demandes de nouveaux services. Vous recevrez un retour par e-mail concernant l'état de votre demande. Merci pour votre compréhension et votre patience.</p>
              <div class="col-md-6">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Agence immobilière</label>
                  <br>
                  <p-dropdown
                    class="select" emptyFilterMessage="Aucun résultat trouvé"
                    emptyMessage="Aucun résultat trouvé"
                    [options]="agencesImmobilieres" placeholder="Choisir une agence"
                    formControlName="agenceImmobiliere" [filter]="true" filterBy="codeAgence,nomAgence"
                    filterPlaceholder="Rechercher"
                    [(ngModel)]="agenceSelectionnee"
                    [showClear]="true" (onChange)="agenceChoisie($event)" optionLabel="nomAgence">
                    <ng-template let-agenceImmobiliere pTemplate="item">
                      {{ agenceImmobiliere.codeAgence }}/ {{ agenceImmobiliere.nomAgence }}
                    </ng-template>
                  </p-dropdown>
                  <div class="error" [hidden]="!agenceImmobiliere?.hasError('required') || !agenceImmobiliere.touched">La selection de l'agence est obligatoire</div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Service</label>
                  <br>
                  <p-dropdown
                    class="select" emptyFilterMessage="Aucun résultat trouvé"
                    [options]="services" placeholder="Choisir un service"
                    formControlName="service" [filter]="true" filterBy="codeService,nomService"
                    filterPlaceholder="Rechercher"
                    [showClear]="true" (onChange)="serviceChoisi($event)" optionLabel="nomService">
                  </p-dropdown>
                  <div class="error" [hidden]="!service?.hasError('required') || !service.touched">La selection d'un service est obligatoire</div>
                </div>
              </div>

              <div class="col-md-6">
                <div *ngIf="serviceSelectionne && serviceSelectionne.nomService == 'Autres'" class="form-group">
                  <div class="mb20">
                    <label class="heading-color ff-heading fw600 mb10">Nom du service non trouvé</label>
                    <input type="text" class="form-control" id="nomDuService" name="nomDuService" formControlName="nomDuService" placeholder="Entrer le nom du service non trouvé" required>
                    <div class="error" [hidden]="!nomDuService?.hasError('required') || !nomDuService.touched">La saisie du service non trouvé est obligatoire</div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div *ngIf="serviceSelectionne && serviceSelectionne.nomService == 'Autres'" class="form-group">
                  <div class="mb20">
                    <label class="heading-color ff-heading fw600 mb10">Description du service non trouvé</label>
                    <textarea id="descriptionDuService" name="descriptionDuService" placeholder="La description du service" formControlName="descriptionDuService" style="height: 160px;" required></textarea>
                    <div class="error" [hidden]="descriptionDuService.valid || descriptionDuService.pristine && !descriptionDuService.touched ">La description du service non trouvé est obligatoire</div>
                  </div>
                </div>
              </div>

            </div>
            <br>
            <div class="col-md-12">
              <div class="text-end">
                <button class="ud-btn btn-annuler" type="button" (click)="annuler()">Annuler</button>
                &nbsp;
                <button class="ud-btn btn-valider" [ngClass]="{ 'disabled-link': serviceAgenceImmobiliereForm.invalid }" type="submit">Ajouter</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Formulaire d'ajout d'un service à une agence immobilière -->

  <!-- Formulaire de modification d'un service d'une agence immobilière -->
  <div *ngIf="visibleUpdateForm == 1">
    <div class="row align-items-center pb40">
      <div class="col-xxl-5">
        <div class="dashboard_title_area">
          <h4>Modification d'un service</h4>
          <p class="text"></p>
        </div>
      </div>
      <div class="col-xxl-7">
        <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
          <a class="ud-btn btn-retour" type="button" (click)="voirListe()">Retour</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30">
          <form [formGroup]="serviceAgenceImmobiliereForm" (ngSubmit)="modifierServiceAgenceImmobiliere(serviceAgenceImmobiliere.id)" class="form-style1">
            <div class="row">
              <p *ngIf="serviceSelectionne && serviceSelectionne.nomService == 'Autres'" class="error">Veuillez noter que tout nouveau service ajouté ne sera pas instantanément intégré à votre agence. Un processus de traitement est en place pour examiner les demandes de nouveaux services. Vous recevrez un retour par e-mail concernant l'état de votre demande. Merci pour votre compréhension et votre patience.</p>
              <div class="col-md-6">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Agence immobilière</label>
                  <br>
                  <p-dropdown
                    class="select" emptyFilterMessage="Aucun résultat trouvé"
                    emptyMessage="Aucun résultat trouvé" [(ngModel)]="serviceAgenceImmobiliere.agenceImmobiliere"
                    [options]="agencesImmobilieres" placeholder="Choisir une agence"
                    formControlName="agenceImmobiliere" [filter]="true" filterBy="codeAgence,nomAgence"
                    filterPlaceholder="Rechercher"
                    [showClear]="true" (onChange)="agenceChoisie($event)" optionLabel="nomAgence">
                    <ng-template let-agenceImmobiliere pTemplate="item">
                      {{ agenceImmobiliere.codeAgence }}/ {{ agenceImmobiliere.nomAgence }}
                    </ng-template>
                  </p-dropdown>
                  <div class="error" [hidden]="!agenceImmobiliere?.hasError('required') || !agenceImmobiliere.touched">La selection de l'agence est obligatoire</div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="mb20">
                  <label class="heading-color ff-heading fw600 mb10">Service</label>
                  <br>
                  <p-dropdown
                    class="select" emptyFilterMessage="Aucun résultat trouvé" [(ngModel)]="serviceAgenceImmobiliere.services"
                    [options]="services" placeholder="Choisir un service"
                    formControlName="service" [filter]="true" filterBy="codeService,nomService"
                    filterPlaceholder="Rechercher"
                    [showClear]="true" (onChange)="serviceChoisi($event)" optionLabel="nomService">
                    <ng-template let-service pTemplate="item">
                      {{ service.codeService }} / {{ service.nomService }}
                    </ng-template>
                  </p-dropdown>
                  <div class="error" [hidden]="!service?.hasError('required') || !service.touched">La selection d'un service est obligatoire</div>
                </div>
              </div>

              <div class="col-md-6">
                <div *ngIf="serviceSelectionne && serviceSelectionne.nomService == 'Autres'" class="form-group">
                  <div class="mb20">
                    <label class="heading-color ff-heading fw600 mb10">Nom du service non trouvé</label>
                    <input type="text" class="form-control" id="nomDuService" name="nomDuService" formControlName="nomDuService" placeholder="Entrer le nom du service non trouvé" required>
                    <div class="error" [hidden]="!nomDuService?.hasError('required') || !nomDuService.touched">La saisie du service non trouvé est obligatoire</div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div *ngIf="serviceSelectionne && serviceSelectionne.nomService == 'Autres'" class="form-group">
                  <div class="mb20">
                    <label class="heading-color ff-heading fw600 mb10">Description du service non trouvé</label>
                    <textarea id="descriptionDuService" name="descriptionDuService" placeholder="La description du service" formControlName="descriptionDuService" style="height: 160px;" required></textarea>
                    <div class="error" [hidden]="descriptionDuService.valid || descriptionDuService.pristine && !descriptionDuService.touched ">La description du service non trouvé est obligatoire</div>
                  </div>
                </div>
              </div>

            </div>
            <br>
            <div class="col-md-12">
              <div class="text-end">
                <button class="ud-btn btn-annuler" type="button" (click)="annuler()">Annuler</button>
                &nbsp;
                <button class="ud-btn btn-modifier" [ngClass]="{ 'disabled-link': serviceAgenceImmobiliereForm.invalid }" type="submit">Modifier</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Formulaire de modification d'un service d'une agence immobilière -->

  <!-- Liste des services des agences immobilières -->
  <div *ngIf="affichage == 1">
    <div class="row align-items-center pb40">
      <div class="col-xxl-5">
        <div class="dashboard_title_area">
          <h4>Vos services</h4>
        </div>
      </div>
      <div class="col-xxl-7">
        <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
          <div class="item1 mb15-sm">
            <div class="search_area">
              <input type="text" [(ngModel)]="recherche" class="form-control bdrs12" placeholder="Faire une recherche">
              <label><span class="flaticon-search"></span></label>
            </div>
          </div>
          &nbsp;
          <a type="button" (click)="afficherFormulaireAjouter()" class="ud-btn btn-thm">
            Ajouter un service
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
          <div class="col-xl-4" *ngIf="agencesImmobilieres.length > 1">
            <p-dropdown
              class="select"
              emptyMessage="Aucun résultat trouvé"
              [options]="agencesImmobilieres" placeholder="Filtrer par agence"
              formControlName="agenceImmobiliere"
              [(ngModel)]="agenceSelectionnee"
              [showClear]="true" (onChange)="filtrerParAgence($event)" optionLabel="nomAgence">
              <ng-template let-agenceImmobiliere pTemplate="item">
                {{ agenceImmobiliere.codeAgence }}/ {{ agenceImmobiliere.nomAgence }}
              </ng-template>
            </p-dropdown>
          </div>
          <br>
          <div class="packages_table table-responsive">
            <table class="table-style3 table at-savesearch">
              <thead class="t-head">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col" *ngIf="agencesImmobilieres.length > 1">Agence immobiliere</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Etat</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody class="t-body">
                <tr *ngFor="let serviceAgenceImmobiliere of servicesAgenceImmobiliere.content | genericFilter: recherche;  let i = index">
                  <td class="vam">{{ (numeroDeLaPage * elementsParPage) + i + 1 }}</td>
                  <th scope="row" *ngIf="agencesImmobilieres.length > 1">
                    <div class="listing-style1 dashboard-style d-xxl-flex align-items-center mb-0">
                      <div class="list-thumb">
                        <img *ngIf="serviceAgenceImmobiliere.agenceImmobiliere.logoAgence == ''" class="w-100"
                        src="assets/images/team/logo_par_defaut.jpg" alt="">

                        <img *ngIf="serviceAgenceImmobiliere.agenceImmobiliere.logoAgence !== ''" class="w-100"
                        src="{{this.APIEndpoint+'api/logo/agence-immobiliere/'+ serviceAgenceImmobiliere.agenceImmobiliere.id}}" alt="">
                      </div>
                      <div class="list-content flex-shrink-1">
                        <h6 class="list-title"><a href="{{this.APIEndpoint+'api/logo/agence-immobiliere/'+ serviceAgenceImmobiliere.agenceImmobiliere.id}}">{{ serviceAgenceImmobiliere.agenceImmobiliere.adresse }}</a></h6>
                        <p class="list-text">{{ serviceAgenceImmobiliere.agenceImmobiliere.nomAgence }} <i *ngIf="serviceAgenceImmobiliere.agenceImmobiliere && serviceAgenceImmobiliere.agenceImmobiliere.estCertifie == true" class="fa-sharp fa-solid fa-badge-check fa-lg" style="color: #0f77e6;"></i></p>
                      </div>
                    </div>
                  </th>
                  <td class="vam">{{ serviceAgenceImmobiliere.services.nomService }} </td>
                  <td class="vam">
                    <p-tag *ngIf="serviceAgenceImmobiliere.etat == 0" severity="warning" value="En cours de traitement"></p-tag>
                    <p-tag *ngIf="serviceAgenceImmobiliere.etat == 1" severity="success" value="Activé"></p-tag>
                    <p-tag *ngIf="serviceAgenceImmobiliere.etat == 2" severity="danger" value="Désactivé"></p-tag>
                    <p-tag *ngIf="serviceAgenceImmobiliere.etat == 3" severity="danger" value="Rejeté"></p-tag>
                  </td>
                  <td class="vam">
                    <div class="d-flex">

                      <button pButton type="button" icon="pi pi-eye"
                        (click)="afficherPageDetail(serviceAgenceImmobiliere.id)"
                        pTooltip="Détails" tooltipPosition="top"
                        class="p-button-text p-button-info">
                      </button>

                      <button pButton type="button" icon="pi pi-pencil"
                        (click)="afficherFormulaireModifier(serviceAgenceImmobiliere.id)"
                        pTooltip="Modifier" tooltipPosition="top"
                        class="p-button-text p-button-warning">
                      </button>

                      <button pButton type="button"
                        *ngIf="serviceAgenceImmobiliere.etat == 1"
                        (click)="desactiverServiceAgenceImmobiliere(serviceAgenceImmobiliere.id)" icon="pi pi-lock"
                        pTooltip="Désactiver ce service" tooltipPosition="right" class="p-button-text p-button-danger">
                      </button>

                      <button pButton type="button"
                        *ngIf="serviceAgenceImmobiliere.etat == 2"
                        (click)="activerServiceAgenceImmobiliere(serviceAgenceImmobiliere.id)" icon="pi pi-lock-open"
                        pTooltip="Activer ce service" tooltipPosition="right" class="p-button-text p-button-success">
                      </button>

                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="servicesAgenceImmobiliere.totalElements !== 0" class="mbp_pagination text-center mt30">
            <p-paginator
              (onPageChange)="pagination($event)" [rows]="servicesAgenceImmobiliere.size"
              [totalRecords]="servicesAgenceImmobiliere.totalElements" [rowsPerPageOptions]="[5, 10, 15]"
              [showCurrentPageReport]="true" currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} services"
              [showPageLinks]="true" [showFirstLastIcon]="true">
            </p-paginator>
          </div>
          <div *ngIf="servicesAgenceImmobiliere.totalElements == 0" class="mbp_pagination text-center mt30">
            <p class="mt10 pagination_page_count text-center">Aucun service enregistré pour le moment</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Liste des services des agences immobilières -->

  <!-- Details d'un service d'une agence immobilière -->
  <div *ngIf="affichage == 2">
    <div  class="row align-items-center pb40">
      <div class="col-xxl-8">
        <div class="dashboard_title_area">
          <h4>Détails d'un service</h4>
          <p class="text"></p>
        </div>
      </div>
      <div class="col-xxl-4">
        <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
          <a class="ud-btn btn-retour" type="button" (click)="voirListe()">Retour</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">

          <div class="row">
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Nom</p>
              <p>{{ serviceAgenceImmobiliere.services  && serviceAgenceImmobiliere.services.nomService }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Agence immobilière</p>
              <p>{{ serviceAgenceImmobiliere.services  && serviceAgenceImmobiliere.agenceImmobiliere.nomAgence }} <i *ngIf="serviceAgenceImmobiliere.agenceImmobiliere && serviceAgenceImmobiliere.agenceImmobiliere.estCertifie == true" class="fa-sharp fa-solid fa-badge-check fa-lg" style="color: #0f77e6;"></i></p>
            </div>

            <p-divider></p-divider>
            <div>
              <p class="fw600 mb10 ff-heading dark-color">Description</p>
              <p>{{ serviceAgenceImmobiliere.services  && serviceAgenceImmobiliere.services.description }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Téléphone de l'agence</p>
              <p>{{ serviceAgenceImmobiliere.services  && serviceAgenceImmobiliere.agenceImmobiliere.telephone }}</p>
            </div>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">E-mail de l'agence</p>
              <p>{{ serviceAgenceImmobiliere.services  && serviceAgenceImmobiliere.agenceImmobiliere.adresseEmail }}</p>
            </div>

            <p-divider></p-divider>
            <div class="form-group col-md-6">
              <p class="fw600 mb10 ff-heading dark-color">Etat</p>
              <p>
                <p-tag *ngIf="serviceAgenceImmobiliere.services  && serviceAgenceImmobiliere.etat == 0" severity="warning" value="En cours de traitement"></p-tag>
                <p-tag *ngIf="serviceAgenceImmobiliere.services  && serviceAgenceImmobiliere.etat == 1" severity="success" value="Activé"></p-tag>
                <p-tag *ngIf="serviceAgenceImmobiliere.services  && serviceAgenceImmobiliere.etat == 2" severity="danger" value="Désactivé"></p-tag>
                <p-tag *ngIf="serviceAgenceImmobiliere.services  && serviceAgenceImmobiliere.etat == 3" severity="danger" value="Rejeté"></p-tag>
              </p>
            </div>
          </div>

          <div class="text-end">
            <a class="ud-btn btn-retour" (click)="voirListe()"  type="button">Retour</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Details d'un service d'une agence immobilière -->

</div>
