<div class="dashboard__content bgc-f7">
    <div class="row pb40 d-block d-lg-none">
        <!-- Menu responsive -->
        <app-menu-responsive></app-menu-responsive>
        <!-- End Menu responsive -->
    </div>

    <p-toast></p-toast>

    <!-- Liste des services des agences immobilières - Vue Agent immobilier -->
    <div *ngIf="user.role.code == 'ROLE_AGENTIMMOBILIER'">
        <div class="row align-items-center">
            <div class="col-xxl-5">
                <div class="dashboard_title_area">
                    <h4>Services</h4>
                </div>
            </div>
            <div class="col-xxl-7">
                <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
                    <div class="item1 mb15-sm">
                        <div class="search_area">
                            <div class="input-group">
                                <span class="input-group-text">
                      <i class="pi pi-search" style="font-weight: bold"></i>
                    </span>
                                <input type="text" pInputText [(ngModel)]="recherche" class="inputText" placeholder="Que cherchez-vous ?">
                            </div>
                        </div>
                    </div>
                    &nbsp;
                    <a type="button" (click)="voirListeAgencesImmobilieres()" class="ud-btn btn-retour">
            Agences immobilières
          </a>
                </div>
            </div>
            <p-messages severity="info">
                <ng-template pTemplate>
                    <div class="ml-2">
                        <th scope="col">Agence immobilière : {{agenceImmobiliere.nomAgence}} | {{agenceImmobiliere.quartier.ville.region.libelle}} | {{agenceImmobiliere.quartier.ville.libelle}} | {{agenceImmobiliere.quartier.libelle}} | {{agenceImmobiliere.adresse}}
                            m²
                        </th>
                    </div>
                </ng-template>
            </p-messages>
        </div>
        <div class="row">
            <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
            <div class="col-xl-12">
                <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
                    <div class="packages_table table-responsive">
                        <table class="table-style3 table at-savesearch">
                            <thead class="t-head">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Etat</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="t-body">
                                <tr *ngFor="let serviceAgenceImmobiliere of servicesAgenceImmobiliere.content | genericFilter: recherche;  let i = index">
                                    <td class="vam">{{ (numeroDeLaPage * elementsParPage) + i + 1 }}</td>
                                    <td class="vam">{{ serviceAgenceImmobiliere.services.nomService }} </td>
                                    <td class="vam">
                                        <p-tag *ngIf="serviceAgenceImmobiliere.etat == 0" severity="warning" value="En cours de traitement"></p-tag>
                                        <p-tag *ngIf="serviceAgenceImmobiliere.etat == 1" severity="success" value="Activé"></p-tag>
                                        <p-tag *ngIf="serviceAgenceImmobiliere.etat == 2" severity="danger" value="Désactivé"></p-tag>
                                        <p-tag *ngIf="serviceAgenceImmobiliere.etat == 3" severity="danger" value="Rejeté"></p-tag>
                                    </td>
                                    <td class="vam">
                                        <div class="d-flex">

                                            <button pButton type="button" icon="pi pi-eye" (click)="voirPageDetail(serviceAgenceImmobiliere.id)" pTooltip="Détails" tooltipPosition="top" class="p-button-text p-button-info">
                      </button>

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="servicesAgenceImmobiliere.totalElements !== 0" class="mbp_pagination text-center mt30">
                        <p-paginator (onPageChange)="pagination($event)" [rows]="servicesAgenceImmobiliere.size" [totalRecords]="servicesAgenceImmobiliere.totalElements" [rowsPerPageOptions]="[5, 10, 15]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} services"
                            [showPageLinks]="true" [showFirstLastIcon]="true">
                        </p-paginator>
                    </div>
                    <div *ngIf="servicesAgenceImmobiliere.totalElements == 0" class="mbp_pagination text-center mt30">
                        <p class="mt10 pagination_page_count text-center">Aucun service enregistré pour le moment</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Liste des services des agences immobilières - Vue Agent immobilier -->

    <!-- Liste des services des agences immobilières -->
    <div *ngIf="user.role.code != 'ROLE_AGENTIMMOBILIER'">
        <div class="row align-items-center pb40">
            <div class="col-xxl-5">
                <div class="dashboard_title_area">
                    <h4>Vos services</h4>
                </div>
            </div>
            <div class="col-xxl-7">
                <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
                    <div class="item1 mb15-sm">
                        <div class="search_area">
                            <div class="input-group">
                                <span class="input-group-text">
                      <i class="pi pi-search" style="font-weight: bold"></i>
                    </span>
                                <input type="text" pInputText [(ngModel)]="recherche" class="inputText" placeholder="Que cherchez-vous ?">
                            </div>
                        </div>
                    </div>
                    &nbsp;
                    <a type="button" (click)="voirPageAjout()" class="ud-btn btn-thm">
            Ajouter un service
          </a>
                </div>
            </div>
        </div>
        <div class="row">
            <p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Oui" rejectLabel="Non" acceptButtonStyleClass="accept-label" rejectButtonStyleClass="reject-label"></p-confirmDialog>
            <div class="col-xl-12">
                <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">

                    <div class="d-flex align-items-center justify-content-between" *ngIf="agencesImmobilieres.length > 1">
                        <div class="col-xl-4 mb10">
                            <p-dropdown class="select" emptyMessage="Aucun résultat trouvé" [options]="agencesImmobilieres" placeholder="Filtrer par agence" formControlName="agenceImmobiliere" [(ngModel)]="agenceSelectionnee" [showClear]="true" (onChange)="filtrerParAgence($event)"
                                optionLabel="nomAgence">
                                <ng-template let-agenceImmobiliere pTemplate="item">
                                    {{ agenceImmobiliere.codeAgence }}/ {{ agenceImmobiliere.nomAgence }}
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <a class="ud-btn btn-retour" type="button" (click)="rafraichir()">Rafraîchir<i class="pi pi-refresh"></i></a>
                    </div>
                    <br>
                    <div class="packages_table table-responsive">
                        <table class="table-style3 table at-savesearch">
                            <thead class="t-head">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col" *ngIf="agencesImmobilieres.length > 1">Agence immobiliere</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Etat</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="t-body">
                                <tr *ngFor="let serviceAgenceImmobiliere of servicesAgenceImmobiliere.content | genericFilter: recherche;  let i = index">
                                    <td class="vam">{{ (numeroDeLaPage * elementsParPage) + i + 1 }}</td>
                                    <th scope="row" *ngIf="agencesImmobilieres.length > 1">
                                        <div class="listing-style1 dashboard-style d-xxl-flex align-items-center mb-0">
                                            <div class="list-thumb">
                                                <img *ngIf="serviceAgenceImmobiliere.agenceImmobiliere.logoAgence == ''" class="w-100" src="assets/images/team/logo_par_defaut.jpg" alt="">

                                                <img *ngIf="serviceAgenceImmobiliere.agenceImmobiliere.logoAgence !== ''" class="w-100" src="{{this.APIEndpoint+'api/logo/agence-immobiliere/'+ serviceAgenceImmobiliere.agenceImmobiliere.id}}" alt="">
                                            </div>
                                            <div class="list-content flex-shrink-1">
                                                <h6 class="list-title"><a href="{{this.APIEndpoint+'api/logo/agence-immobiliere/'+ serviceAgenceImmobiliere.agenceImmobiliere.id}}">{{ serviceAgenceImmobiliere.agenceImmobiliere.adresse }}</a></h6>
                                                <p class="list-text">{{ serviceAgenceImmobiliere.agenceImmobiliere.nomAgence }} <i *ngIf="serviceAgenceImmobiliere.agenceImmobiliere && serviceAgenceImmobiliere.agenceImmobiliere.estCertifie == true" class="fa-sharp fa-solid fa-badge-check fa-lg"
                                                        style="color: #0f77e6;"></i></p>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="vam"><span *ngIf="serviceAgenceImmobiliere.etat == 0" class="error dm-sans">(<b>Autres</b>) </span>{{ serviceAgenceImmobiliere.services.nomService }}</td>
                                    <td class="vam">
                                        <p-tag *ngIf="serviceAgenceImmobiliere.etat == 0" severity="warning" value="En cours de traitement"></p-tag>
                                        <p-tag *ngIf="serviceAgenceImmobiliere.etat == 1" severity="success" value="Activé"></p-tag>
                                        <p-tag *ngIf="serviceAgenceImmobiliere.etat == 2" severity="danger" value="Désactivé"></p-tag>
                                        <p-tag *ngIf="serviceAgenceImmobiliere.etat == 3" severity="danger" value="Rejeté"></p-tag>
                                    </td>
                                    <td class="vam">
                                        <div class="d-flex">

                                            <button pButton type="button" icon="pi pi-eye" (click)="voirPageDetail(serviceAgenceImmobiliere.id)" pTooltip="Détails" tooltipPosition="top" class="p-button-text p-button-info">
                      </button>

                                            <button pButton type="button" icon="pi pi-pencil" (click)="voirPageModifier(serviceAgenceImmobiliere.id)" pTooltip="Modifier" tooltipPosition="top" class="p-button-text p-button-warning">
                      </button>

                                            <button pButton type="button" *ngIf="serviceAgenceImmobiliere.etat == 1" (click)="desactiverServiceAgenceImmobiliere(serviceAgenceImmobiliere.id)" icon="pi pi-lock" pTooltip="Désactiver ce service" tooltipPosition="right" class="p-button-text p-button-danger">
                      </button>

                                            <button pButton type="button" *ngIf="serviceAgenceImmobiliere.etat == 2" (click)="activerServiceAgenceImmobiliere(serviceAgenceImmobiliere.id)" icon="pi pi-lock-open" pTooltip="Activer ce service" tooltipPosition="right" class="p-button-text p-button-success">
                      </button>

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="servicesAgenceImmobiliere.totalElements !== 0" class="mbp_pagination text-center mt30">
                        <p-paginator (onPageChange)="pagination($event)" [rows]="servicesAgenceImmobiliere.size" [totalRecords]="servicesAgenceImmobiliere.totalElements" [rowsPerPageOptions]="[5, 10, 15]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage du {first} au {last} des {totalRecords} services"
                            [showPageLinks]="true" [showFirstLastIcon]="true">
                        </p-paginator>
                    </div>
                    <div *ngIf="servicesAgenceImmobiliere.totalElements == 0" class="mbp_pagination text-center mt30">
                        <p class="mt10 pagination_page_count text-center">Aucun service enregistré pour le moment</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Liste des services des agences immobilières -->
</div>