<header class="header-nav nav-homepage-style at-home5 stricky main-menu">
  <!-- Ace Responsive Menu -->
  <nav class="posr">
    <div class="container posr menu_bdrt1">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto">
          <div class="d-flex align-items-center justify-content-between">
            <div class="logos mr40">
              <a routerLink="/" class="header-logo logo1"><img src="assets/images/ahoe-min.png" width="145" height="38" alt=""></a>
              <a routerLink="/" class="header-logo logo2"><img src="assets/images/ahoe-min.png" width="145" height="38" alt=""></a>
            </div>
            <!-- Responsive Menu Structure-->
            <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
              <li class="visible_list">
                <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="list-item"><span class="title">Accueil</span></a>
              </li>
              <li class="visible_list">
                <a routerLink="/annonces-immobilieres" class="list-item"><span class="title">Annonces immobilières</span></a>
              </li>
              <li class="visible_list">
                <a routerLink="/agences-immobilieres" class="list-item"><span class="title">Agences immobilières</span></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-auto">
          <div class="d-flex align-items-center" *ngIf="!user">
            <a class="login-info d-flex align-items-center" routerLink="/connexion"><i class="far fa-user-circle fz16 me-2"></i> <span class="d-none d-xl-block">Se connecter</span></a>
            <a class="login-info d-flex align-items-center" routerLink="/inscription"><span class="d-none d-xl-block">&nbsp;/ S'inscrire</span></a>
            <a class="ud-btn add-property menu-btn bdrs12 mx-2 mx-xl-4" href="page-dashboard-add-property.html">Publier une propriété</a>
          </div>
          <div class="d-flex align-items-center" *ngIf="user">
            <a class="login-info d-flex align-items-center" [routerLink]="redirectToDashboard()" (click)="setActiveLink(redirectToDashboard())"><i class="far fa-user-circle fz16 me-2"></i> <span class="d-none d-xl-block">{{user.username}} &nbsp;- Tableau de bord</span></a>
            <a class="ud-btn add-property menu-btn bdrs12 mx-2 mx-xl-4" href="page-dashboard-add-property.html">Publier une propriété</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
