.notification-plus-button {
  border-radius: 10px;
  display: inline-block;
  color: white;
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  letter-spacing: 0em;
  position: relative;
  overflow: hidden;
  text-align: center;
  height: 46px;
  z-index: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.-is-active {
  background-color: #0d7915;
  color: white !important;
}

:host ::ng-deep .p-badge {
  background-color: red;
  color: white;
}

:host ::ng-deep a:hover .p-badge {
  background-color: red !important;
  color: white !important;
}
