<!-- Start Menu Tableau de bord -->
<div>
    <p class="fz15 fw400 ff-heading" style="margin-top: -8%;">TABLEAU DE BORD</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/dashboard']" routerLinkActive="-is-active">
        <i class="flaticon-home mr15"></i>Tableau de bord
    </a>
</div>
<!-- Start Menu Tableau de bord -->

<!-- Start Menu Gestion des comptes -->
<div>
    <p class="fz15 fw400 ff-heading mt30">GESTION DES COMPTES</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/gerants']" routerLinkActive="-is-active">
        <i class="fa-light fa-user-group mr15"></i>Gérants
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/demandes-certifications']" [ngClass]="{'-is-active': isActive(
    ['/proprietaire/demandes-certifications',
    '/proprietaire/demande-certification/:id'
  ])}">
        <i class="pi pi-verified mr15"></i>&nbsp;Certifications
    </a>
</div>

<!-- Start Menu Gestion des biens immobiliers -->
<div>
    <p class="fz15 fw400 ff-heading mt30">BIENS IMMOBILIERS</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/biens-supports']" [ngClass]="{'-is-active': isActive(
      ['/proprietaire/biens-supports',
      '/proprietaire/bien-support/:id',
      '/proprietaire/add/bien-support',
      '/proprietaire/update/bien-support/:id/:designation',
      '/proprietaire/bien-support/:id/biens-associes',
      '/proprietaire/bien-support/:id/bien-associe/:idBienAssocie',
      '/proprietaire/bien-support/:id/add/bien-associe',
      '/proprietaire/bien-support/:id/update/bien-associe/:idBienAssocie/:designation',
      '/proprietaire/bien/contrats/:codeBien',
      '/proprietaire/bien/contrat-location/:id',
      '/proprietaire/bien/contrat-vente/:id',
      '/proprietaire/bien/contrats/planifications-paiements/:codeContrat',
      '/proprietaire/bien/contrats/planification-paiement/:id',
      '/proprietaire/bien/contrats/paiements/:codeContrat',
      '/proprietaire/bien/contrats/paiement/:id'
      ])}">
        <i class="fa-light fa-house-building mr15"></i>Biens immobiliers
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/delegations-gestions']" [ngClass]="{'-is-active': isActive(
      ['/proprietaire/delegations-gestions',
      '/proprietaire/delegation-gestion/:id',
      '/proprietaire/bien-delegue/contrats/:codeContrat',
      '/proprietaire/bien-delegue/contrat-location/:id',
      '/proprietaire/bien-delegue/contrat-vente/:id',
      '/proprietaire/bien-delegue/contrats/planifications-paiements/:codeContrat',
      '/proprietaire/bien-delegue/contrats/planification-paiement/:id',
      '/proprietaire/bien-delegue/contrats/paiements/:codeContrat',
      '/proprietaire/bien-delegue/contrats/paiement/:id'
      ])}">
        <i class="fa-light fa-handshake mr15"></i>Biens délégués
    </a>
</div>
<!-- End Menu Gestion des biens immobiliers -->

<!-- Start Menu Gestion de la publication des biens -->
<div>
    <p class="fz15 fw400 ff-heading mt30">PUBLICATION DES BIENS</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/publications']" [ngClass]="{'-is-active': isActive(
    ['/proprietaire/publications',
    '/proprietaire/update/publication/:id',
    '/proprietaire/publication/:id'
  ])}">
        <i class="fa-light fa-share-all mr15"></i>Publication des biens
    </a>
</div>
<!-- End Menu Gestion de la publication des biens -->

<!-- Start Menu Gestion des locations et ventes -->
<div>
    <p class="fz15 fw400 ff-heading mt30">LOCATIONS ET VENTES</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/demandes-visites']" [ngClass]="{'-is-active': isActive(
    ['/proprietaire/demandes-visites',
    '/proprietaire/demande-visite/:id'
  ])}">
        <i class="fa-light fa-calendars mr15"></i>&nbsp;Demandes de visites
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/demandes-locations']" [ngClass]="{'-is-active': isActive(
    ['/proprietaire/demandes-locations',
    '/proprietaire/demande-location/:id'
  ])}">
        <i class="fa-light fa-suitcase mr15"></i>&nbsp;Demandes de locations
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/demandes-achats']" [ngClass]="{'-is-active': isActive(
    ['/proprietaire/demandes-achats',
    '/proprietaire/demande-achat/:id'
  ])}">
        <i class="fa-light fa-sack-dollar mr15"></i>&nbsp;Demandes d'achats
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/contrats']" [ngClass]="{'-is-active': isActive(
    ['/proprietaire/contrats',
    '/proprietaire/contrat-location/:id',
    '/proprietaire/contrat-vente/:id'
  ])}">
        <i class="fa-light fa-folders mr15"></i>Contrats
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/suivis-entretiens']" [ngClass]="{'-is-active': isActive(['
    /proprietaire/suivis-entretiens'
  ])}">
        <i class="fa-light fa-wrench mr15"></i>&nbsp;Suivi des entretiens
    </a>
</div>
<!-- End Menu Gestion des locations et ventes -->

<!-- Start Menu Gestion des paiements -->
<div>
    <p class="fz15 fw400 ff-heading mt30">GESTION DES PAIEMENTS</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/planifications-paiements']" [ngClass]="{'-is-active': isActive(
    ['/proprietaire/planifications-paiements',
    '/proprietaire/planification-paiement/:id'
  ])}">
        <i class="fa-light fa-money-check-dollar-pen mr15"></i>Suivi des paiements
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/paiements']" [ngClass]="{'-is-active': isActive(
    ['/proprietaire/paiements',
    '/proprietaire/paiement/:id'
  ])}">
        <i class="fa-light fa-credit-card-front mr15"></i>&nbsp;Paiements
    </a>
</div>
<!-- End Menu Gestion des paiements -->

<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/parametres']" routerLinkActive="-is-active">
        <i class="fa-light fa-gear mr15"></i>&nbsp;&nbsp;Paramètres
    </a>
</div>