<!-- Start Menu Tableau de bord -->
<div>
    <p class="fz15 fw400 ff-heading" style="margin-top: -8%;">TABLEAU DE BORD</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/dashboard']" routerLinkActive="-is-active">
        <i class="flaticon-home mr15"></i>Tableau de bord
    </a>
</div>
<!-- Start Menu Tableau de bord -->

<!-- Start Menu Gestion des comptes -->
<div>
    <p class="fz15 fw400 ff-heading mt30">GESTION DES COMPTES</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/gerants']" routerLinkActive="-is-active">
        <i class="fa-light fa-user-group mr15"></i>Gérants
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/demandes-certifications'] ||
    ['/proprietaire/demandes-certifications', 'id']" routerLinkActive="-is-active">
        <i class="pi pi-verified mr15"></i>&nbsp;Certifications
    </a>
</div>
<!-- End Menu Gestion des comptes -->

<!-- Start Menu Gestion des biens immobiliers -->
<div>
    <p class="fz15 fw400 ff-heading mt30">BIENS IMMOBILIERS</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/biens-supports'] ||
    ['/proprietaire/biens-supports', 'id'] ||
    ['/proprietaire/biens-supports', 'id', 'biens-associes'] ||
    ['/proprietaire/biens-supports', 'id', 'biens-associes', 'idBienAssocie']" routerLinkActive="-is-active">
        <i class="fa-light fa-house-building mr15"></i>Biens immobiliers
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/delegations-gestions'] ||
    ['/proprietaire/delegations-gestions', 'id']" routerLinkActive="-is-active">
        <i class="fa-light fa-handshake mr15"></i>Biens délégués
    </a>
</div>
<!-- End Menu Gestion des biens immobiliers -->

<!-- Start Menu Gestion de la publication des biens -->
<div>
    <p class="fz15 fw400 ff-heading mt30">PUBLICATION DES BIENS</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/publications'] ||
    ['/proprietaire/publications', 'id']" routerLinkActive="-is-active">
        <i class="fa-light fa-share-all mr15"></i>Publication des biens
    </a>
</div>
<!-- End Menu Gestion de la publication des biens -->

<!-- Start Menu Gestion des locations et ventes -->
<div>
    <p class="fz15 fw400 ff-heading mt30">LOCATIONS ET VENTES</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/demandes-visites'] ||
    ['/proprietaire/demandes-visites', 'id']" routerLinkActive="-is-active">
        <i class="fa-light fa-calendars mr15"></i>&nbsp;Demandes de visites
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/demandes-locations'] ||
    ['/proprietaire/demandes-locations', 'id']" routerLinkActive="-is-active">
        <i class="fa-light fa-suitcase mr15"></i>&nbsp;Demandes de locations
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/demandes-achats'] ||
    ['/proprietaire/demandes-achats', 'id']" routerLinkActive="-is-active">
        <i class="fa-light fa-sack-dollar mr15"></i>&nbsp;Demandes d'achats
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/contrats'] ||
    ['/proprietaire/contrats/locations', 'id'] ||
    ['/proprietaire/contrats/ventes', 'id']" routerLinkActive="-is-active">
        <i class="fa-light fa-folders mr15"></i>Contrats
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/suivis-entretiens'] ||
    ['/proprietaire/suivis-entretiens', 'id']" routerLinkActive="-is-active">
        <i class="fa-light fa-wrench mr15"></i>&nbsp;Suivi des entretiens
    </a>
</div>
<!-- End Menu Gestion des locations et ventes -->

<!-- Start Menu Gestion des paiements -->
<div>
    <p class="fz15 fw400 ff-heading mt30">GESTION DES PAIEMENTS</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/planifications-paiements'] ||
    ['/proprietaire/planifications-paiements', 'id']" routerLinkActive="-is-active">
        <i class="fa-light fa-money-check-dollar-pen mr15"></i>Suivi des paiements
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/paiements'] ||
    ['/proprietaire/paiements', 'id']" routerLinkActive="-is-active">
        <i class="fa-light fa-credit-card-front mr15"></i>&nbsp;Paiements
    </a>
</div>
<!-- End Menu Gestion des paiements -->
<div class="sidebar_list_item">
    <a [routerLink]="['/proprietaire/parametres']" routerLinkActive="-is-active">
        <i class="fa-light fa-gear mr15"></i>&nbsp;&nbsp;Paramètres
    </a>
</div>