<div class="dashboard__content bgc-f7">
    <div class="row pb40 d-block d-lg-none">
        <!-- Menu responsive -->
        <app-menu-responsive></app-menu-responsive>
        <!-- End Menu responsive -->
    </div>
    <p-toast></p-toast>

    <!-- Formulaire de modification d'un bien associé -->
    <div>
        <div class="row align-items-center pb40">
            <div class="col-xxl-5">
                <div class="dashboard_title_area">
                    <h4>Modification d'un bien associé</h4>
                </div>
            </div>
            <div class="col-xxl-7">
                <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
                    <a class="ud-btn btn-retour" type="button" (click)="voirPageDetailBienAssocie(bienImmAssocie.id)">Retour</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="ps-widget bgc-white bdrs12 p30 mb30 position-relative">
                    <p-steps [model]="menus" [readonly]="false" [activeIndex]="activeIndex" (activeIndexChange)="onActiveIndexChange($event)"></p-steps>

                    <!-- Start Etape 1e -->
                    <div *ngIf="activeIndex == 0" class="ps-widget bgc-white bdrs12 p30 position-relative">
                        <form [formGroup]="bienStep1Form" class="form-style1">
                            <div class="row">

                                <div class="col-sm-6" *ngIf="bienImmobilier.typeDeBien.designation == 'Maison'">
                                    <div class="mb20">
                                        <label class="heading-color ff-heading fw600 mb10">Type du bien</label>
                                        <br>
                                        <p-dropdown class="select" emptyFilterMessage="Aucun résultat trouvé" emptyMessage="Aucun résultat trouvé" [options]="typesDeBienPourMaison" placeholder="Choisir le type du bien" formControlName="typeDeBien" [filter]="true" filterBy="designation" filterPlaceholder="Rechercher"
                                            (onChange)="typeDeBienChoisi($event)" [(ngModel)]="bienImmAssocie.typeDeBien" optionLabel="designation">
                                        </p-dropdown>
                                        <div class="error" [hidden]="!typeDeBien?.hasError('required') || !typeDeBien.touched">La selection du type de bien est obligatoire</div>
                                    </div>
                                </div>

                                <div class="col-sm-6" *ngIf="bienImmobilier.typeDeBien.designation == 'Immeuble'">
                                    <div class="mb20">
                                        <label class="heading-color ff-heading fw600 mb10">Type du bien</label>
                                        <br>
                                        <p-dropdown class="select" emptyFilterMessage="Aucun résultat trouvé" emptyMessage="Aucun résultat trouvé" [options]="typesDeBienPourImmeuble" placeholder="Choisir le type du bien" formControlName="typeDeBien" [filter]="true" filterBy="designation" filterPlaceholder="Rechercher"
                                            (onChange)="typeDeBienChoisi($event)" [(ngModel)]="bienImmAssocie.typeDeBien" optionLabel="designation">
                                        </p-dropdown>
                                        <div class="error" [hidden]="!typeDeBien?.hasError('required') || !typeDeBien.touched">La selection du type de bien est obligatoire</div>
                                    </div>
                                </div>

                                <div class="col-sm-6" *ngIf="bienImmobilier.typeDeBien.designation == 'Villa'">
                                    <div class="mb20">
                                        <label class="heading-color ff-heading fw600 mb10">Type du bien</label>
                                        <p-dropdown class="select" emptyFilterMessage="Aucun résultat trouvé" emptyMessage="Aucun résultat trouvé" [options]="typesDeBienPourVilla" placeholder="Choisir le type du bien" formControlName="typeDeBien" [filter]="true" filterBy="designation" filterPlaceholder="Rechercher"
                                            (onChange)="typeDeBienChoisi($event)" [(ngModel)]="bienImmAssocie.typeDeBien" optionLabel="designation">
                                        </p-dropdown>
                                        <div class="error" [hidden]="!typeDeBien?.hasError('required') || !typeDeBien.touched">La selection du type de bien est obligatoire</div>
                                    </div>
                                </div>

                                <div class="col-sm-6" *ngIf="afficherChampCategorie(typeDeBienSelectionne.designation)">
                                    <div class="mb20">
                                        <label class="heading-color ff-heading fw600 mb10">Catégorie</label>
                                        <p-dropdown class="select" [options]="listeDesCategories" placeholder="Choisir une catégorie" formControlName="categorie" (onChange)="categorieChoisie($event)" [(ngModel)]="bienImmAssocie.categorie">
                                        </p-dropdown>
                                        <div class="error" [hidden]="!categorie?.hasError('required') || !categorie.touched">La selection de la catégorie est obligatoire</div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="mb20">
                                        <label class="heading-color ff-heading fw600 mb10">Surface en m²</label>
                                        <input type="number" class="form-control" id="surface" placeholder="Entrer la surface du bien en m²" name="surface" [(ngModel)]="bienImmAssocie.surface" [ngModelOptions]="{standalone: true}" min="0">
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="mb20">
                                        <label class="heading-color ff-heading fw600 mb10">Description</label>
                                        <textarea id="description" name="description" placeholder="La description du bien immobilier" style="height: 160px;" [(ngModel)]="bienImmAssocie.description" [ngModelOptions]="{standalone: true}"></textarea>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="mb20">
                                        <label class="heading-color ff-heading fw600 mb10">Images</label>
                                        <p-fileUpload chooseLabel="Sélectionner les images" [auto]="true" mode="advanced" url="https://www.primefaces.org/cdn/api/upload.php" [multiple]="true" (onUpload)="telechargerImagesBienImmobilier($event)" accept="image/*" chooseStyleClass="choose-label"
                                            removeStyleClass="remove-label">
                                            <ng-template pTemplate="content">
                                                <ul *ngIf="imagesBienImmobilier.length">
                                                    <li *ngFor="let imageBienImmobilier of imagesBienImmobilier; let i = index" class="uploaded-file-item">
                                                        <div class="file-item-container">
                                                            <span class="file-name">{{ imageBienImmobilier.name }}</span>
                                                            <p-button icon="pi pi-times" severity="danger" styleClass="remove-file" (click)="deleteFile(imageBienImmobilier)"></p-button>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </ng-template>
                                        </p-fileUpload>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="d-sm-flex justify-content-between">
                                        <button class="ud-btn btn-annuler" type="button" (click)="resetFormStep1()">Annuler</button>
                                        <button class="ud-btn btn-valider" [ngClass]="{ 'disabled-link': bienStep1Form.invalid }" (click)="etape2()">Suivant<i class="pi pi-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- End Etape 1e -->

                    <!-- Start Etape 2ème -->
                    <div *ngIf="activeIndex == 1" class="ps-widget bgc-white bdrs12 p30 position-relative">
                        <div class="row">
                            <h6 class="title fz17 mb30" *ngIf="typeDeBienSelectionne.designation == 'Chambre salon' || typeDeBienSelectionne.designation == 'Appartement' || typeDeBienSelectionne.designation == 'Bureau'">
                                Caractéristiques à saisir :</h6>
                            <div class="row" *ngIf="typeDeBienSelectionne.designation == 'Chambre salon' || typeDeBienSelectionne.designation == 'Appartement' || typeDeBienSelectionne.designation == 'Bureau'">
                                <div class="col-sm-6">
                                    <div class="mb20">
                                        <label class="heading-color ff-heading fw600 mb10">Nombre de chambres</label>
                                        <input type="number" class="form-control" id="nombreChambres" placeholder="Nombre de chambres" name="nombreChambres" [(ngModel)]="caracteristiqueBienAssocie.nombreChambres" min="0">
                                    </div>
                                </div>
                                <div class="col-sm-6" *ngIf="typeDeBienSelectionne.designation == 'Appartement'">
                                    <div class="mb20">
                                        <label class="heading-color ff-heading fw600 mb10">Nombre de salons</label>
                                        <input type="number" class="form-control" id="nombreSalons" placeholder="Nombre de salons" name="nombreSalons" [(ngModel)]="caracteristiqueBienAssocie.nombreSalons" min="0">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb20">
                                        <label class="heading-color ff-heading fw600 mb10">Nombre de placards</label>
                                        <input type="number" class="form-control" id="nombrePlacards" placeholder="Nombre de placards" name="nombrePlacards" [(ngModel)]="caracteristiqueBienAssocie.nombrePlacards" min="0">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb20">
                                        <label class="heading-color ff-heading fw600 mb10">Nombre de WC douche interne</label>
                                        <input type="number" class="form-control" id="nombreWCDoucheInterne" placeholder="Nombre de WC douche interne" name="nombreWCDoucheInterne" [(ngModel)]="caracteristiqueBienAssocie.nombreWCDoucheInterne" min="0">
                                    </div>
                                </div>
                            </div>

                            <h6 class="title fz17 mb30">Caractéristiques à cocher :</h6>
                            <div class="row">
                                <div class="col-sm-6 col-xl-4">
                                    <div class="checkbox-style1">
                                        <div class="checkbox">
                                            <div class="mb10">
                                                <p-checkbox [binary]="true" (onChange)="check()" [(ngModel)]="caracteristiqueBienAssocie.eauTde" labelStyleClass="checkboxLabel" label="Eau TDE">
                                                </p-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox-style1">
                                        <div class="checkbox">
                                            <div class="mb10">
                                                <p-checkbox [binary]="true" (onChange)="check()" [(ngModel)]="caracteristiqueBienAssocie.compteurEau" labelStyleClass="checkboxLabel" label="Compteur d'eau">
                                                </p-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox-style1" *ngIf="typeDeBienSelectionne.designation == 'Chambre' || typeDeBienSelectionne.designation == 'Appartement' || typeDeBienSelectionne.designation == 'Chambre salon'">
                                        <div class="checkbox">
                                            <div class="mb10">
                                                <p-checkbox [binary]="true" (onChange)="check()" [(ngModel)]="caracteristiqueBienAssocie.cuisineInterne" labelStyleClass="checkboxLabel" label="Cuisine interne">
                                                </p-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox-style1">
                                        <div class="checkbox">
                                            <div class="mb10">
                                                <p-checkbox [binary]="true" (onChange)="check()" [(ngModel)]="caracteristiqueBienAssocie.wcDoucheExterne" labelStyleClass="checkboxLabel" label="WC-Douche externe">
                                                </p-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox-style1">
                                        <div class="checkbox">
                                            <div class="mb10">
                                                <p-checkbox [binary]="true" (onChange)="check()" [(ngModel)]="caracteristiqueBienAssocie.balcon" labelStyleClass="checkboxLabel" label="Balcon">
                                                </p-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox-style1">
                                        <div class="checkbox">
                                            <div class="mb10">
                                                <p-checkbox [binary]="true" (onChange)="check()" [(ngModel)]="caracteristiqueBienAssocie.climatisation" labelStyleClass="checkboxLabel" label="Climatisation">
                                                </p-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox-style1">
                                        <div class="checkbox">
                                            <div class="mb10">
                                                <p-checkbox [binary]="true" (onChange)="check()" [(ngModel)]="caracteristiqueBienAssocie.dalle" labelStyleClass="checkboxLabel" label="Dallé">
                                                </p-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-xl-4">
                                    <div class="checkbox-style1">
                                        <div class="checkbox">
                                            <div class="mb10">
                                                <p-checkbox [binary]="true" (onChange)="check()" [(ngModel)]="caracteristiqueBienAssocie.eauForage" labelStyleClass="checkboxLabel" label="Eau Forage">
                                                </p-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox-style1">
                                        <div class="checkbox">
                                            <div class="mb10">
                                                <p-checkbox [binary]="true" (onChange)="check()" [(ngModel)]="caracteristiqueBienAssocie.compteurAdditionnel" labelStyleClass="checkboxLabel" label="Compteur additionnel">
                                                </p-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox-style1" *ngIf="typeDeBienSelectionne.designation == 'Chambre' || typeDeBienSelectionne.designation == 'Appartement' || typeDeBienSelectionne.designation == 'Chambre salon'">
                                        <div class="checkbox">
                                            <div class="mb10">
                                                <p-checkbox [binary]="true" (onChange)="check()" [(ngModel)]="caracteristiqueBienAssocie.cuisineExterne" labelStyleClass="checkboxLabel" label="Cuisine externe">
                                                </p-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox-style1">
                                        <div class="checkbox">
                                            <div class="mb10">
                                                <p-checkbox [binary]="true" (onChange)="check()" [(ngModel)]="caracteristiqueBienAssocie.wifi" labelStyleClass="checkboxLabel" label="Wifi">
                                                </p-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox-style1">
                                        <div class="checkbox">
                                            <div class="mb10">
                                                <p-checkbox [binary]="true" (onChange)="check()" [(ngModel)]="caracteristiqueBienAssocie.etage" labelStyleClass="checkboxLabel" label="À l'étage">
                                                </p-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox-style1">
                                        <div class="checkbox">
                                            <div class="mb10">
                                                <p-checkbox [binary]="true" (onChange)="check()" [(ngModel)]="caracteristiqueBienAssocie.baieVitree" labelStyleClass="checkboxLabel" label="Baie vitrée">
                                                </p-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox-style1">
                                        <div class="checkbox">
                                            <div class="mb10">
                                                <p-checkbox [binary]="true" (onChange)="check()" [(ngModel)]="caracteristiqueBienAssocie.plafonne" labelStyleClass="checkboxLabel" label="Plafonné">
                                                </p-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-xl-4">
                                    <div class="checkbox-style1">
                                        <div class="checkbox">
                                            <div class="mb10">
                                                <p-checkbox [binary]="true" (onChange)="check()" [(ngModel)]="caracteristiqueBienAssocie.electriciteCeet" labelStyleClass="checkboxLabel" label="Electricité CEET">
                                                </p-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox-style1">
                                        <div class="checkbox">
                                            <div class="mb10">
                                                <p-checkbox [binary]="true" (onChange)="check()" [(ngModel)]="caracteristiqueBienAssocie.cashPowerPersonnel" labelStyleClass="checkboxLabel" label="Cash power personnel">
                                                </p-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox-style1" *ngIf="typeDeBienSelectionne.designation == 'Chambre' || typeDeBienSelectionne.designation == 'Boutique' || typeDeBienSelectionne.designation == 'Magasin'">
                                        <div class="checkbox">
                                            <div class="mb10">
                                                <p-checkbox [binary]="true" (onChange)="check()" [(ngModel)]="caracteristiqueBienAssocie.wcDoucheInterne" labelStyleClass="checkboxLabel" label="WC-Douche interne">
                                                </p-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox-style1" *ngIf="typeDeBienSelectionne.designation == 'Chambre' || typeDeBienSelectionne.designation == 'Chambre salon' || typeDeBienSelectionne.designation == 'Appartement' || typeDeBienSelectionne.designation == 'Bureau'">
                                        <div class="checkbox">
                                            <div class="mb10">
                                                <p-checkbox [binary]="true" (onChange)="check()" [(ngModel)]="caracteristiqueBienAssocie.garage" labelStyleClass="checkboxLabel" label="Garage">
                                                </p-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox-style1">
                                        <div class="checkbox">
                                            <div class="mb10">
                                                <p-checkbox [binary]="true" (onChange)="check()" [(ngModel)]="caracteristiqueBienAssocie.terrasse" labelStyleClass="checkboxLabel" label="Terrasse">
                                                </p-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox-style1">
                                        <div class="checkbox">
                                            <div class="mb10">
                                                <p-checkbox [binary]="true" (onChange)="check()" [(ngModel)]="caracteristiqueBienAssocie.solCarelle" labelStyleClass="checkboxLabel" label="Sol carellé">
                                                </p-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox-style1" *ngIf="typeDeBienSelectionne.designation == 'Chambre'">
                                        <div class="checkbox">
                                            <div class="mb10">
                                                <p-checkbox [binary]="true" (onChange)="check()" [(ngModel)]="caracteristiqueBienAssocie.placard" labelStyleClass="checkboxLabel" label="Placard">
                                                </p-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt30">
                                <div class="d-sm-flex justify-content-between">
                                    <button class="ud-btn btn-retour" (click)="etape1()"><i class="pi pi-arrow-left"></i>
                Précédent</button>
                                    <button class="ud-btn btn-valider" [ngClass]="{ 'disabled-link': bienStep1Form.invalid || bienStep2Form.invalid }" (click)="etape3()" type="button">Suivant<i class="pi pi-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Etape 2 -->

                    <!-- Start Etape 3ème -->
                    <div *ngIf="activeIndex == 2" class="ps-widget bgc-white bdrs12 p30 position-relative">
                        <div class="row">
                            <div class="text-center" *ngIf="imgURLs.length == 0">
                                <p-image class="w-100" imageClass="imageLength0" src="assets/images/home/house.jpg" alt="" width="700" loading="lazy"></p-image>
                            </div>

                            <div *ngIf="imgURLs.length !== 0">
                                <p-galleria [value]="imgURLs" [showThumbnails]="true" [circular]="true" [showItemNavigatorsOnHover]="true" [showItemNavigators]="true" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '640px', 'margin': '0 auto' }" [numVisible]="5">

                                    <ng-template pTemplate="item" let-item>
                                        <img [src]="item" style="width: 100%; border-radius:10px;" loading="lazy" />
                                    </ng-template>

                                    <ng-template pTemplate="thumbnail" *ngIf="imgURLs.length > 4" let-item>
                                        <div class="grid grid-nogutter justify-content-center">
                                            <img [src]="item" style="width: 100%; border-radius:8px;" loading="lazy" />
                                        </div>
                                    </ng-template>

                                </p-galleria>
                            </div>

                            <p-divider *ngIf="bienImmAssocie.description"></p-divider>
                            <h4 class="title fz17 mb30" *ngIf="bienImmAssocie.description">Description</h4>
                            <p class="text justify-text" *ngIf="bienImmAssocie.description">
                                {{ bienImmAssocie.description }}
                            </p>

                            <p-divider></p-divider>
                            <h4 class="title fz17 mb30">Détails </h4>
                            <div class="row">
                                <div class="col-md-6 col-xl-4">
                                    <div class="d-flex justify-content-between">
                                        <div class="pd-list">
                                            <p *ngIf="user.role.code == 'ROLE_RESPONSABLE' || user.role.code == 'ROLE_AGENTIMMOBILIER'" class="fw600 mb10 ff-heading dark-color">Agence immobiliere</p>
                                            <p class="fw600 mb10 ff-heading dark-color">Type de bien</p>
                                            <p *ngIf="afficherChampCategorie(bienImmAssocie.typeDeBien.designation)" class="fw600 mb10 ff-heading dark-color">Catégorie</p>
                                            <p class="fw600 mb10 ff-heading dark-color">Pays</p>
                                            <p class="fw600 mb10 ff-heading dark-color">Région</p>
                                        </div>
                                        <div class="pd-list">
                                            <p *ngIf="user.role.code == 'ROLE_RESPONSABLE' || user.role.code == 'ROLE_AGENTIMMOBILIER'" class="text mb10">{{ bienImmAssocie.agenceImmobiliere.nomAgence }}</p>
                                            <p class="text mb10">{{ bienImmAssocie.typeDeBien.designation }}</p>
                                            <p *ngIf="afficherChampCategorie(bienImmAssocie.typeDeBien.designation)" class="text mb10">{{ bienImmAssocie.categorie }}</p>
                                            <p class="text mb10">{{ bienImmAssocie.quartier.ville.region.pays.libelle }}</p>
                                            <p class="text mb10">{{ bienImmAssocie.quartier.ville.region.libelle }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-4 offset-xl-2">
                                    <div class="d-flex justify-content-between">
                                        <div class="pd-list">
                                            <p class="fw600 mb10 ff-heading dark-color">Ville</p>
                                            <p *ngIf="user.role.code == 'ROLE_RESPONSABLE' || user.role.code == 'ROLE_AGENTIMMOBILIER'" class="fw600 mb10 ff-heading dark-color">Téléphone de l'agence</p>
                                            <p class="fw600 mb10 ff-heading dark-color">Quartier</p>
                                            <p class="fw600 mb10 ff-heading dark-color" *ngIf="bienImmAssocie.adresse">Adresse</p>
                                            <p class="fw600 mb10 ff-heading dark-color" *ngIf="bienImmAssocie.surface">Surface</p>
                                        </div>
                                        <div class="pd-list">
                                            <p class="text mb10">{{ bienImmAssocie.quartier.ville.libelle }}</p>
                                            <p *ngIf="user.role.code == 'ROLE_RESPONSABLE' || user.role.code == 'ROLE_AGENTIMMOBILIER'" class="text mb10">{{ bienImmAssocie.agenceImmobiliere.telephone }}</p>
                                            <p class="text mb10">{{ bienImmAssocie.quartier.libelle }}</p>
                                            <p class="text mb10" *ngIf="bienImmAssocie.adresse">{{ bienImmAssocie.adresse }}</p>
                                            <p class="text mb10" *ngIf="bienImmAssocie.surface">{{ bienImmAssocie.surface }} m²</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <p-divider *ngIf="caracteristiqueBienAssocie"></p-divider>
                            <h4 class="title fz17 mb30" *ngIf="caracteristiqueBienAssocie">Caractéristiques </h4>
                            <div class="row">
                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.nombreChambres">
                                    <p class="fw600 mb5 ff-heading dark-color">Nombre de chambres</p>
                                    <p class="text">{{ caracteristiqueBienAssocie.nombreChambres }}</p>
                                </div>
                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.nombreChambresSalon">
                                    <p class="fw600 mb5 ff-heading dark-color">Nombre de chambres salon</p>
                                    <p class="text">{{ caracteristiqueBienAssocie.nombreChambresSalon }}</p>
                                </div>
                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.nombreBureaux">
                                    <p class="fw600 mb5 ff-heading dark-color">Nombre de bureaux</p>
                                    <p class="text">{{ caracteristiqueBienAssocie.nombreBureaux }}</p>
                                </div>
                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.nombreBoutiques">
                                    <p class="fw600 mb5 ff-heading dark-color">Nombre de boutiques</p>
                                    <p class="text">{{ caracteristiqueBienAssocie.nombreBoutiques }}</p>
                                </div>
                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.nombreMagasins">
                                    <p class="fw600 mb5 ff-heading dark-color">Nombre de magasions</p>
                                    <p class="text">{{ caracteristiqueBienAssocie.nombreMagasins }}</p>
                                </div>
                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.nombreAppartements">
                                    <p class="fw600 mb5 ff-heading dark-color">Nombre d'appartements</p>
                                    <p class="text">{{ caracteristiqueBienAssocie.nombreAppartements }}</p>
                                </div>
                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.nombreEtages">
                                    <p class="fw600 mb5 ff-heading dark-color">Nombre d'étages</p>
                                    <p class="text">{{ caracteristiqueBienAssocie.nombreEtages }}</p>
                                </div>
                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.nombreGarages">
                                    <p class="fw600 mb5 ff-heading dark-color">Nombre de garages</p>
                                    <p class="text">{{ caracteristiqueBienAssocie.nombreGarages }}</p>
                                </div>
                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.nombreCuisineInterne">
                                    <p class="fw600 mb5 ff-heading dark-color">Nombre de cusine interne</p>
                                    <p class="text">{{ caracteristiqueBienAssocie.nombreCuisineInterne }}</p>
                                </div>
                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.nombreCuisineExterne">
                                    <p class="fw600 mb5 ff-heading dark-color">Nombre de cuisine externe</p>
                                    <p class="text">{{ caracteristiqueBienAssocie.nombreCuisineExterne }}</p>
                                </div>
                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.nombreWCDoucheInterne">
                                    <p class="fw600 mb5 ff-heading dark-color">Nombre de WC-Douche interne</p>
                                    <p class="text">{{ caracteristiqueBienAssocie.nombreWCDoucheInterne }}</p>
                                </div>
                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.nombreWCDoucheExterne">
                                    <p class="fw600 mb5 ff-heading dark-color">Nombre de WC-Douche externe</p>
                                    <p class="text">{{ caracteristiqueBienAssocie.nombreWCDoucheExterne }}</p>
                                </div>
                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.nombreSalons">
                                    <p class="fw600 mb5 ff-heading dark-color">Nombre de salons</p>
                                    <p class="text">{{ caracteristiqueBienAssocie.nombreSalons }}</p>
                                </div>
                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.nombrePlacards">
                                    <p class="fw600 mb5 ff-heading dark-color">Nombre de placards</p>
                                    <p class="text">{{ caracteristiqueBienAssocie.nombrePlacards }}</p>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.parking">
                                    <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Parking</p>
                                </div>

                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.eauTde">
                                    <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Eau TDE
                                    </p>
                                </div>

                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.compteurEau">
                                    <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Compteur d'eau</p>
                                </div>

                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.wifi">
                                    <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Wifi
                                    </p>
                                </div>

                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.placard">
                                    <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Placards</p>
                                </div>

                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.cuisineInterne">
                                    <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Cuisine interne</p>
                                </div>

                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.wcDoucheInterne">
                                    <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>WC-Douche interne</p>
                                </div>

                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.balcon">
                                    <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Balcon</p>
                                </div>

                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.garage">
                                    <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Garage</p>
                                </div>

                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.eauForage">
                                    <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Eau Forage
                                    </p>
                                </div>

                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.electriciteCeet">
                                    <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Électricité CEET</p>
                                </div>

                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.ascenseur">
                                    <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Ascenceur</p>
                                </div>

                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.etage">
                                    <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>À l'étage
                                    </p>
                                </div>

                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.dalle">
                                    <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Dallé
                                    </p>
                                </div>

                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.cuisineExterne">
                                    <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Cuisine externe</p>
                                </div>

                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.wcDoucheExterne">
                                    <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>WC-Douche externe</p>
                                </div>

                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.climatisation">
                                    <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Climatiseur</p>
                                </div>

                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.plafonne">
                                    <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Plafonné</p>
                                </div>

                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.baieVitree">
                                    <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Baie vitrée
                                    </p>
                                </div>

                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.solCarelle">
                                    <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Sol carellé
                                    </p>
                                </div>

                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.cashPowerPersonnel">
                                    <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Cash power personnel</p>
                                </div>

                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.compteurAdditionnel">
                                    <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Compteur additionnel</p>
                                </div>

                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.jardin">
                                    <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Jardin</p>
                                </div>

                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.piscine">
                                    <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Piscine</p>
                                </div>

                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.terrasse">
                                    <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Terrasse</p>
                                </div>

                                <div class="col-sm-6 col-xl-4" *ngIf="caracteristiqueBienAssocie.toiletteVisiteur">
                                    <p class="text mb10"><i style="color: #42A948;" class="pi pi-check-circle align-middle pe-2"></i>Toilette visiteur</p>
                                </div>
                            </div>


                            <div class="col-md-12 mt30">
                                <div class="d-sm-flex justify-content-between">
                                    <button class="ud-btn btn-retour" type="button" (click)="etape2()"><i class="pi pi-arrow-left"></i>
                Précédent</button>
                                    <button class="ud-btn btn-modifier" [ngClass]="{ 'disabled-link': bienStep1Form.invalid || bienStep2Form.invalid || isSubmitting }" (click)="modifierBienImmAssocie(bienImmAssocie.id)"><i *ngIf="isSubmitting" class="pi pi-spin pi-spinner"></i> Modifier</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Etape 3 -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Formulaire de modification d'un bien associé -->

</div>
