<div class="dashboard__content bgc-f7">
    <div class="row pb40 d-block d-lg-none">
        <!-- Menu responsive -->
        <app-menu-responsive></app-menu-responsive>
        <!-- End Menu responsive -->
    </div>

    <div class="dashboard_title_area">
        <h3>
            Bienvenue, M/Mlle {{ user.nom }} {{ user.prenom }}!
            <i *ngIf="user.estCertifie && (user.role.code == 'ROLE_RESPONSABLE' || user.role.code == 'ROLE_AGENTIMMOBILIER' || user.role.code == 'ROLE_PROPRIETAIRE' || user.role.code == 'ROLE_DEMARCHEUR')" class="fa-sharp fa-solid fa-badge-check" style="color: #0f77e6;"></i>
        </h3>

        <h6 class="text">Nous sommes heureux de vous revoir !</h6>

        <h6 *ngIf="user.etatCompte == false" class="text">
            <span class="error">
        <i class="fa-regular fa-triangle-exclamation fa-2xl"></i> Votre compte est désactivé. Veuillez contacter l'équipe support technique ahoewo pour obtenir de l'aide supplémentaire.
      </span>
        </h6>

        <h6 *ngIf="!user.estCertifie && (user.role.code == 'ROLE_PROPRIETAIRE' || user.role.code == 'ROLE_DEMARCHEUR')" class="text">
            <span *ngIf="demandeCertifications.length == 0" class="error">
        <i class="fa-regular fa-triangle-exclamation fa-2xl"></i> Votre compte n'est pas certifié, veuillez demander la certification de compte <br>en cliquant sur le menu <b>certifications</b> !
      </span>
            <span *ngIf="demandeCertifications.length !== 0" class="error">
        <i class="fa-regular fa-triangle-exclamation fa-2xl"></i> Votre compte est en attente de <b>certifications</b> !
      </span>
        </h6>

        <h6 *ngIf="!user.estCertifie && user.role.code == 'ROLE_RESPONSABLE'" class="text">
            <span *ngIf="demandeCertifications.length == 0" class="error">
        <i class="fa-regular fa-triangle-exclamation fa-2xl"></i> Votre compte n'est pas certifié, veuillez ajouter votre <b>agence immobilière</b> en cliquant sur le menu <b>agences immobilières</b><br> et demander la certification de cette dernière en cliquant sur le menu <b>certifications</b> !
      </span>
            <span *ngIf="demandeCertifications.length !== 0" class="error">
        <i class="fa-regular fa-triangle-exclamation fa-2xl"></i> Votre compte est en attente de <b>certifications</b> !
      </span>
        </h6>
        <br>
    </div>

    <div *ngIf="connexionReussie">
        <p-toast position="bottom-right" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'3000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>
    </div>

    <!-- Start Vue Administrateur -->
    <div *ngIf="user.role.code == 'ROLE_ADMINISTRATEUR'">
        <p-tabView>
            <p-tabPanel header="Gestion des comptes">
                <app-gestion-des-comptes></app-gestion-des-comptes>
            </p-tabPanel>
            <p-tabPanel header="Agences immobilières">
                <app-gestion-des-agences-immobieres></app-gestion-des-agences-immobieres>
            </p-tabPanel>
            <p-tabPanel header="Biens immobiliers">
                <app-gestion-des-biens-immobiliers></app-gestion-des-biens-immobiliers>
            </p-tabPanel>
        </p-tabView>
    </div>
    <!-- End Vue Administrateur -->

    <!-- Start Vue Notaire -->
    <div class="row" *ngIf="user.role.code == 'ROLE_NOTAIRE'">
        <p-tabView>
            <p-tabPanel header="Gestion des comptes">
                <app-gestion-des-comptes></app-gestion-des-comptes>
            </p-tabPanel>
        </p-tabView>
    </div>
    <!-- End Vue Notaire -->

    <!-- Start Vue Proprietaire -->
    <div class="row" *ngIf="user.role.code == 'ROLE_PROPRIETAIRE'">
        <p-tabView>
            <p-tabPanel header="Gestion des comptes">
                <app-gestion-des-comptes></app-gestion-des-comptes>
            </p-tabPanel>
            <p-tabPanel header="Biens immobiliers">
                <app-gestion-des-biens-immobiliers></app-gestion-des-biens-immobiliers>
            </p-tabPanel>
            <p-tabPanel header="Publications des biens">
                <app-gestion-des-publications></app-gestion-des-publications>
            </p-tabPanel>
            <p-tabPanel header="Locations et ventes">
                <app-gestion-des-locations-et-ventes></app-gestion-des-locations-et-ventes>
            </p-tabPanel>
            <p-tabPanel header="Gestions des paiements">
                <app-gestion-des-paiements></app-gestion-des-paiements>
            </p-tabPanel>
        </p-tabView>
    </div>
    <!-- End Vue Proprietaire -->

    <!-- Start Vue Responsable agence immobilière -->
    <div class="row" *ngIf="user.role.code == 'ROLE_RESPONSABLE'">
        <p-tabView [scrollable]="true">
            <p-tabPanel header="Gestion des comptes">
                <app-gestion-des-comptes></app-gestion-des-comptes>
            </p-tabPanel>
            <p-tabPanel header="Agences immobilières">
                <app-gestion-des-agences-immobieres></app-gestion-des-agences-immobieres>
            </p-tabPanel>
            <p-tabPanel header="Biens immobiliers">
                <app-gestion-des-biens-immobiliers></app-gestion-des-biens-immobiliers>
            </p-tabPanel>
            <p-tabPanel header="Publications des biens">
                <app-gestion-des-publications></app-gestion-des-publications>
            </p-tabPanel>
            <p-tabPanel header="Locations et ventes">
                <app-gestion-des-locations-et-ventes></app-gestion-des-locations-et-ventes>
            </p-tabPanel>
            <p-tabPanel header="Gestions des paiements">
                <app-gestion-des-paiements></app-gestion-des-paiements>
            </p-tabPanel>
        </p-tabView>
    </div>
    <!-- End Vue Responsable agence immobilière -->

    <!-- Start Vue Agent Immobilier -->
    <div class="row" *ngIf="user.role.code == 'ROLE_AGENTIMMOBILIER'">
        <p-tabView [scrollable]="true">
            <p-tabPanel header="Agences immobilières">
                <app-gestion-des-agences-immobieres></app-gestion-des-agences-immobieres>
            </p-tabPanel>
            <p-tabPanel header="Biens immobiliers">
                <app-gestion-des-biens-immobiliers></app-gestion-des-biens-immobiliers>
            </p-tabPanel>
            <p-tabPanel header="Publications des biens">
                <app-gestion-des-publications></app-gestion-des-publications>
            </p-tabPanel>
            <p-tabPanel header="Locations et ventes">
                <app-gestion-des-locations-et-ventes></app-gestion-des-locations-et-ventes>
            </p-tabPanel>
            <p-tabPanel header="Gestions des paiements">
                <app-gestion-des-paiements></app-gestion-des-paiements>
            </p-tabPanel>
        </p-tabView>
    </div>
    <!-- End Vue Agent Immobilier -->

    <!-- Start Vue Gérant -->
    <div class="row" *ngIf="user.role.code == 'ROLE_GERANT'">
        <p-tabView>
            <p-tabPanel header="Biens immobiliers">
                <app-gestion-des-biens-immobiliers></app-gestion-des-biens-immobiliers>
            </p-tabPanel>
            <p-tabPanel header="Publications des biens">
                <app-gestion-des-publications></app-gestion-des-publications>
            </p-tabPanel>
            <p-tabPanel header="Locations et ventes">
                <app-gestion-des-locations-et-ventes></app-gestion-des-locations-et-ventes>
            </p-tabPanel>
            <p-tabPanel header="Gestions des paiements">
                <app-gestion-des-paiements></app-gestion-des-paiements>
            </p-tabPanel>
        </p-tabView>
    </div>
    <!-- End Vue Gérant -->

    <!-- Start Vue Demarcheur -->
    <div class="row" *ngIf="user.role.code == 'ROLE_DEMARCHEUR'">
        <p-tabView>
            <p-tabPanel header="Biens immobiliers">
                <app-gestion-des-biens-immobiliers></app-gestion-des-biens-immobiliers>
            </p-tabPanel>
            <p-tabPanel header="Publications des biens">
                <app-gestion-des-publications></app-gestion-des-publications>
            </p-tabPanel>
            <p-tabPanel header="Locations et ventes">
                <app-gestion-des-locations-et-ventes></app-gestion-des-locations-et-ventes>
            </p-tabPanel>
            <p-tabPanel header="Gestions des paiements">
                <app-gestion-des-paiements></app-gestion-des-paiements>
            </p-tabPanel>
        </p-tabView>
    </div>
    <!-- End Vue Demarcheur -->

    <!-- Start Vue Client -->
    <div class="row" *ngIf="user.role.code == 'ROLE_CLIENT'">
        <p-tabView>
            <p-tabPanel header="Locations et ventes">
                <app-gestion-des-locations-et-ventes></app-gestion-des-locations-et-ventes>
            </p-tabPanel>
            <p-tabPanel header="Gestions des paiements">
                <app-gestion-des-paiements></app-gestion-des-paiements>
            </p-tabPanel>
        </p-tabView>
    </div>
    <!-- End Vue Client -->
</div>
