<!-- Start Menu Tableau de bord -->
<div>
    <p class="fz15 fw400 ff-heading" style="margin-top: -8%;">TABLEAU DE BORD</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/demarcheur/dashboard']" routerLinkActive="-is-active">
        <i class="flaticon-home mr15"></i>Tableau de bord
    </a>
</div>
<!-- Start Menu Tableau de bord -->

<!-- Start Menu Gestion des comptes -->
<div>
    <p class="fz15 fw400 ff-heading mt30">GESTION DES COMPTES</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/demarcheur/demandes-certifications']" [ngClass]="{'-is-active': isActive(
    ['/demarcheur/demandes-certifications',
    '/demarcheur/demande-certification/:id'
  ])}">
        <i class="pi pi-verified mr15"></i>&nbsp;Certifications
    </a>
</div>

<!-- End Menu Gestion des comptes -->

<!-- Start Menu Gestion des biens immobiliers -->
<div>
    <p class="fz15 fw400 ff-heading mt30">BIENS IMMOBILIERS</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/demarcheur/biens-supports']" [ngClass]="{'-is-active': isActive(
      ['/demarcheur/biens-supports',
      '/demarcheur/bien-support/:id',
      '/demarcheur/add/bien-support',
      '/demarcheur/update/bien-support/:id/:designation',
      '/demarcheur/bien-support/:id/biens-associes',
      '/demarcheur/bien-support/:id/bien-associe/:idBienAssocie',
      '/demarcheur/bien-support/:id/add/bien-associe',
      '/demarcheur/bien-support/:id/update/bien-associe/:idBienAssocie/:designation',
      '/demarcheur/bien/contrats/:codeBien',
      '/demarcheur/bien/contrat-location/:id',
      '/demarcheur/bien/contrat-vente/:id',
      '/demarcheur/bien/contrats/planifications-paiements/:codeContrat',
      '/demarcheur/bien/contrats/planification-paiement/:id',
      '/demarcheur/bien/contrats/paiements/:codeContrat',
      '/demarcheur/bien/contrats/paiement/:id'
      ])}">
        <i class="fa-light fa-house-building mr15"></i>Biens immobiliers
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/demarcheur/delegations-gestions']" [ngClass]="{'-is-active': isActive(
      ['/demarcheur/delegations-gestions',
      '/demarcheur/delegation-gestion/:id',
      '/demarcheur/add/delegation-gestion',
      '/demarcheur/bien-delegue/update',
      '/demarcheur/bien-delegue/contrats/:codeBien',
      '/demarcheur/bien-delegue/contrat-location/:id',
      '/demarcheur/bien-delegue/contrat-vente/:id',
      '/demarcheur/bien-delegue/contrats/planifications-paiements/:codeContrat',
      '/demarcheur/bien-delegue/contrats/planification-paiement/:id',
      '/demarcheur/bien-delegue/contrats/paiements/:codeContrat',
      '/demarcheur/bien-delegue/contrats/paiement/:id',
      ])}">
        <i class="fa-light fa-handshake mr15"></i>Biens délégués
    </a>
</div>

<!-- End Menu Gestion des biens immobiliers -->

<!-- Start Menu Gestion de la publication des biens -->
<div>
    <p class="fz15 fw400 ff-heading mt30">PUBLICATION DES BIENS</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/demarcheur/publications']" [ngClass]="{'-is-active': isActive(
    ['/demarcheur/publications',
    '/demarcheur/update/publication/:id',
    '/demarcheur/publication/:id'
  ])}">
        <i class="fa-light fa-share-all mr15"></i>Publication des biens
    </a>
</div>

<!-- End Menu Gestion de la publication des biens -->

<!-- Start Menu Gestion des locations et ventes -->
<div>
    <p class="fz15 fw400 ff-heading mt30">LOCATIONS ET VENTES</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/demarcheur/demandes-visites']" [ngClass]="{'-is-active': isActive(
    ['/demarcheur/demandes-visites',
    '/demarcheur/demande-visite/:id'
  ])}">
        <i class="fa-light fa-calendars mr15"></i>&nbsp;Demandes de visites
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/demarcheur/demandes-locations']" [ngClass]="{'-is-active': isActive(
    ['/demarcheur/demandes-locations',
    '/demarcheur/demande-location/:id',
    '/demarcheur/demande-location/proposer-contrat/:id'
  ])}">
        <i class="fa-light fa-suitcase mr15"></i>&nbsp;Demandes de locations
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/demarcheur/demandes-achats']" [ngClass]="{'-is-active': isActive(
    ['/demarcheur/demandes-achats',
    '/demarcheur/demande-achat/:id',
    '/demarcheur/demande-achat/proposer-contrat/:id'
  ])}">
        <i class="fa-light fa-sack-dollar mr15"></i>&nbsp;Demandes d'achats
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/demarcheur/contrats']" [ngClass]="{'-is-active': isActive(
    ['/demarcheur/contrats',
    '/demarcheur/contrat-location/:id',
    '/demarcheur/contrat-vente/:id'
  ])}">
        <i class="fa-light fa-folders mr15"></i>Contrats
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/demarcheur/suivis-entretiens']" [ngClass]="{'-is-active': isActive(
    ['/demarcheur/suivis-entretiens',
    '/demarcheur/suivi-entretien/:id'
  ])}">
        <i class="fa-light fa-wrench mr15"></i>&nbsp;Suivi des entretiens
    </a>
</div>

<!-- End Menu Gestion des locations et ventes -->

<!-- Start Menu Gestion des paiements -->
<div>
    <p class="fz15 fw400 ff-heading mt30">GESTION DES PAIEMENTS</p>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/demarcheur/planifications-paiements']" [ngClass]="{'-is-active': isActive(
    ['/demarcheur/planifications-paiements',
    '/demarcheur/planification-paiement/:id',
    '/demarcheur/planification-paiement/effectuer-paiement/:id'
  ])}">
        <i class="fa-light fa-money-check-dollar-pen mr15"></i>Suivi des paiements
    </a>
</div>
<div class="sidebar_list_item">
    <a [routerLink]="['/demarcheur/paiements']" [ngClass]="{'-is-active': isActive(
    ['/demarcheur/paiements',
    '/demarcheur/paiement/:id'
  ])}">
        <i class="fa-light fa-credit-card-front mr15"></i>&nbsp;Paiements
    </a>
</div>

<!-- End Menu Gestion des paiements -->
<div class="sidebar_list_item">
    <a [routerLink]="['/demarcheur/parametres']" routerLinkActive="-is-active">
        <i class="fa-light fa-gear mr15"></i>&nbsp;Paramètres
    </a>
</div>